/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/detail.scss */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* line 19, ../sass/detail.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f0f0f0;
  line-height: 1.375;
}

/* line 31, ../sass/detail.scss */
body {
  margin: 0 auto;
  height: 100%;
  font-size: 0.14rem;
}

/* line 37, ../sass/detail.scss */
.hide {
  display: none !important;
}

/* line 41, ../sass/detail.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1876d8;
  z-index: 99999;
}

/* line 50, ../sass/detail.scss */
.loading-icon {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 101, ../sass/detail.scss */
.yue-dt-main > .se {
  margin-bottom: .15rem;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
}

.yue-dt-main > .se:nth-of-type(1){
  border-top: none;
}

/* line 113, ../sass/detail.scss */
.yue-dt-info-gallery {
  position: relative;
  padding-top: .05rem;
}
/* line 118, ../sass/detail.scss */
.yue-dt-info-gallery ul {
  overflow: hidden;
  height: 1rem;
  overflow: hidden;
}
/* line 124, ../sass/detail.scss */
.yue-dt-info-gallery li {
  float: left;
  width: 1rem;
  height: 1rem;
  margin-left: .05rem;
  border-radius: 5px;
  overflow: hidden;
}
/* line 132, ../sass/detail.scss */
.yue-dt-info-gallery li a {
  display: block;
}
/* line 135, ../sass/detail.scss */
.yue-dt-info-gallery li img {
  display: block;
  width: 100%;
}
/* line 141, ../sass/detail.scss */
.yue-dt-info-gallery span {
  position: absolute;
  right: .05rem;
  bottom: 0;
  padding: .04rem;
  border-bottom-right-radius: 5px;
  font-size: .12rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 153, ../sass/detail.scss */
.yue-dt-info-meta {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: .2rem 0 .18rem .15rem;
}
/* line 160, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell {
  display: table-cell;
  text-align: center;
  font-size: .12rem;
  color: #aaa;
}
/* line 166, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell:first-child {
  text-align: left;
  color: #666;
}
/* line 170, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell:first-child span:first-child {
  font-size: .16rem;
  color: #222;
}
/* line 174, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell:first-child img {
  margin-left: .05rem;
}
/* line 179, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell .yue-dt-info-icon-sex {
  width: .13rem;
  height: .13rem;
}
/* line 183, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell .yue-dt-info-icon-rz {
  width: 0.45rem;
}
/* line 186, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell .yue-dt-info-icon-person {
  width: .13rem;
  height: .13rem;
}
/* line 190, ../sass/detail.scss */
.yue-dt-info-meta .yue-dt-info-cell .yue-dt-info-icon-like {
  width: .13rem;
  height: .13rem;
}

/* line 197, ../sass/detail.scss */
.yue-dt-items {
  padding:0.15rem;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
/* line 199, ../sass/detail.scss */
.yue-dt-items li {
  width: 100%;
  margin: 0.05rem 0;
}
/* line 202, ../sass/detail.scss */
.yue-dt-items li p {
  font-size: .14rem;
  margin-left: 0.72rem;
  color: #222;
  line-height: 0.20rem;
}
/* line 208, ../sass/detail.scss */
.yue-dt-items li p:nth-child(1) {
  width: 0.72rem;
  float: left;
  margin-left: 0px;
  color: #666666;
}
/* line 214, ../sass/detail.scss */
.yue-dt-items li p:nth-child(2) {
  width: 14em;
  height:0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  *white-space: nowrap;
  overflow-y: hidden;
  overflow-x:hidden;
}
/* line 222, ../sass/detail.scss */
.yue-dt-items li:after {
  content: "";
  display: block;
  clear: both;
}

/* line 228, ../sass/detail.scss */
.yue-more {
  padding: 0.15rem 0;
  text-align: center;
}
/* line 232, ../sass/detail.scss */
.yue-more img {
  width: 0.2rem;
}

/* line 235, ../sass/detail.scss */
.yue-arrow-rotate1 {
  -webkit-transform: rotate(180deg);
  -webkit-transition: all 0.5s;
}

/* line 239, ../sass/detail.scss */
.yue-arrow-rotate2 {
  -webkit-transform: rotate(0deg);
  -webkit-transition: all 0.5s;
}

/* line 244, ../sass/detail.scss */
.yue-dt-table .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* line 249, ../sass/detail.scss */
.yue-dt-table .yue-dt-head {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  color: #aaaaaa;
}
/* line 253, ../sass/detail.scss */
.yue-dt-table .yue-dt-head div {
  float: left;
  padding: 0.15rem 0;
  width: 40%;
  margin: 0 5%;
  position:relative;
  top:1px;
}
/* line 260, ../sass/detail.scss */
.yue-dt-table .yue-dt-head .cur {
  color: #f28f4c;
  border-bottom: 2px solid #f28f4c;
}
/* line 265, ../sass/detail.scss */
.yue-dt-table .yue-list {
  margin-left: 0.15rem;
  padding: 0.25rem 0.15rem 0.25rem 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.12rem;
  color: #666;
}
/* line 271, ../sass/detail.scss */
.yue-dt-table .yue-list .yue-list-title {
  margin-bottom: 0.12rem;
}
/* line 273, ../sass/detail.scss */
.yue-dt-table .yue-list .yue-list-title img {
  margin-left:0.05rem;
  width:0.11rem;
}
/* line 277, ../sass/detail.scss */
.yue-dt-table .yue-list .yue-list-title span:nth-of-type(1) {
  font-size: 0.15rem;
  color: #222;
}
/* line 281, ../sass/detail.scss */
.yue-dt-table .yue-list .yue-list-title span:nth-of-type(2) {
  float: right;
}
/* line 287, ../sass/detail.scss */
.yue-dt-table .yue-list:last-child {
  border-bottom: none;
}
/* line 290, ../sass/detail.scss */
.yue-dt-table ul {
  display: table;
  width: 100%;
}
/* line 295, ../sass/detail.scss */
.yue-dt-table ul li {
  display: table-cell;
}
/* line 299, ../sass/detail.scss */
.yue-dt-table ul li:last-child span {
  border-right: none;
}
/* line 303, ../sass/detail.scss */
.yue-dt-table ul li span {
  display: block;
  line-height: .45rem;
  font-size: .14rem;
  text-align: center;
  color: #aaa;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
/* line 313, ../sass/detail.scss */
.yue-dt-table ul li span[data-value="1"] {
  color: #ff850d;
  background-color: #fff;
}
/* line 318, ../sass/detail.scss */
.yue-dt-table ul li span:first-child {
  color: #666;
}
/* line 325, ../sass/detail.scss */
.yue-dt-table p {
  line-height: .35rem;
  font-size: .12rem;
  text-align: right;
}
/* line 329, ../sass/detail.scss */
.yue-dt-table p span, .yue-dt-table p img {
  vertical-align: middle;
}
/* line 332, ../sass/detail.scss */
.yue-dt-table p span {
  margin-right: .15rem;
}
/* line 333, ../sass/detail.scss */
.yue-dt-table p img {
  width: .12rem;
  height: .12rem;
  margin-right: .05rem;
}

/* line 342, ../sass/detail.scss */
.yue-dt-cmt h2 {
  padding: 0 .15rem;
  line-height: .45rem;
  font-size: .14rem;
  color: #222;
}
/* line 348, ../sass/detail.scss */
.yue-dt-cmt .yue-dt-cmt-list {
  border-top: 1px solid #e6e6e6;
}
/* line 350, ../sass/detail.scss */
.yue-dt-cmt .yue-dt-cmt-list > li {
  margin-left: .15rem;
  padding: .15rem 0;
  border-bottom: 1px solid #e6e6e6;
}
/* line 357, ../sass/detail.scss */
.yue-dt-cmt .yue-dt-cmt-list .yue-dt-cmt-imglist {
  overflow: hidden;
  padding-top: .08rem;
}
/* line 360, ../sass/detail.scss */
.yue-dt-cmt .yue-dt-cmt-list .yue-dt-cmt-imglist li {
  float: left;
  width: .5rem;
  margin-right: .05rem;
  border-radius: 5px;
  overflow: hidden;
}
/* line 367, ../sass/detail.scss */
.yue-dt-cmt .yue-dt-cmt-list .yue-dt-cmt-imglist li img {
  width: 100%;
}

/* line 375, ../sass/detail.scss */
.yue-dt-cmt-info {
  position: relative;
}
/* line 378, ../sass/detail.scss */
.yue-dt-cmt-info .yue-dt-cmt-avatar {
  float: left;
  width: .4rem;
  height: .4rem;
  margin-right: .1rem;
  border-radius: 100%;
  overflow: hidden;
}
/* line 386, ../sass/detail.scss */
.yue-dt-cmt-info .yue-dt-cmt-avatar img {
  width: 100%;
}
/* line 390, ../sass/detail.scss */
.yue-dt-cmt-info p:nth-of-type(1) {
  font-size: .12rem;
  color: #666;
}
/* line 394, ../sass/detail.scss */
.yue-dt-cmt-info p:nth-of-type(2) {
  font-size: .12rem;
  color: #aaa;
}
/* line 399, ../sass/detail.scss */
.yue-dt-cmt-info .yue-dt-cmt-score {
  position: absolute;
  top: 0;
  right: .15rem;
  background-image: url("/static/appwebview/yue/detail/images/star_bg.png");
  background-size: .16rem .12rem;
  text-indent: -99em;
  height: .12rem;
  width: .8rem;
  line-height: 0;
  overflow: hidden;
}
/* line 411, ../sass/detail.scss */
.yue-dt-cmt-info .yue-dt-cmt-score .inner {
  height: 100%;
  background-image: url("/static/appwebview/yue/detail/images/star_score.png");
  background-size: .16rem .12rem;
}

/* line 419, ../sass/detail.scss */
.yue-dt-cmt-cnt {
  margin-top: .15rem;
}
/* line 422, ../sass/detail.scss */
.yue-dt-cmt-cnt p {
  font-size: .14rem;
  color: #222;
}

/* line 428, ../sass/detail.scss */
.yue-pop-sprite {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 435, ../sass/detail.scss */
.yue-pop-sprite .yue-pop-box {
  position: relative;
  top: 50%;
  width: 2.8rem;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}
/* line 449, ../sass/detail.scss */
.yue-pop-sprite .yue-pop-box .yue-pop-close {
  position: absolute;
  width: 0.32rem;
  right: -0.08rem;
  top: -0.1rem;
}
/* line 455, ../sass/detail.scss */
.yue-pop-sprite .yue-pop-box .yue-pop-title {
  text-align: center;
  padding: 0.2rem 0 0.02rem;
}
/* line 458, ../sass/detail.scss */
.yue-pop-sprite .yue-pop-box .yue-pop-title span {
  font-size: 0.16rem;
  border-bottom: 2px solid #aaaaaa;
}
/* line 463, ../sass/detail.scss */
.yue-pop-sprite .yue-pop-box .yue-check-list {
  font-size: 0.14rem;
  padding: 0.2rem 0.25rem 0.2rem;
  overflow-y:auto;
  max-height:3rem;
}
/* line 466, ../sass/detail.scss */
.yue-pop-sprite .yue-pop-box .yue-check-list li {
  margin: 0.02rem 0;
}
