@charset "UTF-8";
/* line 8, ../sass/mobile-qq.scss */
.header {
  height: 0 !important;
  border: none !important;
}
/* line 11, ../sass/mobile-qq.scss */
.header .left {
  display: none;
}
/* line 14, ../sass/mobile-qq.scss */
.header .center {
  display: none;
}
/* line 17, ../sass/mobile-qq.scss */
.header .right {
  display: none;
}
/* line 19, ../sass/mobile-qq.scss */
.header .right.mobile-qq.yue {
  display: block;
  color: #666;
  font-size: 0.12rem;
  z-index: 0;
  -moz-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}

/* line 30, ../sass/mobile-qq.scss */
.mobile-qq.recharge-password, .mobile-qq.recharge-inputPw {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
/* line 36, ../sass/mobile-qq.scss */
.mobile-qq.recharge-password .recharge-btnGroup p, .mobile-qq.recharge-inputPw .recharge-btnGroup p {
  line-height: 5.5;
}
/* line 39, ../sass/mobile-qq.scss */
.mobile-qq.recharge-password .recharge-btnGroup span, .mobile-qq.recharge-inputPw .recharge-btnGroup span {
  border-radius: 50%;
  border: 1px solid #aaa;
  top: 0.05rem;
  right: 0.05rem;
  width: 0.2rem;
  height: 0.2rem;
}

/* line 52, ../sass/mobile-qq.scss */
.mobile-qq-payok.btn-wrap2 {
  display: none;
}
/* line 55, ../sass/mobile-qq.scss */
.mobile-qq-payok.payok-download {
  display: none;
}
/* line 58, ../sass/mobile-qq.scss */
.mobile-qq-payok.payok-toIndex {
  display: none;
}

/* line 63, ../sass/mobile-qq.scss */
.mobile-qq-moneylog.scroll {
  top: 0.5rem;
}
/* line 66, ../sass/mobile-qq.scss */
.mobile-qq-moneylog.money {
  background-color: #e6e6e6;
  color: #666;
}

/* line 73, ../sass/mobile-qq.scss */
#coupon_waper .mobile-qq-coupon.header {
  margin-bottom: 0;
}
/* line 75, ../sass/mobile-qq.scss */
#coupon_waper .mobile-qq-coupon.header .left {
  display: none;
  color: #000;
}
/* line 78, ../sass/mobile-qq.scss */
#coupon_waper .mobile-qq-coupon.header .left .icon-back {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

/* line 87, ../sass/mobile-qq.scss */
.mobile-qq-coupon.header {
  margin-bottom: 40px;
}
/* line 90, ../sass/mobile-qq.scss */
.mobile-qq-coupon.right {
  display: block;
  padding-right: 1em;
}
/* line 93, ../sass/mobile-qq.scss */
.mobile-qq-coupon.right .pay-ok-right {
  color: #666;
  position: relative;
  font-size: 18px;
}
/* line 97, ../sass/mobile-qq.scss */
.mobile-qq-coupon.right .pay-ok-right:after {
  content: '>';
}

/* line 107, ../sass/mobile-qq.scss */
.mobile-qq-myorder.sr-content {
  top: 50px;
}

/* line 113, ../sass/mobile-qq.scss */
.mobile-qq-index.web2 {
  padding-bottom: 0.75rem;
}
/* line 116, ../sass/mobile-qq.scss */
.mobile-qq-index.web2:after, .mobile-qq-index.web2:before {
  display: block;
  content: '本服务由趣运动提供';
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  height: 0.35rem;
  width: 100%;
  font-size: 0.12rem;
  color: #666;
}
/* line 127, ../sass/mobile-qq.scss */
.mobile-qq-index.web2:before {
  bottom: 0rem;
  content: "客服电话：4000410480";
}
/* line 131, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-banner {
  display: none;
}
/* line 134, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header {
  background-color: #e6e6e6;
}
/* line 136, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headCity a {
  color: #222;
}
/* line 137, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-center {
  display: none;
}
/* line 140, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headSearch-l {
  display: none;
}
/* line 144, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headWrap .web2-headSearch {
  background-color: #fff;
  color: #aaa;
}
/* line 147, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headWrap .web2-headSearch input::-webkit-input-placeholder {
  color: #aaa;
}
/* line 150, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-c input {
  color: #000;
}
/* line 153, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-r {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  right: 0.2rem;
  top: 0rem;
  z-index: 999999;
  font-size: 0;
  border: none;
  opacity: 0.4;
}
/* line 163, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-r[style='color: rgb(255, 255, 255);'] {
  opacity: 1;
}
/* line 166, ../sass/mobile-qq.scss */
.mobile-qq-index.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-r:after {
  position: absolute;
  content: "";
  display: block;
  width: 0.23rem;
  height: 0.23rem;
  background: url("/themes/qq/images/icon-search.png") center center no-repeat;
  -moz-background-size: 1.2em auto;
  -o-background-size: 1.2em auto;
  -webkit-background-size: 1.2em auto;
  background-size: 1.2em auto;
  top: 50%;
  left: 50%;
  margin-right: -0.12rem;
  margin-top: -0.16rem;
  font-size: 10px;
}

/* line 187, ../sass/mobile-qq.scss */
.mobile-qq-search .web2-headCity {
  display: none;
}

/* line 193, ../sass/mobile-qq.scss */
.mobile-qq-court.header {
  height: 0.44rem !important;
  background-color: #e6e6e6;
}
/* line 196, ../sass/mobile-qq.scss */
.mobile-qq-court.header .center {
  display: block;
  padding-top: 0.1rem;
  color: #666;
}
/* line 200, ../sass/mobile-qq.scss */
.mobile-qq-court.header .center div {
  display: inline-block;
}
/* line 202, ../sass/mobile-qq.scss */
.mobile-qq-court.header .center div:nth-of-type(1) {
  color: #222;
  font-size: 0.12rem;
}
/* line 206, ../sass/mobile-qq.scss */
.mobile-qq-court.header .center div:nth-of-type(3) {
  position: static;
  margin-left: 0;
}

/* line 216, ../sass/mobile-qq.scss */
.mobile-qq-book.book-container {
  top: 0.46rem;
}
/* line 219, ../sass/mobile-qq.scss */
.mobile-qq-book.book-order {
  z-index: 99;
}

/* line 225, ../sass/mobile-qq.scss */
.mobile-qq-payok.payok-download {
  display: none;
}

/* line 231, ../sass/mobile-qq.scss */
.mobile-qq-comment.user-comment-container {
  top: 0;
}

/* line 237, ../sass/mobile-qq.scss */
.mobile-qq-quzone.qu-zone {
  display: none;
}

/* line 242, ../sass/mobile-qq.scss */
.mobile-qq-hide {
  display: none !important;
}

/* line 246, ../sass/mobile-qq.scss */
.mobile-qq-show {
  display: block !important;
}

/* line 249, ../sass/mobile-qq.scss */
.mobile-qq-show-inline {
  display: inline-block !important;
}

/* line 254, ../sass/mobile-qq.scss */
.mobile-qq-user-account.login-header #bind_wx {
  display: none !important;
}
/* line 257, ../sass/mobile-qq.scss */
.mobile-qq-user-account.login-header .loginPassword {
  display: none !important;
}
/* line 261, ../sass/mobile-qq.scss */
.mobile-qq-user-account.login-in {
  display: none !important;
}

/* line 265, ../sass/mobile-qq.scss */
.mobile-qq-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 273, ../sass/mobile-qq.scss */
.mobile-qq-menu ul {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  background-color: #fff;
  color: #222;
}
/* line 280, ../sass/mobile-qq.scss */
.mobile-qq-menu ul li {
  padding: 12px 0;
  border-bottom: 1px solid #e6e6e6;
}
/* line 283, ../sass/mobile-qq.scss */
.mobile-qq-menu ul li:last-of-type {
  border-bottom: none;
}
/* line 286, ../sass/mobile-qq.scss */
.mobile-qq-menu ul li a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
}
/* line 290, ../sass/mobile-qq.scss */
.mobile-qq-menu ul li a i {
  display: inline-block;
  vertical-align: sub;
  margin-right: 15px;
  width: 16px;
  height: 16px;
}
/* line 296, ../sass/mobile-qq.scss */
.mobile-qq-menu ul li a i img {
  width: 100%;
}

/* line 307, ../sass/mobile-qq.scss */
.nm-photo-album .title-bar .close {
  display: none !important;
}
/* line 310, ../sass/mobile-qq.scss */
.nm-photo-album .title-bar .title {
  display: none !important;
}
/* line 313, ../sass/mobile-qq.scss */
.nm-photo-album .title-bar .number {
  right: 50% !important;
  -moz-transform: translate(50%) !important;
  -ms-transform: translate(50%) !important;
  -webkit-transform: translate(50%) !important;
  transform: translate(50%) !important;
}
