/* line 31, ../../include/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 4, ../sass/3.0.scss */
.search-input {
  color: #9baabe;
  border: 1px solid #9baabe;
  padding: 10px 20px;
  border-radius: 20px;
  line-height: 1;
  font-size: 16px;
  background-color: transparent;
  margin-right: 20px;
  min-width: 250px;
  vertical-align: middle;
}

/* line 17, ../sass/3.0.scss */
.paddng-bottom-30 {
  padding-bottom: 30px;
}

/* line 21, ../sass/3.0.scss */
.border-bottom-1 {
  border-bottom: 1px solid #e5e9ef;
}

/* line 25, ../sass/3.0.scss */
.show-alert {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #222;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  z-index: 9999999;
}

/* line 37, ../sass/3.0.scss */
.dialogue-box {
  width: 440px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -220px;
  margin-top: -175px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 10000000;
}
/* line 38, ../sass/3.0.scss */
.dialogue-box .table {
  overflow: auto;
}
/* line 51, ../sass/3.0.scss */
.dialogue-box.sm {
  width: 400px;
  margin-left: -200px;
}
/* line 55, ../sass/3.0.scss */
.dialogue-box.large {
  width: 990px;
  margin-left: -495px;
}

/* line 61, ../sass/3.0.scss */
.dialogue-box-inner {
  position: relative;
  padding: 30px;
  color: #222;
}
/* line 65, ../sass/3.0.scss */
.dialogue-box-inner h2 {
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
}
/* line 70, ../sass/3.0.scss */
.dialogue-box-inner p {
  margin: 14px 0;
  font-size: 16px;
  line-height: 1.6;
}
/* line 75, ../sass/3.0.scss */
.dialogue-box-inner a {
  color: #0285db;
}
/* line 78, ../sass/3.0.scss */
.dialogue-box-inner label {
  width: 80px;
}
/* line 80, ../sass/3.0.scss */
.dialogue-box-inner label.pwd {
  display: block;
  width: auto;
}
/* line 85, ../sass/3.0.scss */
.dialogue-box-inner input[type]:not([readonly]) {
  width: 300px;
  height: 36px;
  border: 1px solid #e5e9ef;
  text-indent: 1em;
}
/* line 91, ../sass/3.0.scss */
.dialogue-box-inner .p-btn {
  text-align: center;
  margin-top: 50px;
}
/* line 95, ../sass/3.0.scss */
.dialogue-box-inner .table-btn {
  text-align: right;
  padding-right: 20px;
  margin: 0;
}
/* line 100, ../sass/3.0.scss */
.dialogue-box-inner h3 {
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
/* line 107, ../sass/3.0.scss */
.dialogue-box-inner input.pwd {
  display: inline-block;
  width: 260px;
  height: 36px;
  border: 1px solid #e5e9ef;
  text-indent: 1em;
  margin-right: 20px;
  vertical-align: top;
}
/* line 116, ../sass/3.0.scss */
.dialogue-box-inner a.add-fixed-count {
  margin: 0 40px;
}
/* line 120, ../sass/3.0.scss */
.dialogue-box-inner i.close {
  width: 15px;
  height: 15px;
  background: transparent url("/static/shangjia/images/closebtn.jpg") left top no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* line 130, ../sass/3.0.scss */
i.sort {
  display: inline-block;
  width: 10px;
  height: 9px;
  margin: 0 5px;
  cursor: pointer;
}
/* line 136, ../sass/3.0.scss */
i.sort.sort-up {
  background: transparent url("/static/images/sort-up.png") left top no-repeat;
}
/* line 137, ../sass/3.0.scss */
i.sort.sort-down {
  background: transparent url("/static/images/sort-down.png") left top no-repeat;
}

/* line 140, ../sass/3.0.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table {
  height: 400px;
  padding: 0;
}
/* line 143, ../sass/3.0.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table > div {
  height: 400px;
  overflow-y: scroll;
}
/* line 147, ../sass/3.0.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}
/* line 152, ../sass/3.0.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table tr {
  height: 60px;
}
/* line 154, ../sass/3.0.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table tr td {
  border-left: 0;
}
/* line 155, ../sass/3.0.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table tr td:last-child {
  border-right: 0;
}

/* line 164, ../sass/3.0.scss */
.daterangepicker.dropdown-menu {
  z-index: 20000001;
}

/* line 168, ../sass/3.0.scss */
.td-select {
  position: relative;
}
/* line 170, ../sass/3.0.scss */
.td-select .del {
  color: #0285db;
  cursor: pointer;
  margin-left: 3px;
}
/* line 175, ../sass/3.0.scss */
.td-select p[data-index='-1'] {
  background-color: #d4e7f9;
}
/* line 178, ../sass/3.0.scss */
.td-select.text-align-left {
  text-align: left;
}
/* line 181, ../sass/3.0.scss */
.td-select span.td-time-select {
  display: inline-block;
  padding: 0 7px;
  border: 1px solid #e5e9ef;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  min-width: 70px;
  max-width: 120px;
  margin: 0 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
}
/* line 197, ../sass/3.0.scss */
.td-select span.td-time-select.large {
  max-width: 120px;
}
/* line 201, ../sass/3.0.scss */
.td-select input[daterangepicker] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.01;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  width: 100%;
  height: 100%;
}
/* line 212, ../sass/3.0.scss */
.td-select .dangerous {
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  background: transparent url("/static/images/dangerous.png") left top no-repeat;
}
/* line 219, ../sass/3.0.scss */
.td-select .dangerous:hover .hover-tips {
  display: block;
}
/* line 222, ../sass/3.0.scss */
.td-select .dangerous .hover-tips {
  display: none;
  width: 190px;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  top: 35px;
  left: -70px;
  border: 1px solid #ffa42b;
  color: #ffa42b;
  background-color: #ffe683;
  border-radius: 3px;
  z-index: 999;
  line-height: 1.3;
}
/* line 236, ../sass/3.0.scss */
.td-select .dangerous .hover-tips .triangle {
  width: 14px;
  height: 10px;
  background: transparent url("/static/images/triangle.png") left top no-repeat;
  position: absolute;
  top: -9px;
  left: 73px;
}
/* line 244, ../sass/3.0.scss */
.td-select .dangerous .hover-tips ul {
  margin-top: 10px;
}
/* line 247, ../sass/3.0.scss */
.td-select .dangerous .hover-tips li {
  position: relative;
  margin-bottom: 5px;
}
/* line 251, ../sass/3.0.scss */
.td-select .dangerous .hover-tips .left {
  padding-right: 50px;
}
/* line 254, ../sass/3.0.scss */
.td-select .dangerous .hover-tips .right {
  width: 50px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 267, ../sass/3.0.scss */
.DIY-selecter {
  border: 1px solid #e5e9ef;
  border-radius: 3px;
  min-width: 70px;
  max-width: 120px;
  margin: 0 3px;
  text-align: left;
}
/* line 274, ../sass/3.0.scss */
.DIY-selecter span {
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  text-indent: 0;
}
/* line 284, ../sass/3.0.scss */
.DIY-selecter ul, .DIY-selecter li {
  border-color: #e5e9ef;
}
/* line 287, ../sass/3.0.scss */
.DIY-selecter .button {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.01;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
}

/* line 300, ../sass/3.0.scss */
.btn a, .btn a:hover, .btn a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 307, ../sass/3.0.scss */
#fixedCourtTbody > li {
  line-height: 60px;
  border-bottom: 1px solid #e5e9ef;
  text-align: left;
}
/* line 311, ../sass/3.0.scss */
#fixedCourtTbody > li[data-new-add] {
  background-color: #ecf4fc;
  background-color: #ecf4fc;
}
/* line 316, ../sass/3.0.scss */
#fixedCourtTbody .td-cat, #fixedCourtTbody .td-time, #fixedCourtTbody .td-main, #fixedCourtTbody .td-del {
  display: inline-block;
  border-right: 1px solid #e5e9ef;
  text-align: center;
}
/* line 321, ../sass/3.0.scss */
#fixedCourtTbody .td-cat {
  width: 110px;
}
/* line 322, ../sass/3.0.scss */
#fixedCourtTbody .td-time {
  width: 273px;
}
/* line 323, ../sass/3.0.scss */
#fixedCourtTbody .td-main {
  text-align: left;
  box-sizing: content-box;
  width: 453px;
}
/* line 323, ../sass/3.0.scss */
#fixedCourtTbody .td-main p {
  padding-left: 20px;
}
/* line 324, ../sass/3.0.scss */
#fixedCourtTbody .td-del {
  width: 70px;
  border-right: none;
}

/* line 327, ../sass/3.0.scss */
#memberEdit input[type] {
  width: 270px;
}
/* line 329, ../sass/3.0.scss */
#memberEdit input[type] + i.red {
  color: red;
  margin-left: 10px;
}

/* line 335, ../sass/3.0.scss */
.add-p {
  width: 20px;
  height: 20px;
  display: block;
  border: 1px solid #dcdcdc;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  color: #333;
  cursor: pointer;
}

/* line 347, ../sass/3.0.scss */
#fixedCountBox {
  top: 5%;
  margin-top: 0;
}
/* line 350, ../sass/3.0.scss */
#fixedCountBox h2 {
  margin-bottom: 15px;
  display: block;
}
/* line 354, ../sass/3.0.scss */
#fixedCountBox #fixedCountBoxInfo {
  display: inline-block;
}
/* line 357, ../sass/3.0.scss */
#fixedCountBox .table {
  margin-bottom: 0;
  margin-top: 10px;
}
/* line 361, ../sass/3.0.scss */
#fixedCountBox .dialogue-box-inner {
  padding-top: 15px;
  padding-bottom: 2px;
}
