html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 100px;
    overflow-x: hidden;
    overflow: auto;
    background-color: #f5f5f9;
    line-height: 1.375
}

body {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 750px;
    font-size: 0.24rem;
    text-align: center;
    background-color: #f5f5f9;
    font-size: 0.12rem;
    color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input {
    -webkit-box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

a,
input,
lable,
button,
div {
    -webkit-tap-highlight-color: transparent;
    outline: none
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #000
}

.hide {
    display: none !important
}

input::-ms-input-placeholder {
    color: #aaa
}

input::-webkit-input-placeholder {
    color: #aaa
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f9;
    z-index: 99999
}

.loading-icon {
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.3rem;
    margin-left: -0.3rem;
    background: url(/static/images/loading.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: rotate360 1s linear 0s infinite;
    -moz-animation: rotate360 1s linear 0s infinite;
    animation: rotate360 1s linear 0s infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 99
}

@-moz-keyframes rotate360 {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes rotate360 {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

@-webkit-keyframes rotate360 {
    from {
        -webkit-transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg)
    }
}

img {
    width: 100%
}

.toast {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999
}

.toast .toast-alert {
    width: 2.35rem;
    height: 1.3rem;
    padding: 0 0.2rem;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.65rem;
    margin-left: -1.175rem;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.toast .toast-alert .toast-msg {
    padding-top: 0.25rem;
    height: 0.9rem;
    line-height: 1.6;
    color: #fff;
    font-size: 0.15rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative
}

.main {
    position: relative;
    min-height: 100%
}

.borderBottom1px:after,
.borderTop1px:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    -moz-transform: translateY(0.5);
    -ms-transform: translateY(0.5);
    -webkit-transform: translateY(0.5);
    transform: translateY(0.5);
    background-color: #e6e6e6;
    z-index: 99
}

.borderRight1px:before,
.borderLeft1px:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    -moz-transform: translateX(0.5);
    -ms-transform: translateX(0.5);
    -webkit-transform: translateX(0.5);
    transform: translateX(0.5);
    background-color: #e6e6e6;
    z-index: 99
}

.borderBottom1px:after {
    left: 0;
    bottom: 0
}

.borderTop1px:before {
    left: 0;
    top: 0
}

.borderRight1px:before {
    right: 0;
    top: 0
}

.borderLeft1px:before {
    left: 0;
    top: 0
}

.icon-right {
    display: block;
    width: 0.06rem;
    height: 0.11rem;
    position: absolute;
    top: 50%;
    right: 0.15rem;
    margin-top: -0.055rem
}

.icon-right img {
    display: block;
    width: 100%
}

.header {
    width: 100%;
    height: 0.44rem;
    background-color: #009ff0;
    text-align: center;
    line-height: 0.44rem;
    position: relative
}

.header .center {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.5rem;
    position: relative;
    font-size: 0.18rem;
    color: #fff
}

.header .left,
.header .right {
    width: 0.5rem;
    height: 0.44rem;
    position: absolute;
    top: 0;
    z-index: 99;
    font-size: 0
}

.header .left {
    left: 0
}

.header .right {
    right: 0;
    font-size: 0.15rem;
    color: #fff
}

.header .icon-back {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.075rem;
    margin-top: -0.075rem;
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.nm-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7)
}

.nm-cover .nm-alert {
    width: 2.75rem;
    height: 1.3rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.65rem;
    margin-left: -1.375rem;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.nm-cover .nm-alert .msg {
    padding-top: 0.25rem;
    width: 2.75rem;
    height: 0.9rem;
    line-height: 1.6;
    color: #222;
    font-size: 0.15rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative
}

.nm-cover .nm-alert .l,
.nm-cover .nm-alert .r {
    width: 50%;
    height: 0.4rem;
    line-height: 0.4rem;
    display: block;
    float: left;
    color: #666;
    font-size: 0.14rem;
    position: relative;
    background-color: #f9f9f9
}

.nm-cover .nm-alert .l {
    border-bottom-left-radius: 6px
}

.nm-cover .nm-alert .r {
    border-bottom-right-radius: 6px
}

.header .right {
    font-size: 0.15rem;
    color: #fff;
    width: 4em;
    margin-right: 0.15rem
}

.login-header {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 0.15rem;
    margin-top: 0.15rem;
    background: #fff
}

.login-header li {
    line-height: 3.57;
    color: #666;
    font-size: 0.14rem;
    border-top: 1px solid #e6e6e6
}

.login-header li:nth-of-type(1) {
    border-top: none
}

.login-header li div:nth-of-type(1) {
    float: left;
    margin-right: 0.1rem;
    display: none;
}

.login-header li div:nth-of-type(2) {
    overflow: hidden;
    margin-right: 0.15rem
}

.login-header li div:nth-of-type(2) input {
    width: 100%;
    height: 100%;
    font-size: 0.14rem;
    /*text-align: right;*/
    color: #222
}

.login-header li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

.login-in {
    margin: 0.5rem 0.3rem 0
}

.login-in li {
    position: relative;
    color: #fff;
    font-size: 0.15rem;
    line-height: 2.6666;
    margin-bottom: 0.25rem
}

.login-in li:nth-of-type(1) {
    background: #009ff0
}

.login-in li:nth-of-type(2) {
    background: #43c84c
}

.login-in li:nth-of-type(2) img {
    width: 0.21rem;
    margin-right: 0.1rem;
    vertical-align: middle
}

.login-in li div {
    position: relative;
    z-index: 10
}

.login-in .active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3)
}

.login-in .disable:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: #aaa
}

.login-in li,
.login-in .active:before,
.login-in .disable:before {
    border-radius: 0.05rem
}

.login-tip {
    color: #009ff0;
    font-size: 0.15rem;
    text-align: left;
    margin: 0 0.3rem
}

.login-tip span:nth-of-type(2) {
    float: right
}
