<section ng-include="'/templates/wx/calendar.html'" class="calendar" ng-controller="calendarCtrl" ng-swipe-left="nextDate()" ng-swipe-right="prevDate()"></section>
<div id="member" ng-if="hasDate">
	<div class="doughnut">
		<h4 class="t">
			<span class="pl"><i>●</i>充值</span>
			<span class="pm"><i>●</i>消费</span>
			<span class="pr"><i>●</i>累计余额</span>
		</h4>
		<div class="canvas">
			<canvas class="js-canvas"></canvas>
			<div class="box" ng-show="canvasComplete">
				<div class="person">
					<h4>会员累计（人） </h4>
					<p>{{member.qty}}</p>
				</div>
				<div class="money">
					<h4>累计余额（元）</h4>
					<p>{{member.balance}}</p>
				</div>
			</div>
		</div>
	</div>
	<ul class="list">
		<li>充值&nbsp;/&nbsp;<em class="color-1">{{member.recharge}}元</em></li>
		<li>消费&nbsp;/&nbsp;<em class="color-2">{{member.consume}}元</em></li>
	</ul>
</div>
<div ng-include="'/templates/wx/nodata.html'" class="nodate" ng-if="!hasDate" ng-style="nodateStyle"></div>