html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.sport .header {
  padding-top: 30px;
}
.sport .header .logo {
  float: left;
  padding-left: 14px;
}
.sport .header .logo a {
  display: block;
  background: url(../images/logo.png) left top no-repeat;
  width: 133px;
  height: 44px;
}
.sport .header .nav {
  padding-top: 20px;
  float: right;
}
.sport .header .nav a {
  font-family: 'microsoft yahei';
  font-size: 14px;
  color: #7b7b7b;
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
}
.sport .header .nav a.cur, .sport .header .nav a:hover {
  color: #0ac3ec;
}
.sport .header .nav a + a {
  border-left: 1px dotted #7b7b7b;
}
.sport .footer {
  padding: 50px 0 50px;
  font-size: 12px;
  text-align: center;
  color: #9a9a9a;
  font-family: 'microsoft yahei';
  clear: both;
}
.sport .footer p {
  margin-bottom: 5px;
}
.sport .footer .copyright {
  font-size: 16px;
}

.sport .index {
  background: url(../images/bg.png) left 270px no-repeat;
}
.sport .index .col1, .sport .index .col2 {
  float: left;
}
.sport .index .title1 {
  color: #fff;
  font-size: 48px;
  font-family: 'SimHei';
  border-bottom: 2px solid #fff;
  display: inline-block;
}
.sport .index .cont1 {
  color: #b0f1ff;
  font-size: 24px;
  font-family: 'microsoft yahei';
  margin-top: 14px;
}
.sport .index .title2 {
  color: #0ac3ec;
  font-size: 48px;
  font-family: 'SimHei';
  border-bottom: 2px solid #0ac3ec;
  display: inline-block;
}
.sport .index .cont2 {
  color: #6f6f6f;
  font-size: 24px;
  font-family: 'microsoft yahei';
  margin-top: 14px;
}
.sport .index .row {
  display: block;
  clear: both;
}
.sport .index .row1 {
  padding-top: 53px;
  *padding-top: 23px;
}
.sport .index .row1 .col1 {
  padding: 0 105px 0 167px;
}
.sport .index .row1 .col2 {
  padding-top: 80px;
}
.sport .index .row1 .text1 {
  margin-bottom: 28px;
}
.sport .index .row1 .code, .sport .index .row1 .btns {
  float: left;
}
.sport .index .row1 .code {
  margin-right: 63px;
  text-align: center;
}
.sport .index .row1 .code p {
  color: #0ac3ec;
  font-size: 16px;
  font-family: 'microsoft yahei';
  width: 122px;
}
.sport .index .row1 .btns a {
  width: 167px;
  height: 53px;
  display: block;
}
.sport .index .row1 .iphone {
  margin-bottom: 28px;
}
.sport .index .row2 {
  padding-top: 170px;
  *padding-top: 80px;
}
.sport .index .row2 .col1 {
  padding: 80px 77px 0 85px;
}
.sport .index .row3 .col1 {
  padding: 0 117px 0 54px;
}
.sport .index .row3 .col2 {
  padding-top: 206px;
}
.sport .index .row4 {
  padding-top: 84px;
}
.sport .index .row4 .col1 {
  padding: 112px 134px 0 70px;
}
.sport .index .row5 {
  padding-top: 39px;
  *padding-top: 10px;
}
.sport .index .row5 .col1 {
  padding: 0 234px 0 27px;
}
.sport .index .row5 .col2 {
  padding-top: 175px;
}
.sport .index .footer-index {
  clear: both;
  padding: 120px 0 8px;
  font-size: 12px;
  text-align: center;
  color: #e6faff;
  background: #0ac3ec;
  font-family: 'microsoft yahei';
}
.sport .index .footer-index p {
  margin-bottom: 5px;
}
.sport .index .footer-index .copyright {
  font-size: 16px;
}

.sport .contact {
  margin-top: 66px;
}
.sport .contact .col1, .sport .contact .col2 {
  float: left;
}
.sport .contact .col1 {
  margin-right: 22px;
}
.sport .contact .col1 img {
  border: 1px solid #aeaeae;
}
.sport .contact .col2 {
  color: #7b7b7b;
  font-family: 'microsoft yahei';
  margin-top: 31px;
}
.sport .contact .col2 .title {
  padding-bottom: 5px;
  margin-bottom: 28px;
  border-bottom: 1px solid #7b7b7b;
}
.sport .contact .col2 .cont {
  padding-bottom: 23px;
}

.sport .join-us {
  color: #9f9f9f;
  line-height: 24px;
  font-family: 'microsoft yahei';
}
.sport .join-us .col1, .sport .join-us .col2 {
  width: 390px;
  float: left;
}
.sport .join-us .col1 {
  padding-left: 20px;
  margin-right: 180px;
}
.sport .join-us .row1 {
  text-align: center;
  margin-top: 36px;
  width: 100%;
}
.sport .join-us .resume {
  color: #7b7b7b;
  margin-top: 18px;
}
.sport .join-us .email {
  color: #3ecff0;
}
.sport .join-us .row2 {
  margin-top: 66px;
}
.sport .join-us h1 {
  color: #0ac3ec;
  font-size: 24px;
  margin-bottom: 16px;
}
.sport .join-us h2 {
  color: #7b7b7b;
  margin: 6px 0;
}
.sport .join-us .job {
  margin-bottom: 50px;
}
.sport .join-us .job p {
  margin-bottom: 18px;
  line-height: 28px;
}

body {
  background: #fff;
}

.sport {
  width: 1000px;
  margin: 0 auto;
}

.clearfix:after {
  clear: both;
  display: table;
  content: '';
}
