/* line 10, ../sass/decathlon.scss */
.user-main .face.decathlon {
  height: auto;
}
/* line 12, ../sass/decathlon.scss */
.user-main .face.decathlon .info {
  display: none;
}

/* line 19, ../sass/decathlon.scss */
.login-tip.decathlon {
  display: none;
}

/* line 24, ../sass/decathlon.scss */
.decathlon.decathlon-info-msg {
  display: block !important;
  padding: 0.1rem 0.3rem 0.5rem;
  text-align: left;
  color: #999;
}

/* line 30, ../sass/decathlon.scss */
.decathlon.decathlon-info {
  padding: 0 0.3rem;
  text-align: left;
  padding-left: 0.6rem;
  position: relative;
  background: transparent;
  border: none;
  margin-top: 0;
}
/* line 38, ../sass/decathlon.scss */
.decathlon.decathlon-info i {
  display: inline-block;
  width: 0.14rem;
  height: 0.14rem;
  border: 1px solid #222;
  border-radius: 3px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0.3rem;
}
/* line 49, ../sass/decathlon.scss */
.decathlon.decathlon-info input {
  display: inline-block;
  display: none;
}
/* line 53, ../sass/decathlon.scss */
.decathlon.decathlon-info input[type='checkbox']:checked + i {
  border-color: #5b73f2;
}
/* line 55, ../sass/decathlon.scss */
.decathlon.decathlon-info input[type='checkbox']:checked + i:before {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 0;
  color: #5b73f2;
}

/* line 65, ../sass/decathlon.scss */
.user-shop {
  display: block;
  position: relative;
  margin-top: .15rem;
  margin-bottom: .15rem;
  background-color: #fff;
}
/* line 71, ../sass/decathlon.scss */
.user-shop a {
  display: block;
}
/* line 73, ../sass/decathlon.scss */
.user-shop a img {
  width: 100%;
}
/* line 77, ../sass/decathlon.scss */
.user-shop .user-shop-decathlon {
  display: block;
  width: 3.25rem;
  margin-left: auto;
  padding-right: .15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: .5rem;
  font-size: .15rem;
  color: #222;
  text-align: left;
  position: relative;
}
