@charset "UTF-8";
/* line 5, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../sass-lib/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f5f5f9;
  line-height: 1.375;
}

/* line 17, ../../../sass-lib/reset.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f5f5f9;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../../../sass-lib/reset.scss */
input {
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 39, ../../../sass-lib/reset.scss */
a,
input,
lable,
button,
div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 48, ../../../sass-lib/reset.scss */
a,
a:hover,
a:visited {
  text-decoration: none;
}

/* line 54, ../../../sass-lib/reset.scss */
.hide {
  display: none !important;
}

/* line 57, ../../../sass-lib/reset.scss */
.show-block {
  display: block !important;
}

/* line 60, ../../../sass-lib/reset.scss */
input::-ms-input-placeholder {
  color: #aaa;
}

/* line 64, ../../../sass-lib/reset.scss */
input::-webkit-input-placeholder {
  color: #aaa;
}

/* line 68, ../../../sass-lib/reset.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f9;
  z-index: 99999;
}

/* line 77, ../../../sass-lib/reset.scss */
.loading-icon {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 126, ../../../sass-lib/reset.scss */
img {
  width: 100%;
}

/* line 151, ../../../sass-lib/reset.scss */
.main {
  position: relative;
  min-height: 100%;
}

/* line 4, ../../../sass-lib/_common.scss */
.borderBottom1px:after, .borderTop1px:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  -moz-transform: translateY(0.5);
  -ms-transform: translateY(0.5);
  -webkit-transform: translateY(0.5);
  transform: translateY(0.5);
  background-color: #ddd;
  z-index: 99;
}

/* line 15, ../../../sass-lib/_common.scss */
.borderRight1px:before, .borderLeft1px:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  -moz-transform: translateX(0.5);
  -ms-transform: translateX(0.5);
  -webkit-transform: translateX(0.5);
  transform: translateX(0.5);
  background-color: #ddd;
  z-index: 99;
}

/* line 57, ../../../sass-lib/_common.scss */
.borderBottom1px:after {
  left: 0;
  bottom: 0;
}

/* line 65, ../../../sass-lib/_common.scss */
.borderTop1px:before {
  left: 0;
  top: 0;
}

/* line 73, ../../../sass-lib/_common.scss */
.borderRight1px:before {
  right: 0;
  top: 0;
}

/* line 81, ../../../sass-lib/_common.scss */
.borderLeft1px:before {
  left: 0;
  top: 0;
}

/* line 88, ../../../sass-lib/_common.scss */
.icon-right {
  display: block;
  width: 0.06rem;
  height: 0.11rem;
  position: absolute;
  top: 50%;
  right: 0.15rem;
  margin-top: -0.055rem;
}
/* line 96, ../../../sass-lib/_common.scss */
.icon-right img {
  display: block;
  width: 100%;
}

/* line 102, ../../../sass-lib/_common.scss */
.koubei-button-white {
  display: block;
  width: 3.45rem;
  height: 0.42rem;
  line-height: 0.42rem;
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-size: 0.17rem;
  border-radius: 0.05rem;
}
/* line 113, ../../../sass-lib/_common.scss */
.koubei-button-white:active {
  background-color: #ddd;
}

/* line 129, ../../../sass-lib/_common.scss */
.common-btn {
  line-height: 0.42rem;
  font-size: 0.18rem;
  color: #fff;
  text-align: center;
  border-radius: 0.05rem;
  background-color: #fb6165;
  margin: 0 0.15rem;
}
/* line 137, ../../../sass-lib/_common.scss */
.common-btn.disable {
  color: rgba(255, 255, 255, 0.5);
}
/* line 140, ../../../sass-lib/_common.scss */
.common-btn:active:not(.disable) {
  background-color: #d95559;
}

/* line 145, ../../../sass-lib/_common.scss */
.common-quyundongtips {
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  font-size: 0.12rem;
  color: #888;
  text-align: center;
}

/* line 153, ../../../sass-lib/_common.scss */
.common-quyundongtipsSpace {
  height: 0.5rem;
}

/* line 157, ../../../sass-lib/_common.scss */
.toast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* line 166, ../../../sass-lib/_common.scss */
.toast .toast-alert {
  width: 2.35rem;
  height: 1.3rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.175rem;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 182, ../../../sass-lib/_common.scss */
.toast .toast-alert .toast-msg {
  padding-top: 0.25rem;
  height: 0.9rem;
  line-height: 1.6;
  color: #fff;
  font-size: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

/* line 196, ../../../sass-lib/_common.scss */
.common-toast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 203, ../../../sass-lib/_common.scss */
.common-toast .common-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.7rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 0.17rem;
  border-radius: 0.05rem;
  overflow: hidden;
}
/* line 214, ../../../sass-lib/_common.scss */
.common-toast .common-alert .common-msg {
  color: #000;
  padding: 0.3rem 0.15rem;
}
/* line 218, ../../../sass-lib/_common.scss */
.common-toast .common-alert .common-sure {
  color: #00aaee;
  line-height: 0.45rem;
  border-top: 1px solid #ddd;
}
/* line 222, ../../../sass-lib/_common.scss */
.common-toast .common-alert .common-sure:active {
  background-color: #dddddd;
}

/* line 229, ../../../sass-lib/_common.scss */
.person-index-bar a.person-index-bar-select {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 6, ../sass/index.scss */
.person-index-bar {
  width: 100%;
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0;
  position: relative;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
/* line 15, ../sass/index.scss */
.person-index-bar a.person-index-bar-select {
  font-size: 0.15rem;
  color: #000;
  display: inline-block;
  position: relative;
  text-align: center;
}
/* line 22, ../sass/index.scss */
.person-index-bar a.person-index-bar-select.cur:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb6165;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 32, ../sass/index.scss */
.person-index-bar .person-index-bar-arr {
  width: 0.6rem;
  height: 0.45rem;
  line-height: 0.45rem;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 43, ../sass/index.scss */
.person-index-bar .person-index-bar-arr.l {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 46, ../sass/index.scss */
.person-index-bar .person-index-bar-arr:active i {
  background: transparent url("/themes/koubei/person/index/images/arr_right_active.png") 0 0/cover no-repeat;
}
/* line 49, ../sass/index.scss */
.person-index-bar .person-index-bar-arr i {
  width: 0.19rem;
  height: 0.19rem;
  border-top: 0.12rem solid transparent;
  display: inline-block;
  background: transparent url("/themes/koubei/person/index/images/arr_right.png") 0 0/cover no-repeat;
}

/* line 59, ../sass/index.scss */
.person-index-ticket {
  width: 3.45rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.15rem auto;
  padding: 0.15rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-height: 0.9rem;
  background-color: #fff;
  -moz-background-size: 1.23rem 0.77rem;
  -o-background-size: 1.23rem 0.77rem;
  -webkit-background-size: 1.23rem 0.77rem;
  background-size: 1.23rem 0.77rem;
  position: relative;
}
/* line 71, ../sass/index.scss */
.person-index-ticket a.pay {
  display: inline-block;
  font-size: 0.13rem;
  padding: 0.05rem 0.1rem;
  position: absolute;
  color: #fb6165;
  border: 1px solid #fb6165;
  background-color: #fff;
  bottom: 0.15rem;
  right: 0.15rem;
  border-radius: 3px;
}
/* line 82, ../sass/index.scss */
.person-index-ticket a.pay:active:not([disabled]) {
  color: #fb6165;
  background-color: rgba(251, 101, 101, 0.5);
}
/* line 86, ../sass/index.scss */
.person-index-ticket a.pay[disabled] {
  border: 1px solid #ddd;
  color: #888;
}
/* line 90, ../sass/index.scss */
.person-index-ticket a.pay[disabled]:after, .person-index-ticket a.pay[disabled]:before {
  content: 'ã€€';
}
/* line 95, ../sass/index.scss */
.person-index-ticket .person-index-ticket-title {
  font-size: 0.17rem;
  color: #000;
  padding-bottom: 0.15rem;
  text-align: left;
  position: relative;
}
/* line 102, ../sass/index.scss */
.person-index-ticket .person-index-ticket-info {
  font-size: 0.12rem;
  color: #888;
  text-align: left;
  margin-bottom: 0.1rem;
}
/* line 108, ../sass/index.scss */
.person-index-ticket .person-index-ticket-title-price {
  font-size: 0.17rem;
  color: #fb6165;
  text-align: left;
}
