/* line 5, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/courtJoinOrderDetail.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f5f5f9;
  line-height: 1.375;
}

/* line 17, ../sass/courtJoinOrderDetail.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f5f5f9;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/courtJoinOrderDetail.scss */
input {
  -webkit-box-sizing: border-box;
}

/* line 33, ../sass/courtJoinOrderDetail.scss */
a, input, lable, button, div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 36, ../sass/courtJoinOrderDetail.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 40, ../sass/courtJoinOrderDetail.scss */
.hide {
  display: none !important;
}

/* line 44, ../sass/courtJoinOrderDetail.scss */
input::-ms-input-placeholder {
  text-align: center;
  color: #a9a9a9;
}

/* line 49, ../sass/courtJoinOrderDetail.scss */
input::-webkit-input-placeholder {
  text-align: center;
  color: #a9a9a9;
}

/* line 54, ../sass/courtJoinOrderDetail.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
}

/* line 63, ../sass/courtJoinOrderDetail.scss */
.loading-icon {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 112, ../sass/courtJoinOrderDetail.scss */
img {
  width: 100%;
}

/* line 134, ../sass/courtJoinOrderDetail.scss */
.toast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* line 143, ../sass/courtJoinOrderDetail.scss */
.toast .toast-alert {
  width: 2.35rem;
  height: 1.3rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.175rem;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 159, ../sass/courtJoinOrderDetail.scss */
.toast .toast-alert .toast-msg {
  padding-top: 0.25rem;
  height: 0.9rem;
  line-height: 1.6;
  color: #fff;
  font-size: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

/* line 173, ../sass/courtJoinOrderDetail.scss */
.main {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* line 179, ../sass/courtJoinOrderDetail.scss */
.header {
  width: 100%;
  height: 0.44rem;
  background-color: #009ff0;
  text-align: center;
  line-height: 0.44rem;
  position: relative;
}
/* line 186, ../sass/courtJoinOrderDetail.scss */
.header .icon-back {
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.075rem;
  margin-top: -0.075rem;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 199, ../sass/courtJoinOrderDetail.scss */
.header .center {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5rem;
  position: relative;
  font-size: 0.18rem;
  color: #fff;
}
/* line 207, ../sass/courtJoinOrderDetail.scss */
.header .left, .header .right {
  height: 0.44rem;
  position: absolute;
  top: 0;
  z-index: 99;
  font-size: 0;
}
/* line 214, ../sass/courtJoinOrderDetail.scss */
.header .left {
  left: 0;
  width: 0.5rem;
}
/* line 218, ../sass/courtJoinOrderDetail.scss */
.header .right {
  right: 0.15rem;
  font-size: 0.15rem;
}

/* line 225, ../sass/courtJoinOrderDetail.scss */
.cj-od-body [icon] {
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  background: transparent center center / cover no-repeat;
  position: relative;
}
/* line 232, ../sass/courtJoinOrderDetail.scss */
.cj-od-body .icon-msg {
  background-image: url("/static/appwebview/courtjoin/courtJoinOrderDetail/images/contact.png");
}
/* line 233, ../sass/courtJoinOrderDetail.scss */
.cj-od-body .icon-phone {
  background-image: url("/static/appwebview/courtjoin/courtJoinOrderDetail/images/phone.png");
}
/* line 234, ../sass/courtJoinOrderDetail.scss */
.cj-od-body .icon-info {
  background-image: url("/static/appwebview/courtjoin/courtJoinOrderDetail/images/info.png");
}

/* line 236, ../sass/courtJoinOrderDetail.scss */
.cj-od-h1 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.12rem;
  padding: 0.25rem;
  padding-top: 0.2rem;
  padding-bottom: 0.075rem;
  color: #666;
  text-align: left;
}
/* line 245, ../sass/courtJoinOrderDetail.scss */
.cj-od-h1 .left, .cj-od-h1 .right {
  display: inline-block;
}
/* line 248, ../sass/courtJoinOrderDetail.scss */
.cj-od-h1 .right {
  float: right;
  color: #222;
}

/* line 253, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg {
  background-color: #fff;
  color: #222;
  font-size: 0.14rem;
  line-height: 2;
}
/* line 258, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.135rem 0.25rem;
  text-align: left;
  position: relative;
}
/* line 264, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .icon-info {
  margin-left: 0.08rem;
  vertical-align: text-top;
}
/* line 268, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .sp {
  color: #666;
}
/* line 271, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .vh {
  visibility: hidden;
}
/* line 274, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .left, .cj-od-msg li .right {
  display: inline-block;
}
/* line 277, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .right {
  float: right;
}
/* line 280, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f5f5f9;
  z-index: 99;
  left: 0;
  bottom: 0;
}
/* line 291, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info {
  width: 100%;
  height: 0.5rem;
  position: relative;
  overflow: hidden;
}
/* line 296, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .avatar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: transparent  0 0 / cover no-repeat;
}
/* line 303, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .name {
  width: 100%;
  padding-left: 0.65rem;
  padding-top: 0.03rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 311, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .name:after {
  content: "";
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  background-color: yellow;
  margin-left: 0.08rem;
  vertical-align: text-top;
  background: transparent center center / cover no-repeat;
}
/* line 321, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .name[male]:after {
  background-image: url("/static/appwebview/courtjoin/courtJoinOrderDetail/images/male.png");
}
/* line 324, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .name[female]:after {
  background-image: url("/static/appwebview/courtjoin/courtJoinOrderDetail/images/female.png");
}
/* line 329, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .icons {
  width: 100%;
  padding-left: 0.65rem;
  padding-top: 0.03rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0.25rem;
  left: 0;
}
/* line 337, ../sass/courtJoinOrderDetail.scss */
.cj-od-msg li .person-info .icons [icon]:not(:first-child) {
  margin-left: 0.08rem;
}

/* line 345, ../sass/courtJoinOrderDetail.scss */
.mt150 {
  margin-top: 0.75rem;
}

/* line 349, ../sass/courtJoinOrderDetail.scss */
.cj-od-tips {
  font-size: 0.12rem;
  color: #aaa;
  margin-bottom: 0.1rem;
}

/* line 355, ../sass/courtJoinOrderDetail.scss */
a.cj-od-buttom {
  width: 3.15rem;
  height: 0.4rem;
  line-height: 0.4rem;
  color: #5b73f2;
  margin: 0.1rem auto;
  display: block;
  border: 1px solid #5b73f2;
  border-radius: 0.21rem;
}

/* line 366, ../sass/courtJoinOrderDetail.scss */
.icon-msg:after, .icon-phone:after, .icon-info:after {
  content: "";
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  background-color: transparent;
}

/* line 377, ../sass/courtJoinOrderDetail.scss */
.nm-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 385, ../sass/courtJoinOrderDetail.scss */
.nm-cover .nm-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.4rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  color: #222;
  font-size: 0.15rem;
  border-radius: 0.03rem;
}
/* line 396, ../sass/courtJoinOrderDetail.scss */
.nm-cover .nm-alert .msg {
  padding: 0.1rem 0.2rem;
  border-bottom: 1px solid #eee;
  text-align: left;
}
/* line 402, ../sass/courtJoinOrderDetail.scss */
.nm-cover .nm-alert .opeator div {
  float: left;
  width: 50%;
  padding: 0.1rem 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 407, ../sass/courtJoinOrderDetail.scss */
.nm-cover .nm-alert .opeator div:nth-of-type(1) {
  border-right: 1px solid #eee;
}

/* line 414, ../sass/courtJoinOrderDetail.scss */
.cj-od-info-show {
  width: 2.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  padding: 0 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}
/* line 425, ../sass/courtJoinOrderDetail.scss */
.cj-od-info-show li {
  line-height: 0.45rem;
  position: relative;
  padding: 0 0.1rem;
  font-size: 0.14rem;
  color: #222;
}
/* line 431, ../sass/courtJoinOrderDetail.scss */
.cj-od-info-show li .color-blue {
  color: #5b73f2;
}
/* line 434, ../sass/courtJoinOrderDetail.scss */
.cj-od-info-show li .left, .cj-od-info-show li .right {
  display: inline-block;
}
/* line 437, ../sass/courtJoinOrderDetail.scss */
.cj-od-info-show li .right {
  float: right;
}
/* line 440, ../sass/courtJoinOrderDetail.scss */
.cj-od-info-show li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f5f5f9;
  z-index: 99;
  left: 0;
  bottom: 0;
}
