/* line 32, ../../include/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 3, ../sass/3.1.scss */
.daterangepicker.dropdown-menu {
  z-index: 20000001;
}

/* line 6, ../sass/3.1.scss */
#page-wrapper.sj-content {
  padding: 0;
}

/* line 9, ../sass/3.1.scss */
.goodlist-top-nav {
  width: 100%;
  min-width: 960px;
  line-height: 36px;
  position: relative;
  top: 0;
  left: 0;
}
/* line 17, ../sass/3.1.scss */
.goodlist-top-nav .inner {
  display: flex;
  display: -ms-flexbox;
  padding-right: 20px;
}
/* line 21, ../sass/3.1.scss */
.goodlist-top-nav .inner.top {
  line-height: 36px;
  background-color: #e5e9ef;
}
/* line 23, ../sass/3.1.scss */
.goodlist-top-nav .input-module {
  display: inline-block;
  padding-left: 15px;
  margin-right: 20px;
  position: relative;
  color: #222;
}
/* line 29, ../sass/3.1.scss */
.goodlist-top-nav .input-module label + input, .goodlist-top-nav .input-module label + select {
  margin-left: 10px;
  vertical-align: baseline;
}
/* line 34, ../sass/3.1.scss */
.goodlist-top-nav .input-module i.icon {
  display: block;
  width: 14px;
  height: 14px;
  font-size: 0;
  position: absolute;
  top: 8px;
  left: -6px;
}
/* line 42, ../sass/3.1.scss */
.goodlist-top-nav .input-module i.icon img {
  width: 100%;
}
/* line 46, ../sass/3.1.scss */
.goodlist-top-nav .input-module.margin0 {
  margin: 0;
}
/* line 47, ../sass/3.1.scss */
.goodlist-top-nav .input-module .btn {
  display: inline-block;
  border: 1px solid #222;
  font-size: 12px;
  padding: 0px 8px;
  padding-top: 1px;
  margin-left: 10px;
  vertical-align: sub;
}
/* line 56, ../sass/3.1.scss */
.goodlist-top-nav .input-module input {
  width: 120px;
  height: 22px;
  border-radius: 3em;
  border: none;
  text-indent: 1em;
}
/* line 63, ../sass/3.1.scss */
.goodlist-top-nav .input-module input[daterangepicker] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.01;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* line 74, ../sass/3.1.scss */
.goodlist-top-nav .input-module.flex1 {
  flex: 1;
  text-align: right;
}

/* line 81, ../sass/3.1.scss */
.top-padding {
  height: 36px;
  width: 100%;
  background-color: #e5e9ef;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 91, ../sass/3.1.scss */
.time-bar {
  padding: 20px;
  max-width: 940px;
  font-size: 16px;
}
/* line 95, ../sass/3.1.scss */
.time-bar .input-module {
  padding: 0;
  margin: 0;
}
/* line 99, ../sass/3.1.scss */
.time-bar .nine-day {
  width: 60px;
  height: 36px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
/* line 105, ../sass/3.1.scss */
.time-bar .nine-day:hover, .time-bar .nine-day.cur {
  color: #0285db;
}
/* line 108, ../sass/3.1.scss */
.time-bar .nine-day .nine-day-week, .time-bar .nine-day .nine-day-date {
  height: 18px;
  line-height: 18px;
}

/* line 114, ../sass/3.1.scss */
input[daterangepicker] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.01;
  width: 100%;
  height: 100%;
}

/* line 124, ../sass/3.1.scss */
.sj-select {
  height: 36px;
  line-height: 36px;
  border-color: #0285db;
  color: #0285db;
}

/* line 130, ../sass/3.1.scss */
.sj-select-lb i {
  color: #0285db;
}

/* line 133, ../sass/3.1.scss */
.main-court {
  padding-top: 20px;
  border-top: 1px solid #e5e9ef;
  padding-left: 90px;
  position: relative;
  background-color: #f5f5f5;
}
/* line 140, ../sass/3.1.scss */
.main-court .main-court-inner {
  overflow: auto;
  position: relative;
  background-color: #f5f5f5;
}
/* line 145, ../sass/3.1.scss */
.main-court table {
  overflow: auto;
}
/* line 147, ../sass/3.1.scss */
.main-court table tbody {
  position: relative;
}
/* line 150, ../sass/3.1.scss */
.main-court table.court-name {
  position: absolute;
  top: 20px;
  left: 0;
}
/* line 154, ../sass/3.1.scss */
.main-court table.court-name td, .main-court table.court-name th {
  max-width: 90px;
  line-height: 40px;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 161, ../sass/3.1.scss */
.main-court table td, .main-court table th {
  width: 90px;
  height: 40px;
  text-align: center;
}
/* line 166, ../sass/3.1.scss */
.main-court table .court-container {
  position: relative;
}
/* line 168, ../sass/3.1.scss */
.main-court table .court-container li {
  position: absolute;
  border: 1px solid #e5e9ef;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  display: -ms-flexbox;
  font-size: 14px;
  padding: 2px;
  color: #fff;
  background-color: #fff;
}
/* line 179, ../sass/3.1.scss */
.main-court table .court-container li .sale {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -6px;
  left: -6px;
  background: url(/static/shangjia/css/images/icon-shang.png) center center no-repeat;
}
/* line 188, ../sass/3.1.scss */
.main-court table .court-container li.mark {
  background-color: #daeafa;
}
/* line 189, ../sass/3.1.scss */
.main-court table .court-container li.highlight {
  background-color: #daeafa;
  color: #ff6dcf;
  border-color: #0285db;
}
/* line 194, ../sass/3.1.scss */
.main-court table .court-container li[data-sale] .sale {
  display: block;
}
/* line 195, ../sass/3.1.scss */
.main-court table .court-container li[data-can-move] {
  cursor: move;
}
/* line 196, ../sass/3.1.scss */
.main-court table .court-container li[data-type='before'], .main-court table .court-container li[data-type='after'] {
  text-align: left;
}
/* line 197, ../sass/3.1.scss */
.main-court table .court-container li[data-selected] {
  background: url("/static/shangjia/images/select.png") center center no-repeat;
  border-color: #0285db;
}
/* line 198, ../sass/3.1.scss */
.main-court table .court-container li[data-color='net'] {
  background-color: #f19149;
}
/* line 198, ../sass/3.1.scss */
.main-court table .court-container li[data-color='net']:hover {
  background-color: rgba(241, 145, 73, 0.4);
}
/* line 199, ../sass/3.1.scss */
.main-court table .court-container li[data-color='locking'] {
  background-color: #f19149;
}
/* line 199, ../sass/3.1.scss */
.main-court table .court-container li[data-color='locking']:hover {
  background-color: rgba(241, 145, 73, 0.4);
}
/* line 200, ../sass/3.1.scss */
.main-court table .court-container li[data-color='net_paying'] {
  background-color: #f19149;
}
/* line 200, ../sass/3.1.scss */
.main-court table .court-container li[data-color='net_paying']:hover {
  background-color: rgba(241, 145, 73, 0.4);
}
/* line 201, ../sass/3.1.scss */
.main-court table .court-container li[data-color='lock'] {
  background-color: #0285db;
}
/* line 201, ../sass/3.1.scss */
.main-court table .court-container li[data-color='lock']:hover {
  background-color: rgba(2, 133, 219, 0.4);
}
/* line 202, ../sass/3.1.scss */
.main-court table .court-container li[data-color='lock_icon'] {
  background-color: #0285db;
}
/* line 202, ../sass/3.1.scss */
.main-court table .court-container li[data-color='lock_icon']:hover {
  background-color: rgba(2, 133, 219, 0.4);
}
/* line 203, ../sass/3.1.scss */
.main-court table .court-container li[data-color='member'] {
  background-color: #009899;
}
/* line 203, ../sass/3.1.scss */
.main-court table .court-container li[data-color='member']:hover {
  background-color: rgba(0, 152, 153, 0.4);
}
/* line 204, ../sass/3.1.scss */
.main-court table .court-container li[data-color='reserve'] {
  background-color: #df4949;
}
/* line 204, ../sass/3.1.scss */
.main-court table .court-container li[data-color='reserve']:hover {
  background-color: rgba(223, 73, 73, 0.4);
}
/* line 205, ../sass/3.1.scss */
.main-court table .court-container li[data-color='reserveing'] {
  background-color: #df4949;
}
/* line 205, ../sass/3.1.scss */
.main-court table .court-container li[data-color='reserveing']:hover {
  background-color: rgba(223, 73, 73, 0.4);
}
/* line 206, ../sass/3.1.scss */
.main-court table .court-container li > div {
  margin: auto;
}
/* line 209, ../sass/3.1.scss */
.main-court table .court-container li em {
  display: block;
  line-height: 1;
}
/* line 213, ../sass/3.1.scss */
.main-court table .court-container li i.lock {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("/static/shangjia/images/cgsd.png");
  vertical-align: sub;
}
/* line 220, ../sass/3.1.scss */
.main-court table .court-container li i.money {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/static/images/wlyd.png");
  vertical-align: middle;
  margin-right: 2px;
  margin-top: -2px;
}
/* line 231, ../sass/3.1.scss */
.main-court table th {
  text-align: left;
  font-size: 16px;
  position: relative;
}
/* line 235, ../sass/3.1.scss */
.main-court table th span {
  display: inline-block;
  text-indent: -1.2em;
}
/* line 239, ../sass/3.1.scss */
.main-court table th:after {
  content: '';
  width: 1px;
  height: 10px;
  position: absolute;
  background-color: #e5e9ef;
  bottom: 2px;
  left: 0;
}
/* line 249, ../sass/3.1.scss */
.main-court table td span {
  display: block;
  min-width: 60px;
  height: 36px;
  line-height: 36px;
  margin: 2px;
  border: 1px solid #e5e9ef;
  border-radius: 3px;
  position: absolute;
  top: 0;
}

/* line 264, ../sass/3.1.scss */
#tableTop th:first-child span, #tableTopFixed th:first-child span {
  text-indent: 0;
}

/* line 269, ../sass/3.1.scss */
#tableTopFixed {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;
}

/* line 276, ../sass/3.1.scss */
.text-align-left {
  text-align: left;
}

/* line 280, ../sass/3.1.scss */
.show-alert {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #222;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  z-index: 9999999;
}

/* line 292, ../sass/3.1.scss */
.dialogue-box {
  width: 440px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -220px;
  margin-top: -220px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 10000000;
}
/* line 293, ../sass/3.1.scss */
.dialogue-box .table {
  overflow: auto;
}
/* line 306, ../sass/3.1.scss */
.dialogue-box.sm {
  width: 400px;
  margin-left: -200px;
}
/* line 310, ../sass/3.1.scss */
.dialogue-box.large {
  width: 990px;
  margin-left: -495px;
}

/* line 316, ../sass/3.1.scss */
.dialogue-box-inner {
  position: relative;
  padding: 30px;
  color: #222;
}
/* line 320, ../sass/3.1.scss */
.dialogue-box-inner h2 {
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
}
/* line 325, ../sass/3.1.scss */
.dialogue-box-inner p {
  margin: 14px 0;
  font-size: 16px;
  line-height: 1.6;
}
/* line 330, ../sass/3.1.scss */
.dialogue-box-inner a {
  color: #0285db;
}
/* line 333, ../sass/3.1.scss */
.dialogue-box-inner label {
  width: 80px;
}
/* line 335, ../sass/3.1.scss */
.dialogue-box-inner label.pwd {
  display: block;
  width: auto;
}
/* line 340, ../sass/3.1.scss */
.dialogue-box-inner input[type]:not([readonly]) {
  width: 300px;
  height: 36px;
  border: 1px solid #e5e9ef;
  text-indent: 1em;
}
/* line 346, ../sass/3.1.scss */
.dialogue-box-inner .p-btn {
  text-align: center;
  margin-top: 50px;
}
/* line 350, ../sass/3.1.scss */
.dialogue-box-inner .table-btn {
  text-align: right;
  padding-right: 20px;
}
/* line 354, ../sass/3.1.scss */
.dialogue-box-inner h3 {
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
/* line 361, ../sass/3.1.scss */
.dialogue-box-inner input.pwd {
  display: inline-block;
  width: 260px;
  height: 36px;
  border: 1px solid #e5e9ef;
  text-indent: 1em;
  margin-right: 20px;
  vertical-align: top;
}
/* line 370, ../sass/3.1.scss */
.dialogue-box-inner a.add-fixed-count {
  margin: 0 40px;
}
/* line 374, ../sass/3.1.scss */
.dialogue-box-inner i.close {
  width: 15px;
  height: 15px;
  background: transparent url("/static/shangjia/images/closebtn.jpg") left top no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* line 385, ../sass/3.1.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table {
  height: 400px;
  padding: 0;
}
/* line 388, ../sass/3.1.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table > div {
  height: 400px;
  overflow-y: scroll;
}
/* line 392, ../sass/3.1.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}
/* line 397, ../sass/3.1.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table tr {
  height: 60px;
}
/* line 399, ../sass/3.1.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table tr td {
  border-left: 0;
}
/* line 400, ../sass/3.1.scss */
.dialogue-box .dialogue-box-inner .table .table-in-table .table tr td:last-child {
  border-right: 0;
}

/* line 409, ../sass/3.1.scss */
.book-btn {
  background-color: #df494a;
}
/* line 411, ../sass/3.1.scss */
.book-btn:hover {
  background-color: rgba(223, 73, 74, 0.8);
}
/* line 414, ../sass/3.1.scss */
.book-btn[disabled] {
  background-color: rgba(223, 73, 74, 0.4);
}

/* line 420, ../sass/3.1.scss */
#venuesConfig p {
  padding-left: 120px;
  position: relative;
}
/* line 423, ../sass/3.1.scss */
#venuesConfig p.p-btn {
  padding-left: 0;
}
/* line 426, ../sass/3.1.scss */
#venuesConfig p em {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
}
/* line 432, ../sass/3.1.scss */
#venuesConfig p label, #venuesConfig p input {
  width: auto;
  vertical-align: middle;
}
/* line 436, ../sass/3.1.scss */
#venuesConfig p input {
  margin-left: 5px;
  margin-top: -2px;
}

/* line 442, ../sass/3.1.scss */
.contextmenu {
  width: 200px;
  border: 1px solid #e5e9ef;
  position: absolute;
  background-color: #fff;
  z-index: 999;
  color: #000;
  line-height: 1.6;
}
/* line 451, ../sass/3.1.scss */
.contextmenu > div {
  cursor: pointer;
  padding: 8px 0;
}
/* line 454, ../sass/3.1.scss */
.contextmenu > div:hover {
  background-color: #0285db;
  color: #fff;
}

/* line 460, ../sass/3.1.scss */
.daterangepicker {
  width: auto;
}

/* line 463, ../sass/3.1.scss */
ul.nm-inputsearch-ul {
  width: 300px;
}

/* line 466, ../sass/3.1.scss */
li.half-time-select {
  margin: 10px auto;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 469, ../sass/3.1.scss */
li.half-time-select select {
  margin: 0 5px;
  border-color: #e5e9ef;
  background-color: #fff;
  border-radius: 5px;
}

/* line 476, ../sass/3.1.scss */
input[disabled] {
  color: #bbb;
  cursor: not-allowed;
}

/* line 481, ../sass/3.1.scss */
#litips {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 3px 6px;
  font-size: 14px;
  -moz-box-shadow: 1px 1px 5px 2px rgba(88, 88, 88, 0.4);
  -webkit-box-shadow: 1px 1px 5px 2px rgba(88, 88, 88, 0.4);
  box-shadow: 1px 1px 5px 2px rgba(88, 88, 88, 0.4);
}

/* line 489, ../sass/3.1.scss */
#tableSide td.cur {
  background-color: #99cef1;
  color: #fffafa;
}

/* line 495, ../sass/3.1.scss */
#service h4, #service p {
  font-size: 18px;
}
/* line 497, ../sass/3.1.scss */
#service h4 span, #service p span {
  color: #666;
}
/* line 507, ../sass/3.1.scss */
#service .code .code-tips {
  margin-top: 20px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  color: #666;
  width: 100%;
}
/* line 518, ../sass/3.1.scss */
#service .code img {
  width: 100%;
}

/* line 523, ../sass/3.1.scss */
.dialogue-box {
  color: #222;
}

/* line 527, ../sass/3.1.scss */
.icon-examples {
  position: absolute;
  width: 50px;
  line-height: 36px;
  height: 36px;
  border-bottom-left-radius: 3em;
  border-top-left-radius: 3em;
  bottom: 0px;
  left: 20px;
  background-color: #e5e9ef;
  color: #222;
  font-size: 14px;
  overflow: hidden;
}
/* line 540, ../sass/3.1.scss */
.icon-examples .icon-example {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}
/* line 541, ../sass/3.1.scss */
.icon-examples .icon-example.arr {
  width: 30px;
}
/* line 542, ../sass/3.1.scss */
.icon-examples .icon-example i {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -2px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 550, ../sass/3.1.scss */
.icon-examples .icon-example i[data-type='arr'] {
  margin-top: -6px;
  margin-right: -10px;
}
/* line 551, ../sass/3.1.scss */
.icon-examples .icon-example i[data-type='net'] {
  background-color: #f19149;
}
/* line 552, ../sass/3.1.scss */
.icon-examples .icon-example i[data-type='lock'] {
  background-color: #0285db;
}
/* line 553, ../sass/3.1.scss */
.icon-examples .icon-example i[data-type='member'] {
  background-color: #009899;
}
/* line 554, ../sass/3.1.scss */
.icon-examples .icon-example i[data-type='reserve'] {
  background-color: #df4949;
}

/* line 562, ../sass/3.1.scss */
#messagerBox {
  width: 450px;
  font-size: 12px;
  overflow: hidden;
  border: 1px #e0e0e0 solid;
  position: fixed;
  right: 2px;
  bottom: 2px;
  background: #fff;
  color: #666666;
  min-height: 400px;
}
/* line 573, ../sass/3.1.scss */
#messagerBox .title {
  overflow: hidden;
  width: 100%;
  line-height: 40px;
  background-color: #f8f8f8;
  font-size: 14px;
  padding: 0 10px;
  border-bottom: 1px #e0e0e0 solid;
  position: relative;
}
/* line 582, ../sass/3.1.scss */
#messagerBox .title i.close {
  width: 15px;
  height: 15px;
  background: transparent url(/static/shangjia/images/closebtn.jpg) left top no-repeat;
  position: absolute;
  top: 11px;
  right: 15px;
}
/* line 591, ../sass/3.1.scss */
#messagerBox .content {
  padding: 10px;
}
/* line 593, ../sass/3.1.scss */
#messagerBox .content li {
  margin-bottom: 10px;
}

/* line 600, ../sass/3.1.scss */
#tableMain li[data-light-red] {
  -moz-box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5);
}
/* line 603, ../sass/3.1.scss */
#tableMain li[data-light] {
  -moz-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
}
/* line 607, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-before] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 609, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-before]:before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
}
/* line 621, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-after] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 623, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-after]:after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
}
/* line 636, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-before][data-light-after] {
  -moz-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
  box-shadow: 0 0 2px 2px rgba(0, 145, 255, 0.5);
}
/* line 638, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-before][data-light-after]:before {
  display: none;
}
/* line 639, ../sass/3.1.scss */
#tableMain li[data-type="main"][data-nothing][data-light-before][data-light-after]:after {
  display: none;
}

/* line 643, ../sass/3.1.scss */
.search-btn {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 647, ../sass/3.1.scss */
.sj-select:focus {
  border-color: #0285db;
}

/* line 650, ../sass/3.1.scss */
.preorderul {
  max-height: 200px;
  overflow: auto;
  padding-left: 75px;
  position: relative;
}
/* line 655, ../sass/3.1.scss */
.preorderul .t {
  position: absolute;
  top: 12px;
  left: 0;
}

/* line 661, ../sass/3.1.scss */
select.appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  line-height: 1.4;
  padding: 0 5px;
  border-radius: 5px;
  background: #fff;
  padding-right: 20px;
  border: 1px solid #aaa;
  position: relative;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
}
/* line 677, ../sass/3.1.scss */
select.appearance + i.glyphicon {
  left: -20px;
  top: 2px;
}

/* line 682, ../sass/3.1.scss */
#admin {
  border-radius: 3em;
  border-color: #fff;
  background: #fff;
}

/* line 687, ../sass/3.1.scss */
#phone {
  vertical-align: text-bottom;
}

/* line 690, ../sass/3.1.scss */
#tableSide {
  background-color: #f5f5f5;
}

/* line 693, ../sass/3.1.scss */
#tableTop {
  background-color: #f5f5f5;
}

/* line 696, ../sass/3.1.scss */
#tableMain {
  background-color: #f5f5f5;
}
