/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../sass-lib/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f5f5f9;
  line-height: 1.375;
}

/* line 17, ../../../sass-lib/reset.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f5f5f9;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../../../sass-lib/reset.scss */
input {
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 39, ../../../sass-lib/reset.scss */
a,
input,
lable,
button,
div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 48, ../../../sass-lib/reset.scss */
a,
a:hover,
a:visited {
  text-decoration: none;
}

/* line 54, ../../../sass-lib/reset.scss */
.hide {
  display: none !important;
}

/* line 58, ../../../sass-lib/reset.scss */
input::-ms-input-placeholder {
  color: #aaa;
}

/* line 62, ../../../sass-lib/reset.scss */
input::-webkit-input-placeholder {
  color: #aaa;
}

/* line 66, ../../../sass-lib/reset.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f9;
  z-index: 99999;
}

/* line 75, ../../../sass-lib/reset.scss */
.loading-icon {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 124, ../../../sass-lib/reset.scss */
img {
  width: 100%;
}

/* line 149, ../../../sass-lib/reset.scss */
.main {
  position: relative;
  min-height: 100%;
}

/* line 4, ../../../sass-lib/_common.scss */
.borderBottom1px:after, .borderTop1px:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  -moz-transform: translateY(0.5);
  -ms-transform: translateY(0.5);
  -webkit-transform: translateY(0.5);
  transform: translateY(0.5);
  background-color: #ddd;
  z-index: 99;
}

/* line 15, ../../../sass-lib/_common.scss */
.borderRight1px:before, .borderLeft1px:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  -moz-transform: translateX(0.5);
  -ms-transform: translateX(0.5);
  -webkit-transform: translateX(0.5);
  transform: translateX(0.5);
  background-color: #ddd;
  z-index: 99;
}

/* line 57, ../../../sass-lib/_common.scss */
.borderBottom1px:after {
  left: 0;
  bottom: 0;
}

/* line 65, ../../../sass-lib/_common.scss */
.borderTop1px:before {
  left: 0;
  top: 0;
}

/* line 73, ../../../sass-lib/_common.scss */
.borderRight1px:before {
  right: 0;
  top: 0;
}

/* line 81, ../../../sass-lib/_common.scss */
.borderLeft1px:before {
  left: 0;
  top: 0;
}

/* line 88, ../../../sass-lib/_common.scss */
.icon-right {
  display: block;
  width: 0.06rem;
  height: 0.11rem;
  position: absolute;
  top: 50%;
  right: 0.15rem;
  margin-top: -0.055rem;
}
/* line 96, ../../../sass-lib/_common.scss */
.icon-right img {
  display: block;
  width: 100%;
}

/* line 102, ../../../sass-lib/_common.scss */
.koubei-button-white {
  display: block;
  width: 3.45rem;
  height: 0.42rem;
  line-height: 0.42rem;
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-size: 0.17rem;
  border-radius: 0.05rem;
}
/* line 113, ../../../sass-lib/_common.scss */
.koubei-button-white:active {
  background-color: #ddd;
}

/* line 129, ../../../sass-lib/_common.scss */
.common-btn {
  line-height: 0.42rem;
  font-size: 0.18rem;
  color: #fff;
  text-align: center;
  border-radius: 0.05rem;
  background-color: #fb6165;
  margin: 0 0.15rem;
}
/* line 137, ../../../sass-lib/_common.scss */
.common-btn.disable {
  color: rgba(255, 255, 255, 0.5);
}
/* line 140, ../../../sass-lib/_common.scss */
.common-btn:active:not(.disable) {
  background-color: #d95559;
}

/* line 145, ../../../sass-lib/_common.scss */
.common-quyundongtips {
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  font-size: 0.12rem;
  color: #888;
  text-align: center;
}

/* line 153, ../../../sass-lib/_common.scss */
.common-quyundongtipsSpace {
  height: 0.5rem;
}

/* line 157, ../../../sass-lib/_common.scss */
.toast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* line 166, ../../../sass-lib/_common.scss */
.toast .toast-alert {
  width: 2.35rem;
  height: 1.3rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.175rem;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 182, ../../../sass-lib/_common.scss */
.toast .toast-alert .toast-msg {
  padding-top: 0.25rem;
  height: 0.9rem;
  line-height: 1.6;
  color: #fff;
  font-size: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

/* line 196, ../../../sass-lib/_common.scss */
.common-toast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 203, ../../../sass-lib/_common.scss */
.common-toast .common-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.7rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 0.17rem;
  border-radius: 0.05rem;
  overflow: hidden;
}
/* line 214, ../../../sass-lib/_common.scss */
.common-toast .common-alert .common-msg {
  color: #000;
  padding: 0.3rem 0.15rem;
}
/* line 218, ../../../sass-lib/_common.scss */
.common-toast .common-alert .common-sure {
  color: #00aaee;
  line-height: 0.45rem;
  border-top: 1px solid #ddd;
}
/* line 222, ../../../sass-lib/_common.scss */
.common-toast .common-alert .common-sure:active {
  background-color: #dddddd;
}

/* line 229, ../../../sass-lib/_common.scss */
.person-index-bar a.person-index-bar-select {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 4, ../sass/book.scss */
body {
  overflow: hidden;
}

/* line 7, ../sass/book.scss */
.main {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

/* line 14, ../sass/book.scss */
#wrapper {
  position: absolute;
  z-index: 1;
  left: 0.35rem;
  padding-left: 0.15rem;
  right: 0;
  top: 0.35rem;
  bottom: 0.05rem;
}

/* line 24, ../sass/book.scss */
#scroller {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

/* line 119, ../../../sass-lib/_common.scss */
#scroller ul:after:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 33, ../sass/book.scss */
.book-date {
  border-bottom: 1px solid #e1e1e1;
}
/* line 35, ../sass/book.scss */
.book-date .data-change {
  float: right;
  width: 0.55rem;
  margin-left: 0;
  padding: 0.05rem 0;
}
/* line 40, ../sass/book.scss */
.book-date .data-change img {
  width: 0.12rem;
  margin-top: 0.1rem;
}
/* line 45, ../sass/book.scss */
.book-date .expend {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
/* line 49, ../sass/book.scss */
.book-date .bg {
  background: url(../images/border-r.jpg) right 50% no-repeat;
  background-size: 1px 70%;
}
/* line 53, ../sass/book.scss */
.book-date .expend + .date-wrap ul {
  left: -2.4rem;
}
/* line 56, ../sass/book.scss */
.book-date .data-change,
.book-date li {
  height: 0.4rem;
}
/* line 60, ../sass/book.scss */
.book-date .date-wrap {
  overflow: hidden;
  margin-bottom: -1px;
}
/* line 63, ../sass/book.scss */
.book-date .date-wrap ul {
  position: relative;
  width: 200%;
}
/* line 66, ../sass/book.scss */
.book-date .date-wrap ul li {
  color: #000;
  float: left;
  width: 0.8rem;
  padding: 0.05rem 0;
  border-bottom: 2px solid transparent;
  background: url(../images/border-r.jpg) right 50% no-repeat;
  background-size: 1px 70%;
}
/* line 75, ../sass/book.scss */
.book-date .date-wrap ul li p:nth-of-type(1) {
  font-size: 0.12rem;
}
/* line 78, ../sass/book.scss */
.book-date .date-wrap ul li p:nth-of-type(2) {
  font-size: 0.15rem;
}
/* line 83, ../sass/book.scss */
.book-date .date-wrap ul .active {
  color: #fb6165;
  border-bottom: 2px solid #fb6165;
}
/* line 119, ../../../sass-lib/_common.scss */
.book-date .date-wrap ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 92, ../sass/book.scss */
.book-container {
  position: absolute;
  top: 0.52rem;
  bottom: 1.8rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
/* line 99, ../sass/book.scss */
.book-container .book-area,
.book-container .book-time {
  color: #888;
  font-size: 0.12rem;
  position: absolute;
  overflow: hidden;
}
/* line 105, ../sass/book.scss */
.book-container .book-area .active,
.book-container .book-time .active {
  color: #888;
}
/* line 110, ../sass/book.scss */
.book-container .book-area {
  top: 0.15rem;
  left: 0.5rem;
  right: 0;
  height: 0.16rem;
}
/* line 115, ../sass/book.scss */
.book-container .book-area > ul {
  position: absolute;
}
/* line 117, ../sass/book.scss */
.book-container .book-area > ul li {
  float: left;
  width: 0.49rem;
  height: 0.16rem;
  margin-right: 14px;
  overflow: hidden;
}
/* line 119, ../../../sass-lib/_common.scss */
.book-container .book-area:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 127, ../sass/book.scss */
.book-container .book-time {
  top: 0.22rem;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  text-align: right;
}
/* line 133, ../sass/book.scss */
.book-container .book-time > ul {
  position: absolute;
  width: 100%;
  left: 0;
}
/* line 137, ../sass/book.scss */
.book-container .book-time > ul li {
  height: 0.24rem;
  border-bottom: 10px solid #fff;
}
/* line 141, ../sass/book.scss */
.book-container .book-time > ul li span:nth-of-type(1) {
  font-size: 0.13rem;
}
/* line 144, ../sass/book.scss */
.book-container .book-time > ul li span:nth-of-type(3) {
  display: inline-block;
  width: 6px;
}
/* line 152, ../sass/book.scss */
.book-container .book-list {
  color: #fb6165;
  font-size: 0.12rem;
}
/* line 119, ../../../sass-lib/_common.scss */
.book-container .book-list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 156, ../sass/book.scss */
.book-container .book-list ul {
  float: left;
}
/* line 158, ../sass/book.scss */
.book-container .book-list ul li {
  width: 0.49rem;
  line-height: 0.24rem;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-right: 12px;
  border: 1px solid #fb6165;
}
/* line 166, ../sass/book.scss */
.book-container .book-list ul .disable {
  background-color: #eeeeee;
  color: #eeeeee;
  border: 1px solid transparent;
}
/* line 171, ../sass/book.scss */
.book-container .book-list ul .selected {
  background-color: #fb6165;
  color: #fff;
}

/* line 179, ../sass/book.scss */
.book-order {
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  width: 100%;
  height: 1.41rem;
  background-color: #fff;
}

/* line 188, ../sass/book.scss */
.book-tip {
  color: #888;
  font-size: 0;
}
/* line 191, ../sass/book.scss */
.book-tip li {
  display: inline-block;
  margin: 0.25rem 0.15rem 0;
}
/* line 194, ../sass/book.scss */
.book-tip li div {
  font-size: 0.12rem;
}
/* line 196, ../sass/book.scss */
.book-tip li div:nth-of-type(1) {
  width: 0.45rem;
  height: 0.2rem;
  margin-bottom: 0.1rem;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 205, ../sass/book.scss */
.book-tip li:nth-of-type(1) div:nth-of-type(1) {
  border: 1px solid #fb6165;
}
/* line 210, ../sass/book.scss */
.book-tip li:nth-of-type(2) div:nth-of-type(1) {
  background-color: #eee;
}
/* line 215, ../sass/book.scss */
.book-tip li:nth-of-type(3) div:nth-of-type(1) {
  background-color: #fb6165;
}

/* line 222, ../sass/book.scss */
.book-tip,
.book-orderinfo {
  height: 0.91rem;
}

/* line 227, ../sass/book.scss */
.book-orderinfo {
  font-size: 0;
}
/* line 229, ../sass/book.scss */
.book-orderinfo li {
  display: inline-block;
  vertical-align: top;
  width: 0.8rem;
  border: 1px solid #fb6165;
  border-radius: 3px;
  margin: 0.15rem 0.04rem 0;
}
/* line 236, ../sass/book.scss */
.book-orderinfo li > div {
  font-size: 0.12rem;
}
/* line 238, ../sass/book.scss */
.book-orderinfo li > div:nth-of-type(1) {
  line-height: 0.25rem;
  height: 0.25rem;
  overflow: hidden;
  color: #fff;
  background-color: #fb6165;
}
/* line 245, ../sass/book.scss */
.book-orderinfo li > div:nth-of-type(2) {
  height: 0.36rem;
  color: #fb6165;
  overflow: hidden;
  line-height: 0.18rem;
}
/* line 250, ../sass/book.scss */
.book-orderinfo li > div:nth-of-type(2) div {
  margin: 0 auto;
  max-width: 6em;
}
/* line 254, ../sass/book.scss */
.book-orderinfo li > div:nth-of-type(2) .txtStyle1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 261, ../sass/book.scss */
.book-orderinfo li > div:nth-of-type(2) .txtStyle2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 266, ../sass/book.scss */
.book-orderinfo li > div:nth-of-type(2) .txtStyle3 {
  line-height: 0.36rem;
}

/* line 274, ../sass/book.scss */
.book-submit {
  margin: 0.05rem 0.3rem 0;
  height: 0.4rem;
  font-size: 0.15rem;
  color: #fff;
  border-radius: 8px;
  background-color: #fb6165;
}
/* line 281, ../sass/book.scss */
.book-submit:active {
  background-color: #d95559;
}
/* line 285, ../sass/book.scss */
.book-submit div:only-child {
  line-height: 0.4rem;
}
/* line 288, ../sass/book.scss */
.book-submit div:nth-of-type(2) {
  line-height: 0.2rem;
  font-size: 0.12rem;
}

/* line 295, ../sass/book.scss */
.book-headTip {
  position: fixed;
  top: -0.6rem;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: left;
  text-indent: 2em;
  padding: 0.1rem 0;
  background-color: #fff9d2;
  color: #222;
}

/* line 308, ../sass/book.scss */
.book-noPaySprite {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 0.15rem;
  color: #666;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 318, ../sass/book.scss */
.book-noPaySprite ul {
  width: 2.75rem;
  position: relative;
  top: 50%;
  margin: 0 auto;
  line-height: 1;
  text-align: left;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 331, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(1) {
  padding: 0 0.15rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
/* line 337, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) {
  padding: 0.1rem 0.15rem;
  line-height: 1.6;
}
/* line 342, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(1) {
  float: left;
  margin-right: 0;
}
/* line 346, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(2) {
  color: #222;
  display: block;
  overflow: hidden;
}
/* line 350, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(2) em {
  display: block;
}
/* line 357, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
/* line 119, ../../../sass-lib/_common.scss */
.book-noPaySprite ul li:nth-of-type(3):after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 361, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) div {
  float: left;
  width: 50%;
  line-height: 0.4rem;
  background-color: #f9f9f9;
}
/* line 367, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) #book-Cancel {
  background-image: url(../images/border-r.jpg);
  background-position: right top;
  background-repeat: repeat-y;
}
/* line 372, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) a div {
  color: #fb6165;
}
/* line 378, ../sass/book.scss */
.book-noPaySprite a,
.book-noPaySprite a:hover,
.book-noPaySprite a:visited {
  color: #666;
}

/* line 386, ../sass/book.scss */
.book-sportType .sportType-change {
  float: right;
  width: 0.55rem;
  margin-left: 0;
}
/* line 390, ../sass/book.scss */
.book-sportType .sportType-change img {
  width: 0.12rem;
  margin-top: 0.14rem;
}
/* line 395, ../sass/book.scss */
.book-sportType .expend {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
/* line 399, ../sass/book.scss */
.book-sportType .bg {
  background: url(../images/border-r.jpg) right 50% no-repeat;
  background-size: 1px 70%;
}
/* line 403, ../sass/book.scss */
.book-sportType .expend + .sportType-wrap ul {
  left: -2.4rem;
}
/* line 409, ../sass/book.scss */
.book-sportType .sportType-wrap {
  overflow: hidden;
  margin-bottom: -2px;
}
/* line 412, ../sass/book.scss */
.book-sportType .sportType-wrap ul {
  padding: 0.1rem 0;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
/* line 419, ../sass/book.scss */
.book-sportType .sportType-wrap ul li {
  color: #000;
  flex: 1;
  line-height: 0.2rem;
  background: url(../images/border-r.jpg) right top repeat-y;
}
/* line 426, ../sass/book.scss */
.book-sportType .sportType-wrap ul li p {
  font-size: 0.15rem;
}
/* line 430, ../sass/book.scss */
.book-sportType .sportType-wrap ul .active {
  color: #fb6165;
}
/* line 436, ../sass/book.scss */
.book-sportType.lessthanfour .sportType-change {
  display: none;
}

/* line 442, ../sass/book.scss */
.person-index-bar {
  width: 100%;
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
/* line 450, ../sass/book.scss */
.person-index-bar a.person-index-bar-select {
  font-size: 0.15rem;
  color: #000;
  display: inline-block;
  position: relative;
  text-align: center;
  background: url(../images/border-r.jpg) right 50% no-repeat;
  background-size: 1px 50%;
}
/* line 459, ../sass/book.scss */
.person-index-bar a.person-index-bar-select.cur {
  color: #fb6165;
}
/* line 463, ../sass/book.scss */
.person-index-bar .person-index-bar-arr {
  width: 0.6rem;
  height: 0.45rem;
  line-height: 0.45rem;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 474, ../sass/book.scss */
.person-index-bar .person-index-bar-arr.l {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 477, ../sass/book.scss */
.person-index-bar .person-index-bar-arr:active i {
  background: transparent url("/themes/koubei/person/index/images/arr_right_active.png") 0 0/cover no-repeat;
}
/* line 480, ../sass/book.scss */
.person-index-bar .person-index-bar-arr i {
  width: 0.19rem;
  height: 0.19rem;
  border-top: 0.12rem solid transparent;
  display: inline-block;
  background: transparent url("/themes/koubei/person/index/images/arr_right.png") 0 0/cover no-repeat;
}
