<style>
    .sj-fixedCourt-popbg-form .modify-control{
        margin-bottom:15px;
    }

    .sj-fixedCourt-popbg-form .filter-control{
        margin-bottom:0px;
        margin-left:0;
    }
    .sj-fixedCourt-popbg-form .err{
        display: inline-block;
        color:#f00;
        font-size:12px;
    }
    .modify-tbn{
        color:#fff;
        background-color: #337ab7;
        border: 1px solid #337ab7;
    }
</style>

<h1>修改密码</h1>
<div class="row col-md-offset-3">

	<?php if ($resetPasswordFlag) { ?>
	<div class="row">
		<div class="alert alert-success col-sm-3">修改密码成功</div>
	</div>
	<?php } ?>
	
	
	<?php if ($validateHelper->getError('tips_error')) { ?>
	<div class="row">
		<div class="alert alert-danger col-sm-3">
				<span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
				<?= $validateHelper->getError('tips_error');?>
		</div>
	</div>
	<?php } ?>
	
	<div class="row">
		<h2>用户名:<?= helper_LoginHelper::getSuperUserField('username'); ?></h2>
	</div>

	<div class="row">

		<form method="post" id="password" action="/user/modifyPasswordSp" class="sj-fixedCourt-popbg-form">
	
			<div class="modify-control">
				<div class="filter-control filter-input">
					<label for="old_password"><span class="text-danger">*</span>旧密码：</label>
					<input type="password" id="old_password" name="old_password" />
				</div>
				<span class="text-danger"><?= $validateHelper->getError('old_password');?></span>
			</div>
			
			<div class="modify-control">
				<div class="filter-control filter-input">
					<label for="password"><span class="text-danger">*</span>新密码：</label>
					<input type="password" id="password" name="password">
				</div>
				<span class="text-danger"><?= $validateHelper->getError('password');?></span>
			</div>
			
			<div class="modify-control">
				<div class="filter-control filter-input">
					<label for="repassword"><span class="text-danger">*</span>重复新密码：</label>
					<input type="password" id="repassword" name="repassword">
				</div>
				<span class="text-danger"><?= $validateHelper->getError('repassword');?></span>
			</div>
			
			<button type="submit" class="btn btn-dafault modify-tbn btn-bdru">提交修改</button>
		</form>
	</div>
</div>

