/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../sass-lib/_loading.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 100px;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.375;
}

/* line 10, ../../../sass-lib/_loading.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
  background-color: #fff;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../../../sass-lib/_loading.scss */
input {
  -webkit-box-sizing: border-box;
}

/* line 23, ../../../sass-lib/_loading.scss */
a, input, lable, button, div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 26, ../../../sass-lib/_loading.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 30, ../../../sass-lib/_loading.scss */
.hide {
  display: none !important;
}

/* line 33, ../../../sass-lib/_loading.scss */
.opacity0 {
  opacity: 0 !important;
}

/* line 36, ../../../sass-lib/_loading.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
}

/* line 45, ../../../sass-lib/_loading.scss */
.loading-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 93, ../../../sass-lib/_loading.scss */
img {
  max-width: 100%;
}

/* line 8, ../sass/city.scss */
html {
  background-color: #f5f5f9;
}

/* line 11, ../sass/city.scss */
body {
  background-color: #f5f5f9;
  text-align: left;
}

/* line 16, ../sass/city.scss */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 24, ../sass/city.scss */
.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  height: 0.3rem;
  padding: 0.05rem 0;
  position: relative;
}
/* line 31, ../sass/city.scss */
.header .back {
  position: absolute;
  line-height: 0.3rem;
  padding: 0 0.1rem;
  left: 0;
  top: 0.05rem;
}
/* line 37, ../sass/city.scss */
.header .back img {
  width: 0.1rem;
  line-height: inherit;
  vertical-align: middle;
}
/* line 43, ../sass/city.scss */
.header .search {
  width: 3rem;
  height: 0.3rem;
  background-color: #e6e6e6;
  border-radius: 3em;
  margin-left: 0.4rem;
  line-height: 0.3rem;
}
/* line 50, ../sass/city.scss */
.header .search input {
  width: 2.5rem;
  margin-left: 0.18rem;
  background-color: transparent;
  border: none;
  outline: none;
}

/* line 60, ../sass/city.scss */
.body .index {
  font-size: 0.14rem;
  color: #222;
}
/* line 63, ../sass/city.scss */
.body .index h3 {
  color: #aaa;
}
/* line 66, ../sass/city.scss */
.body .index h4 {
  font-size: 0.12rem;
  padding-left: 0.15rem;
  color: #aaa;
}
/* line 71, ../sass/city.scss */
.body .index span {
  color: #222;
}
/* line 74, ../sass/city.scss */
.body .index .location-city {
  margin-top: 0.15rem;
  padding: 0.15rem;
  background-color: #fff;
}
/* line 79, ../sass/city.scss */
.body .index .GPS-city, .body .index .hot-city {
  margin-top: 0.15rem;
}
/* line 81, ../sass/city.scss */
.body .index .GPS-city h4, .body .index .hot-city h4 {
  margin-bottom: 0.1rem;
}
/* line 85, ../sass/city.scss */
.body .index .GPS-city ul, .body .index .hot-city ul {
  padding: 0 0.15rem;
  background-color: #fff;
  padding-bottom: 0.1rem;
}
/* line 90, ../sass/city.scss */
.body .index .GPS-city li, .body .index .hot-city li {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0.8rem;
  padding: 0.05rem 0.1rem;
  border: 1px solid #aaa;
  border-radius: 0.03rem;
  text-align: center;
  margin-top: 0.1rem;
  margin-right: 0.09rem;
}
/* line 102, ../sass/city.scss */
.body .index .city-list {
  margin-bottom: 0.1rem;
}
/* line 104, ../sass/city.scss */
.body .index .city-list h4 {
  margin-bottom: 0.1rem;
  margin-top: 0.15rem;
}
/* line 108, ../sass/city.scss */
.body .index .city-list ul {
  padding-left: 0.15rem;
  background-color: #fff;
}
/* line 112, ../sass/city.scss */
.body .index .city-list li {
  display: block;
  line-height: 0.45rem;
  border-bottom: 1px solid #e6e6e6;
}
/* line 116, ../sass/city.scss */
.body .index .city-list li:last-child {
  border: none;
}

/* line 123, ../sass/city.scss */
.location-side-bar {
  font-size: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0.35rem;
  color: #222;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
/* line 133, ../sass/city.scss */
.location-side-bar .location-side-bar-text {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 140, ../sass/city.scss */
.location-side-bar li {
  margin: 0.01rem 0;
}

/* line 144, ../sass/city.scss */
#search {
  padding-top: 0.1rem;
}
/* line 146, ../sass/city.scss */
#search ul {
  padding-left: 0.15rem;
  background-color: #fff;
}
/* line 150, ../sass/city.scss */
#search li {
  display: block;
  line-height: 0.45rem;
  border-bottom: 1px solid #e6e6e6;
}
/* line 154, ../sass/city.scss */
#search li:last-child {
  border: none;
}
/* line 158, ../sass/city.scss */
#search .none {
  padding-top: 1.5rem;
}
/* line 160, ../sass/city.scss */
#search .none img {
  display: block;
  width: 1.41rem;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}
/* line 166, ../sass/city.scss */
#search .none p {
  text-align: center;
  color: #666;
}
