meta(charset='utf-8')
meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
title #{title}_运动场馆管理系统_国内体育场馆运营管理软件解决方案提供商
meta(name='keywords', content='馆掌,场馆运营管理系统,体育场馆管理系统,羽毛球馆管理软件,场地管理系统,会员卡管理系统,会员管理软件,会员收费系统,商品管理软件,智能场馆管理,收银系统,财务系统,健身房,游泳馆,溜冰场,高尔夫管理软件')
meta(name='description', content='馆掌,国内体育场馆运营管理软件解决方案提供商.馆掌提供场馆运营管理,体育场馆管理,羽毛球馆管理,场地管理,会员卡管理系统,会员管理,会员收费,商品管理,智能场馆管理,财务管理,健身房,游泳馆,溜冰场,足球,篮球,高尔夫管理等一体化运营管理软件与IT整合解决方案,是中国运动场馆管理平台领导者.')
meta(http-equiv='X-UA-Compatible', content='IE=edge')