/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/wechatbind.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #ebebeb;
  line-height: 1.375;
}

/* line 22, ../sass/wechatbind.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  text-align: center;
  background-color: #ebebeb;
  font-size: 0.16rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../sass/wechatbind.scss */
input {
  -webkit-box-sizing: border-box;
}

/* line 39, ../sass/wechatbind.scss */
a,
input,
lable,
button,
div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 48, ../sass/wechatbind.scss */
a,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

/* line 55, ../sass/wechatbind.scss */
.hide {
  display: none !important;
}

/* line 59, ../sass/wechatbind.scss */
input::-ms-input-placeholder {
  text-align: left;
  color: #aaaaaa;
  font-size: 0.15rem;
}

/* line 65, ../sass/wechatbind.scss */
input::-webkit-input-placeholder {
  text-align: left;
  color: #aaaaaa;
  font-size: 0.15rem;
}

/* line 71, ../sass/wechatbind.scss */
img {
  width: 100%;
}

/* line 75, ../sass/wechatbind.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  z-index: 99999;
}

/* line 85, ../sass/wechatbind.scss */
.loading-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 136, ../sass/wechatbind.scss */
img {
  width: 100%;
}

/* line 140, ../sass/wechatbind.scss */
.logo {
  width: 100%;
  height: 2.15rem;
  display: flex;
}
/* line 144, ../sass/wechatbind.scss */
.logo .logoimg {
  width: 0.87rem;
  height: 0.705rem;
  margin: auto;
}

/* line 151, ../sass/wechatbind.scss */
form {
  margin-bottom: 0.55rem;
}

/* line 155, ../sass/wechatbind.scss */
.line {
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #fff;
  padding-left: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 161, ../sass/wechatbind.scss */
.line label {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
/* line 166, ../sass/wechatbind.scss */
.line label.sp:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 176, ../sass/wechatbind.scss */
.line label input[type='text'] {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0.15rem;
  color: #222;
  border: none;
}
/* line 183, ../sass/wechatbind.scss */
.line label .checkCode {
  display: inline-block;
  line-height: 1.7;
  padding: 0.05rem 0.15rem;
  position: absolute;
  border: 1px solid #3a61fb;
  border-radius: 2em;
  font-size: 0.12rem;
  color: #3a61fb;
  position: absolute;
  top: 50%;
  right: 5%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 196, ../sass/wechatbind.scss */
.line label .checkCode:active {
  color: rgba(58, 97, 251, 0.8);
  border: 1px solid rgba(58, 97, 251, 0.8);
}
/* line 200, ../sass/wechatbind.scss */
.line label .checkCode[disabled] {
  color: rgba(58, 97, 251, 0.3);
  border: 1px solid rgba(58, 97, 251, 0.3);
}

/* line 208, ../sass/wechatbind.scss */
.btn {
  width: 2.8rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #3a61fb;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 0.55rem;
}
/* line 218, ../sass/wechatbind.scss */
.btn:active {
  background-color: rgba(58, 97, 251, 0.8);
}
/* line 221, ../sass/wechatbind.scss */
.btn[disabled] {
  background-color: rgba(58, 97, 251, 0.3);
}

/* line 226, ../sass/wechatbind.scss */
.toast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* line 235, ../sass/wechatbind.scss */
.toast .toast-alert {
  width: 2.35rem;
  height: 1.3rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.175rem;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 251, ../sass/wechatbind.scss */
.wechatbindlist {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 100vh;
}
/* line 256, ../sass/wechatbind.scss */
.wechatbindlist .body {
  flex: 1;
  overflow: scroll;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.25rem;
}
/* line 262, ../sass/wechatbind.scss */
.wechatbindlist .foot {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.25rem;
  border-top: 1px solid #ccc;
}
/* line 273, ../sass/wechatbind.scss */
.wechatbindlist .tip {
  padding-top: 0.5rem;
  text-align: left;
}
/* line 277, ../sass/wechatbind.scss */
.wechatbindlist ul {
  margin-top: 0.25rem;
}
/* line 280, ../sass/wechatbind.scss */
.wechatbindlist li {
  padding: 0.1rem 0;
}
/* line 282, ../sass/wechatbind.scss */
.wechatbindlist li h3 {
  text-align: left;
  padding-bottom: 0.1rem;
}
/* line 286, ../sass/wechatbind.scss */
.wechatbindlist li a.btn {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #3a61fb;
  border-radius: 0.05rem;
}
/* line 292, ../sass/wechatbind.scss */
.wechatbindlist li a.btn:active {
  background-color: rgba(58, 97, 251, 0.8);
}
/* line 295, ../sass/wechatbind.scss */
.wechatbindlist li a.btn:visited, .wechatbindlist li a.btn:hover {
  color: #fff;
}

/* line 303, ../sass/wechatbind.scss */
.toast .toast-alert .toast-msg {
  padding-top: 0.25rem;
  height: 0.9rem;
  line-height: 1.6;
  color: #fff;
  font-size: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

/* line 317, ../sass/wechatbind.scss */
.success {
  width: 100%;
}
/* line 319, ../sass/wechatbind.scss */
.success .icon-success {
  margin: 0.9rem auto;
  width: 0.6rem;
}
/* line 323, ../sass/wechatbind.scss */
.success h2 {
  color: #000;
  font-size: 0.18rem;
  margin: 0.1rem auto;
}
/* line 328, ../sass/wechatbind.scss */
.success p {
  color: #666666;
}
