<!-- 搜索模块 start -->
<form action="">
    <div class="bbs-header">
        <div class="filter-control">
            <!-- 日期选择插件 -->
            <div class="filter-time"><span id="timeStart" class="btn-bdru"><?php echo $startDate;?>
                <i class="glyphicon glyphicon-chevron-down"></i></span><em>至</em><span id="timeEnd" class="btn-bdru"><?php echo $endDate; ?>
                <i class="glyphicon glyphicon-chevron-down"></i></span><input id="reservation" type="text" readonly value="<?php echo $startDate .' - '. $endDate; ?>">
            </div>
                <script>
                    $(document).ready(function () {
                        $('#reservation').daterangepicker({
                            //maxDate: new Date(),
                            locale: {
                                applyLabel: '确认',
                                cancelLabel: '取消',
                                fromLabel: '从',
                                toLabel: '到',
                                weekLabel: 'W',
                                customRangeLabel: 'Custom Range',
                                daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                            }
                        }, function (start, end, label) {
                            var t1 = new Date(start.toString());
                            var t2 = new Date(end.toString());
                            var txt1 = t1.format('yyyy-MM-dd');
                            var txt2 = t2.format('yyyy-MM-dd');
                            $("#timeStart").html(txt1 + '<i class="glyphicon glyphicon-chevron-down"></i>');
                            $("#timeEnd").html(txt2 + '<i class="glyphicon glyphicon-chevron-down"></i>');
                            $('#startDate').val(txt1);
                            $('#endDate').val(txt2);
                        });
                        
                       // 给导出结算记录按钮绑定事件
    					$("#export_member_btn").click(function(){
    						var href = $(this).attr("data-href") + "?startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val();
    						$(this).attr("href", href);
    						setTimeout(function(){
    							$("#export_member_btn").attr('href','javascript:void(0);');
    						},0)
    					});
                    });
                </script>
         </div>
        <div class="filter-control">     
             <div class="btn-sj-blue search-btn btn-bdru btn" onclick="$('form').submit();"><span>查询</span></div>
            <a href="javascript:void(0);" data-href="/MemberStat/exportMemberTotal" class="search-btn btn-sj-blue btn-bdru btn btn-default" id="export_member_btn" >导出</a> 
        </div>
    </div>
    <input type="text" hidden id="startDate" name="startDate" value="<?php echo $startDate;?>">
    <input type="text" hidden id="endDate" name="endDate" value="<?php echo $endDate;?>">
</form>
<!-- 搜索模块 end -->
<h1>会员交易汇总</h1>

<ul class="consume-container">
    <li>
        <div>
            <div><img src="/static/images/consume-icon1.png" alt=""></div>
            <div>
                <p><?php echo isset($total_info['total_recharge_count_all']) ? $total_info['total_recharge_count_all'] : 0; ?></p>
                <p>充值人数</p>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div><img src="/static/images/consume-icon2.png" alt=""></div>
            <div>
                <p><?php echo isset($total_info['total_recharge_amount_all']) ? $total_info['total_recharge_amount_all'] : 0; ?></p>
                <p>充值金额(元)</p>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div><img src="/static/images/consume-icon1.png" alt=""></div>
            <div>
                <p><?php echo isset($total_info['total_apay_count_all']) ? $total_info['total_apay_count_all'] : 0; ?></p>
                <p>消费人数</p>
            </div>
        </div>
    </li>
    <li>
        <div>
            <div><img src="/static/images/consume-icon2.png" alt=""></div>
            <div>
                <p><?php echo isset($total_info['total_apay_amount_all']) ? $total_info['total_apay_amount_all'] : 0; ?></p>
                <p>消费金额(元)</p>
            </div>
        </div>
    </li>
</ul>
<h2></h2>
<div class="body-table stage-table">
    <table class="table table-bordered">
        <tr>
            <th>会员类型</th>
            <th>开卡人数</th>
            <th>充值人数</th>
            <th>充值金额</th>
            <th>消费人数</th>
            <th>消费金额</th>
        </tr>
        <?php 
        if(!empty($list)){
			foreach($list as $value){
        ?>
        <tr>
            <td><?php echo isset($value['member_type_name']) ?  $value['member_type_name'] : '' ;?></td>
            <td><?php echo isset($value['open_card_count']) ?  $value['open_card_count'] : 0 ;?></td>
            <td><?php echo isset($value['total_recharge_count']) ?  $value['total_recharge_count'] : 0 ;?></td>
            <td><?php echo isset($value['total_recharge_amount']) ?  $value['total_recharge_amount'] : 0 ;?></td>
            <td><?php echo isset($value['total_apay_count']) ?  $value['total_apay_count'] : 0 ;?></td>
            <td><?php echo isset($value['total_apay_amount']) ?  $value['total_apay_amount'] : 0 ;?></td>
        </tr>
        <?php
        	}
        }
        ?>
    </table>
</div>
