@import "compass/reset";
@import "compass/css3";

html{
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x:hidden; 
  overflow: auto;
  background-color:#f0f0f0;
  line-height: 1.375;
}
body{
  margin: 0 auto;
  width: 3.2rem;
  height: 100%;
  max-width: 640px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f8f8f8;
}
a,lable,button{-webkit-tap-highlight-color:rgba(0,0,0,0); }
a,a:hover,a:visited{
  text-decoration: none;
  color: #000;
}
.hide{
  display: none !important;
}
img{
  width: 100%;
}
.coach-down-m-main{
  width: 100%;
  font-size: 0.12rem;
  color:#636363;
  text-align: center;
}
.coach-down-m-page1{
  width: 100%;
  height:4.5rem;
  background:transparent url('../images/coach_down_wap_background.jpg') left top no-repeat;
  @include background-size(cover);
}
.coach-down-m-logo{
  padding-top: 1rem;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0 auto;
  font-size: 0;
}
.coach-down-m-page1-p1{
  padding-top: 0.15rem;
  color:#2d8ae0;
  font-size: 0.18rem;
  font-weight: bolder;
}
.coach-down-m-page2-p2{
  padding-top: 0.1rem;
  font-size: 0.13rem;
  color:#666666;
}
a.coach-down-m-page1-download{
  display: block;
  font-size: 0.14rem;
  margin: 1rem auto 0;
  width: 1.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  color:#fff;
  background-color: #3492e9;
  border-radius: 6px;
}
.coach-down-m-page2,.coach-down-m-page4{
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
}
.coach-down-m-page2-p1,.coach-down-m-page3-p1,.coach-down-m-page4-p1{
  padding-top: 0.5rem;
  color:#2d8ae0;
  font-size: 0.23rem;
}
.coach-down-m-page2-p2,.coach-down-m-page3-p2,.coach-down-m-page4-p2{
  padding-top: 0.2rem;
  color:#444444;
  font-size: 0.13rem;
}
.coach-down-m-page2-iphone{
  width: 431*0.01/2+rem;
  height: 514*0.01/2+rem;
  margin: 0.5rem auto 0;
}
.coach-down-m-page3{
  width: 100%;
  height: 3.3rem;
  background-color: #f5f5f5;
}
.coach-down-m-page3-icons{
  width: 2rem;
  height: 1.1rem;
  margin: 0.4rem auto 0;
}
.coach-down-m-page3-icon{
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  font-size: 0;
  margin: 0.05rem;
}
.coach-down-m-page4-iphone{
  width: 380*0.01/2+rem;
  height: 514*0.01/2+rem;
  margin: 0.3rem auto 0;
}
.coach-down-m-page5{
  width: 100%;
  height: 0.9rem;
  background-color: #f8f8f8;
  line-height: 0.9rem;
  font-size: 0.12rem; 
  color:#aaa;
}