/*html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f5f5f9;
  line-height: 1.375;
}
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f5f5f9;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/

.main {
  position: relative;
  min-height: 100%;
}

.main {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

#wrapper {
  position: absolute;
  z-index: 1;
  left: 0.35rem;
  padding-left: 0.15rem;
  right: 0;
  top: 0.35rem;
  bottom: 0.05rem;
}

#scroller {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

#scroller ul:after:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.book-container {
  position: absolute;
  top: 0.86rem;
  bottom: 1.41rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.book-container .book-area, .book-container .book-time {
  color: #666;
  font-size: 0.12rem;
  position: absolute;
  overflow: hidden;
}

.book-container .book-area .active, .book-container .book-time .active {
  color: #009ff0;
}

.book-container .book-area {
  top: 0.15rem;
  left: 0.5rem;
  right: 0;
  height: 0.16rem;
}

.book-container .book-area > ul {
  position: absolute;
}

.book-container .book-area > ul li {
  float: left;
  width: 0.5rem;
  height: 0.16rem;
  margin-right: 1px;
  overflow: hidden;
}

.book-container .book-area:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.book-container .book-time {
  top: 0.26rem;
  bottom: 0;
  left: 0;
  width: 90px;
  text-align: right;
}

.book-container .book-time > ul {
  position: absolute;
  width: 100%;
  left: 0;
}

.book-container .book-time > ul li {
  height: 36px;
  border-bottom: 1px solid #fff;
}

.book-container .book-time > ul li span:nth-of-type(3) {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 1px;
  margin-left: 3px;
  background-color: #666;
}

.book-container .book-list {
  color: #fff;
  font-size: 0.12rem;
}

.book-container .book-list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.book-container .book-list ul {
  float: left;
}
.book-container .book-list ul li {
  width: 90px;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: #6ad449;
}
.book-container .book-list ul .disable {
  background-color: #cdcdcd;
  color: #cdcdcd;
}

.book-container .book-list ul .selected {
  background-color: #009ff0;
}
