@import "compass/reset";
@import "compass/css3";

html{
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x:hidden; 
  overflow: auto;
  background-color:#ffffff;
  line-height: 1.375;
}
body{
  @include user-select(none);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  background-color: #ffffff;
  font-size: 0.12rem;
  color: #000;
  @include box-sizing(border-box);
}
input{
        -webkit-box-sizing:border-box;
      }
a,input,lable,button,div{-webkit-tap-highlight-color:rgba(0,0,0,0);
  outline: none;
 }
a,a:hover,a:visited{
  text-decoration: none;
  color: inherit;
}
.hide{
  display: none !important;
}

input::-ms-input-placeholder {
  text-align: center;
  color:#a9a9a9;
}

input::-webkit-input-placeholder {
  text-align: center;
  color:#a9a9a9;
}

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: #fff;
  z-index: 99999;
}
.loading-icon{
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}
@-moz-keyframes rotate360 {
    from {
        transform:rotateZ(0deg);
    }
    to {
        transform:rotateZ(360deg);
    }
}
@keyframes rotate360 {
  from {
    -webkit-transform:rotateZ(0deg);
    transform:rotateZ(0deg);
  }
  to {
    -webkit-transform:rotateZ(360deg);
    transform:rotateZ(360deg);
  }
}

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform:rotateZ(0deg);
  }
  to {
    -webkit-transform:rotateZ(360deg);
  }
}

img{
  width: 100%;
}

@mixin clearfix {
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

@mixin textOver($num){
  overflow: hidden;
    max-width: $num;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.header{
  width: 100%;
  height: 88*0.005+rem;
  background-color: #009ff0;
  text-align: center;
  line-height: 88*0.005+rem;
  position: relative;
  .icon-back{
    display: inline-block;
    width: 30*0.005+rem;
    height: 30*0.005+rem;
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-15*0.005+rem;
    margin-top:-15*0.005+rem;
    @include transform(rotateZ(45deg));
  }
  .center{
    width: 100%;
    @include box-sizing(border-box);
    padding:0 100*0.005+rem;
    position: relative;
    font-size: 0.18rem;
    color:#fff;
  }
  .left,.right{
    height: 88*0.005+rem;
    position: absolute;
    top:0;
    z-index: 99;
    font-size: 0;
  }
  .left{
    left:0;
    width: 100*0.005+rem;
  }
  .right{
    right:0.15rem;
    font-size: 0.15rem;
    color:#fff
  }
 
}

.main{
  width: 100%;
  min-height: 100%;
  overflow:hidden;
  font-size: 0.16rem;
}
.fcb{
	color: #5b73f2;
}
.tc{text-align:center;}
.payok-logo{
	text-align:center;
	margin-top:0.45rem;
	margin-left:-0.2rem;
	margin-bottom:0.2rem;
	img{
		width:1.275rem
	}
}
.pay-info{
	margin-top:0.3rem;
	margin-left:0.3rem;
	margin-bottom:0.6rem;
	ul li {
		line-height: 0.25rem;
		&:nth-child(1){
			font-size: 0.15rem;
			color: #666666;
			display: inline-block;
			float: left;
		}
		&:nth-child(2){
           font-size: 0.15rem;
			color: #222222;

		}
		
	}
}
.payok-txt{
	margin:0 auto;
	width:75%;
	span{
		color: #afafaf;
		font-size: 0.12rem;
	}
}
.detail-btn{
	margin:0 auto;
	transform:translateY(0.15rem);
	-webkit-transform:translateY(0.15rem);
	width:75%;
	border:1px solid #5b73f2;
    border-radius:2rem;
    text-align:center;
    padding:0.1rem;
}