.main{
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.05em;
}

h2{
  margin-top: 215px;
  font-size: 40px;
  color:#2b6ffe;
  margin-bottom: 15px;
  font-weight: 300;
  letter-spacing: 0.05em;
  &+p{
    font-size: 24px;
  }
}


.cb{
  width: 790px;
  padding-left: 100px;
  margin:0 auto;
  text-align: left;
  position: relative;
  margin-top: 50px;
}

.rb{
  position: absolute;
  top:106px;
  left:430px;
}

h3{
  font-size: 24px;
  color:#2b6ffe;
  font-weight: 300;
  letter-spacing: 0.05em;
  &+p{
    margin-bottom: 63px;
  }
}