.main{
  text-align: center;
  font-weight: 200;
}


h2{
  padding-bottom: 30px;
  font-size: 40px;
  color:#2b6ffe;
  padding-top: 120px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

p{
  font-size: 18px;
  color:#000;
}
h3{
  font-size: 24px;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.img-row{
  padding-top: 60px;
  padding-bottom: 90px;
  position: relative;
  &:after{
    content: "";
    height: 1px;
    width: 500px;
    background-color: #dcdcdc;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -250px;
  }
}

.cell{
  display: inline-block;
  margin:0 30px;
  font-size: 24px;
  .top{
    margin-bottom: 22px;
  }
  span{
    font-size: 15px;
    color:#424242;
  }
}
.margin-top-60{
  margin-top: 60px;
}

.button{
  display: inline-block;
  padding:10px 25px;
  border-radius: 3em;
  color:#fff;
  background-color: #4566cd;
  text-align: center;
  margin:10px 30px;
  font-size: 20px;
}

.gray{
  background-color: #808080;
}

.flex{
  display: flex;
}

.after-none{
  &:after{
    display: none;
  }
}

.inline-row{
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  color:#424242;
}