/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 3, ../sass/includes/_sj-btn.scss */
.btn-bdru {
  border-radius: 3em;
}

/* line 7, ../sass/includes/_sj-btn.scss */
.btn-noborder {
  border: none;
}

/* line 11, ../sass/includes/_sj-btn.scss */
.btn-sj, .btn-sj-blue {
  cursor: pointer;
  border-color: #bec9d6;
  color: #bec9d6;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  vertical-align: middle;
}
/* line 20, ../sass/includes/_sj-btn.scss */
.btn-sj .icon-sj, .btn-sj-blue .icon-sj {
  margin-right: 20px;
}
/* line 23, ../sass/includes/_sj-btn.scss */
.btn-sj .icon-sj > .icon.color-width, .btn-sj-blue .icon-sj > .icon.color-width {
  -webkit-filter: drop-shadow(#fff 46px 0);
  filter: drop-shadow(#fff 46px 0);
}

/* line 30, ../sass/includes/_sj-btn.scss */
.sj-content .btn-sj {
  color: #000;
}

/* line 36, ../sass/includes/_sj-btn.scss */
.sj-nav .btn-sj {
  color: #fff;
}

/* line 46, ../sass/includes/_sj-btn.scss */
.btn-sj-blue {
  background-color: #0384da;
  color: #fff;
  border: none;
  min-width: 130px;
  height: 40px;
}
/* line 53, ../sass/includes/_sj-btn.scss */
.btn-sj-blue:hover {
  background-color: #048be6;
  color: #fff;
}
/* line 57, ../sass/includes/_sj-btn.scss */
.btn-sj-blue[disabled], .btn-sj-blue[disabled]:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 61, ../sass/includes/_sj-btn.scss */
.btn-sj-blue:focus, .btn-sj-blue:active {
  background-color: #0384da;
  color: #fff;
  border: none;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 3, ../sass/includes/_sj-nav.scss */
.sj-nav {
  width: 240px;
  color: #fff;
  background-color: #3d4456;
  height: 0;
}
/* line 8, ../sass/includes/_sj-nav.scss */
.sj-nav .sj-nav-title {
  width: 100%;
  height: 1px;
  color: #8796aa;
  font-size: 16px;
  margin: 20px auto;
  position: relative;
  background-color: #8796aa;
}
/* line 16, ../sass/includes/_sj-nav.scss */
.sj-nav .sj-nav-title span {
  position: absolute;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 10px;
  background-color: #3d4456;
}
/* line 23, ../sass/includes/_sj-nav.scss */
.sj-nav .navbar {
  min-height: 0;
  background-color: #3d4456;
  border: none;
}
/* line 28, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar {
  margin-top: 0;
  padding: 20px;
  padding-top: 0;
  background-color: #3d4456;
}
/* line 33, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar .navbar-collapse {
  border: none;
}
/* line 37, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar ul li {
  border: none;
}
/* line 40, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar ul li a {
  font-size: 18px;
  color: #fff;
  vertical-align: sub;
  text-indent: 1em;
}
/* line 45, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar ul li a:hover {
  background-color: #8796aa;
  color: #3d4456;
}
/* line 50, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar ul li a.active {
  background-color: #303748;
  position: relative;
}
/* line 53, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar ul li a.active:hover {
  background-color: rgba(48, 55, 72, 0.5);
  color: #fff;
}
/* line 57, ../sass/includes/_sj-nav.scss */
.sj-nav .sidebar ul li a.active:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}

/* line 69, ../sass/includes/_sj-nav.scss */
.sj-head {
  text-align: center;
  margin: 0 -20px;
  padding-bottom: 20px;
}
/* line 73, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-logo {
  height: 100px;
  padding: 20px;
  border-bottom: 2px solid #525a70;
  font-size: 13px;
  text-align: left;
}
/* line 80, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-logo p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}
/* line 85, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-logo .sj-head-logo-icon {
  width: 54px;
  height: 46px;
  background: transparent url("/static/images/zhangguan.png") 0 0 no-repeat;
  float: left;
  margin-right: 16px;
}
/* line 93, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin {
  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid #525a70;
}
/* line 98, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin i.person {
  display: inline-block;
  margin-right: 8px;
  width: 18px;
  height: 16px;
  background: transparent url("/static/images/person.png") 0 0 no-repeat;
}
/* line 105, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin .sj-head-admin-company, .sj-head .sj-head-admin .sj-head-admin-button {
  margin: 12px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 110, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin .sj-head-admin-company button, .sj-head .sj-head-admin .sj-head-admin-button button {
  margin: 0 10px;
  font-size: 14px;
  min-width: 90px;
  color: #8796aa;
  border-color: #8796aa;
  vertical-align: bottom;
}
/* line 120, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin .sj-head-admin-name {
  min-height: 20px;
}
/* line 123, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin .sj-head-admin-name .btn {
  color: #8796aa;
}
/* line 125, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-admin .sj-head-admin-name .btn span {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 132, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-all {
  line-height: 60px;
  border-bottom: 2px solid #525a70;
}
/* line 135, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-all a {
  color: #fff;
  font-size: 18px;
}
/* line 140, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-select {
  padding-top: 30px;
}
/* line 142, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-select .glyphicon.glyphicon-chevron-right {
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 147, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-select button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 30px;
}
/* line 153, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-select .dropdown-menu {
  top: 0;
  bottom: auto;
  right: auto;
  left: 100%;
}
/* line 156, ../sass/includes/_sj-nav.scss */
.sj-head .sj-head-select .dropdown-menu li a {
  color: #000;
}

/* line 165, ../sass/includes/_sj-nav.scss */
.nav .nav-second-level li {
  margin: 2px -20px;
}
/* line 168, ../sass/includes/_sj-nav.scss */
.nav a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 15, ../sass/includes/business/_sj-filter.scss */
.bbs-container {
  background-color: #f5f8fa;
  padding-bottom: 30px;
}

/* line 20, ../sass/includes/business/_sj-filter.scss */
.bbs-header {
  color: #394a5b;
  border-bottom: 1px dashed #b5c2cb;
}
/* line 25, ../sass/includes/business/_sj-filter.scss */
.bbs-header div:last-of-type::before {
  background-color: transparent !important;
}

/* line 33, ../sass/includes/business/_sj-filter.scss */
.border-r:before {
  content: "";
  width: 1px;
  height: 1em;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #bec9d6;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 49, ../sass/includes/business/_sj-filter.scss */
.filter-radio input, .filter-check input {
  display: none;
}
/* line 52, ../sass/includes/business/_sj-filter.scss */
.filter-radio em, .filter-check em {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* line 64, ../sass/includes/business/_sj-filter.scss */
.filter-radio em, .filter-check em {
  background-image: url(../images/selecte-off.png);
}
/* line 67, ../sass/includes/business/_sj-filter.scss */
.filter-radio input:checked + em, .filter-check input:checked + em {
  background-image: url(../images/selecte-on.png);
}

/* line 73, ../sass/includes/business/_sj-filter.scss */
.title-small {
  margin-left: 20px;
  width: 300px;
}
/* line 76, ../sass/includes/business/_sj-filter.scss */
.title-small:before {
  content: "";
  background-color: transparent !important;
}
/* line 80, ../sass/includes/business/_sj-filter.scss */
.title-small, .title-small .title-select, .title-small .title-select em {
  display: inline-block;
}
/* line 83, ../sass/includes/business/_sj-filter.scss */
.title-small input {
  display: none;
}
/* line 87, ../sass/includes/business/_sj-filter.scss */
.title-small span.title-select {
  width: 26px;
  height: 16px;
  background-color: #8796aa;
  border-radius: 8px;
  margin-right: 10px;
}
/* line 93, ../sass/includes/business/_sj-filter.scss */
.title-small span.title-select em {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
/* line 100, ../sass/includes/business/_sj-filter.scss */
.title-small span:nth-of-type(2) {
  vertical-align: text-top;
}
/* line 104, ../sass/includes/business/_sj-filter.scss */
.title-small input:checked + span {
  background-color: #0384da;
  text-align: right;
}

/* line 110, ../sass/includes/business/_sj-filter.scss */
.filter-control {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
}
/* line 5, ../sass/includes/business/_sj-filter.scss */
.filter-control:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 128, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-radio, .filter-control .filter-check {
  margin-right: 30px;
  float: left;
}
/* line 132, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-time {
  position: relative;
  margin-right: 30px;
}
/* line 135, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-time span {
  border: 1px solid #8796aa;
  padding: 0.5em 1em;
  min-width: 140px;
  display: inline-block;
  text-align: right;
  height: 40px;
  line-height: 20px;
}
/* line 143, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-time span i {
  color: #8796aa;
}
/* line 148, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-time em {
  margin: 0 0.5em;
}
/* line 151, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-time input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  cursor: pointer;
}
/* line 160, ../sass/includes/business/_sj-filter.scss */
.filter-control .filter-time i {
  margin-left: 5px;
  vertical-align: middle;
}

/* line 167, ../sass/includes/business/_sj-filter.scss */
.afterBorder:after {
  content: "";
  position: absolute;
  top: 12px;
  right: -30px;
  width: 1px;
  height: 16px;
  background-color: #9baabe;
}

/* line 177, ../sass/includes/business/_sj-filter.scss */
.filter-input {
  border: 1px solid #8796aa;
  border-radius: 3em;
  padding: 6px;
  height: 40px;
  margin-right: 20px;
}
/* line 182, ../sass/includes/business/_sj-filter.scss */
.filter-input label {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  color: #8796aa;
  vertical-align: middle;
}
/* line 187, ../sass/includes/business/_sj-filter.scss */
.filter-input label:after {
  content: "";
  width: 1px;
  height: 1em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #8796aa;
}
/* line 197, ../sass/includes/business/_sj-filter.scss */
.filter-input input {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: #000;
  margin-left: 5px;
  vertical-align: middle;
}

/* line 208, ../sass/includes/business/_sj-filter.scss */
.inputReset {
  height: auto;
  margin: 0 20px 10px;
}

/* line 213, ../sass/includes/business/_sj-filter.scss */
.daterangepicker {
  width: 500px;
}

/* line 206, ../sass/includes/business/_sj-filter.scss */
.filter-control.sp-line {
  width: 1px;
  margin-left: 0;
  height: 1em;
  background-color: #bec9d6;
}

/* line 1, ../sass/includes/business/includes/_consume-info.scss */
.consume-info {
  margin-top: 60px;
}

/* line 5, ../sass/includes/business/includes/_consume-info.scss */
.consume-container {
  display: flex;
  min-width: 920px;
  margin-top: 30px;
  background-color: #fff;
  padding: 30px 0;
  border-radius: 6px;
}
/* line 12, ../sass/includes/business/includes/_consume-info.scss */
.consume-container:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
/* line 18, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li {
  flex: 1;
  float: left\0;
  text-align: center;
  border-right: 1px solid #bec9d6;
}
/* line 23, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li:last-of-type {
  border-right: none;
}
/* line 26, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li img {
  margin-right: 12px;
  vertical-align: text-top;
}
/* line 30, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li > div {
  width: 190px;
  margin: auto;
}
/* line 34, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li > div div:first-of-type {
  float: left;
}
/* line 36, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li > div div:first-of-type img {
  width: 50px;
  height: 50px;
}
/* line 41, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li > div div:nth-of-type(2) {
  text-align: left;
}
/* line 46, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li > div p:nth-of-type(1) {
  font-size: 21px;
  font-weight: bold;
  color: #0384da;
  padding-top: 5px;
  margin-bottom: 5px;
}
/* line 57, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li:first-child:nth-last-child(1) {
  width: 100%;
}
/* line 61, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li:first-child:nth-last-child(2),
.consume-container li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}
/* line 66, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li:first-child:nth-last-child(3),
.consume-container li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%;
}
/* line 71, ../sass/includes/business/includes/_consume-info.scss */
.consume-container li:first-child:nth-last-child(4),
.consume-container li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}

/* line 79, ../sass/includes/business/includes/_consume-info.scss */
.consume-detail {
  color: #3d4456;
  padding: 20px 0 30px;
  text-align: center;
}
/* line 83, ../sass/includes/business/includes/_consume-info.scss */
.consume-detail span {
  margin-right: 5px;
}

/* line 1, ../sass/includes/business/includes/_report-info.scss */
.report-header {
  color: #2c3e50;
  font-size: 14px;
  padding: 8px 0;
}
/* line 6, ../sass/includes/business/includes/_report-info.scss */
.report-header span:nth-of-type(1) {
  margin-left: 200px;
}
/* line 9, ../sass/includes/business/includes/_report-info.scss */
.report-header span:nth-of-type(2) {
  margin-left: 170px;
}
/* line 12, ../sass/includes/business/includes/_report-info.scss */
.report-header span:nth-of-type(3) {
  margin-left: 175px;
}
/* line 15, ../sass/includes/business/includes/_report-info.scss */
.report-header span:nth-of-type(4) {
  margin-left: 75px;
}

/* line 1, ../sass/includes/business/includes/_chart-info.scss */
.chart-container {
  position: relative;
}
/* line 3, ../sass/includes/business/includes/_chart-info.scss */
.chart-container span {
  position: absolute;
  bottom: 5px;
  left: 880px;
  width: 5em;
  color: #9aabb8;
  font-size: 12px;
}

/* line 1, ../sass/includes/business/includes/_pagination.scss */
.pagination-container {
  color: #2c3e50;
  font-size: 20px;
  text-align: center;
}
/* line 5, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination {
  padding: 0px 20px;
  margin: 0;
  text-align: center;
  color: #ccc;
}
/* line 10, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination a, .pagination-container .pagination span {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  margin: 0 5px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 24, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination a {
  color: #8796aa;
  border: 1px solid #8796aa;
}
/* line 28, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination a:hover {
  text-decoration: none;
}
/* line 33, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span.current {
  color: #3d4456;
  border: 1px solid #3d4456;
}
/* line 38, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span.disabled {
  width: 38px;
  color: #aeb4bb;
  border: 1px solid #aeb4bb;
}
/* line 44, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span:first-child, .pagination-container .pagination a:first-child, .pagination-container .pagination span.disabled:first-child, .pagination-container .pagination a.disabled:first-child, .pagination-container .pagination span:last-child, .pagination-container .pagination a:last-child, .pagination-container .pagination span.disabled:last-child, .pagination-container .pagination a.disabled:last-child {
  width: 38px;
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 50, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span:first-child, .pagination-container .pagination a:first-child {
  background-image: url(../images/left.png);
}
/* line 54, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span:first-child.disabled, .pagination-container .pagination a:first-child.disabled {
  background-image: url(../images/left-off.png);
}
/* line 59, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span:last-child, .pagination-container .pagination a:last-child {
  background-image: url(../images/right.png);
}
/* line 63, ../sass/includes/business/includes/_pagination.scss */
.pagination-container .pagination span:last-child.disabled, .pagination-container .pagination a:last-child.disabled {
  background-image: url(../images/right-off.png);
}

/* line 69, ../sass/includes/business/includes/_pagination.scss */
.pagination-go {
  float: right;
  font-size: 16px;
}
/* line 73, ../sass/includes/business/includes/_pagination.scss */
.pagination-go span {
  display: inline-block;
  margin: 0 5px;
  color: #9baabe;
}
/* line 77, ../sass/includes/business/includes/_pagination.scss */
.pagination-go span:nth-of-type(2) {
  padding: 0.2em 0.5em;
  border: 1px solid #9baabe;
}
/* line 81, ../sass/includes/business/includes/_pagination.scss */
.pagination-go span:nth-of-type(3) {
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 50%;
  width: 38px;
  line-height: 38px;
  cursor: pointer;
}
/* line 90, ../sass/includes/business/includes/_pagination.scss */
.pagination-go input {
  color: #000;
  border: none;
  background: none;
  outline: none;
  width: 2em;
  margin: 0 3px;
  text-align: center;
}

/* line 6, ../sass/includes/business/_sj-body.scss */
.search-btn-wrap {
  text-align: right;
  margin-top: 20px;
}
/* line 9, ../sass/includes/business/_sj-body.scss */
.search-btn-wrap .search-btn {
  margin-left: 20px;
}

/* line 14, ../sass/includes/business/_sj-body.scss */
.search-btn {
  display: inline-block;
  color: #fff;
  padding: 10px 36px;
  margin-right: 20px;
  font-size: 16px;
}
/* line 21, ../sass/includes/business/_sj-body.scss */
.search-btn img {
  width: 22px;
  margin-right: 10px;
  vertical-align: sub;
}

/* line 29, ../sass/includes/business/_sj-body.scss */
.body-table table {
  width: 100%;
}
/* line 32, ../sass/includes/business/_sj-body.scss */
.body-table th, .body-table td {
  padding: 10px 0;
  border: 1px solid #bec9d6;
  text-align: center;
}
/* line 37, ../sass/includes/business/_sj-body.scss */
.body-table th {
  color: #9aabb8;
  font-size: 12px;
}
/* line 41, ../sass/includes/business/_sj-body.scss */
.body-table td {
  color: #2c3e50;
  font-size: 12px;
}

/* line 4, ../sass/includes/_sj-content.scss */
h1 {
  display: inline-block;
  color: #2c3e50;
  font-size: 24px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #2c3e50;
}

/* line 14, ../sass/includes/_sj-content.scss */
h2 {
  color: #000;
  font-size: 16px;
  display: inline-block;
  padding: 30px 0;
}

/* line 3, ../sass/includes/_sj-table.scss */
table {
  border-radius: 6px;
  border: none;
  overflow: hidden;
  text-align: center;
}
/* line 8, ../sass/includes/_sj-table.scss */
table th {
  text-align: center;
}

/* line 12, ../sass/includes/_sj-table.scss */
thead, tbody {
  background-color: #fff;
}

/* line 16, ../sass/includes/_sj-table.scss */
table thead {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 20, ../sass/includes/_sj-table.scss */
table thead.sp {
  background-color: transparent;
  border: none !important;
}
/* line 23, ../sass/includes/_sj-table.scss */
table thead.sp th {
  color: #2c3e50;
  border: none;
}

/* line 30, ../sass/includes/_sj-table.scss */
a {
  cursor: pointer;
}

/* line 34, ../sass/includes/_sj-table.scss */
.table th {
  color: #000 !important;
  font-size: 16px !important;
}
/* line 38, ../sass/includes/_sj-table.scss */
.table td {
  color: #3d4456 !important;
  font-size: 14px !important;
}
/* line 41, ../sass/includes/_sj-table.scss */
.table td a {
  color: #0384da !important;
}

/* line 46, ../sass/includes/_sj-table.scss */
.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}

/* line 51, ../sass/includes/_sj-table.scss */
.table-bordered thead th {
  color: #000;
}
/* line 54, ../sass/includes/_sj-table.scss */
.table-bordered th, .table-bordered td {
  border-color: #bec9d6 !important;
}
/* line 56, ../sass/includes/_sj-table.scss */
.table-bordered th.no-border-left, .table-bordered td.no-border-left {
  border-left: none !important;
}
/* line 59, ../sass/includes/_sj-table.scss */
.table-bordered th.no-border-right, .table-bordered td.no-border-right {
  border-right: none !important;
}

/* line 64, ../sass/includes/_sj-table.scss */
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom-width: 1px;
  border-top-width: 0;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 3, ../sass/includes/_sj-icon.scss */
.icon-sj {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: inherit;
  margin-left: -10px;
  margin-right: 10px;
  overflow: hidden;
}

/* line 13, ../sass/includes/_sj-icon.scss */
.icon-sj > .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -24px;
  border-right: 25px solid transparent;
  -webkit-filter: drop-shadow(#bec9d6 50px 0);
  filter: drop-shadow(#bec9d6 50px 0);
}
/* line 22, ../sass/includes/_sj-icon.scss */
.icon-sj > .icon.color-width {
  -webkit-filter: drop-shadow(#fff 50px 0);
  filter: drop-shadow(#fff 50px 0);
}

/* line 31, ../sass/includes/_sj-icon.scss */
a.active .icon-sj > .icon {
  -webkit-filter: drop-shadow(#0384da 50px 0);
  filter: drop-shadow(#0384da 50px 0);
}

/* line 37, ../sass/includes/_sj-icon.scss */
.icon-sj-time {
  background: transparent url("/static/images/icon-sj-time.png") 0 0 no-repeat;
}

/* line 38, ../sass/includes/_sj-icon.scss */
.icon-sj-fd {
  background: transparent url("/static/images/icon-sj-fd.png") 0 0 no-repeat;
}

/* line 39, ../sass/includes/_sj-icon.scss */
.icon-sj-detail {
  background: transparent url("/static/images/icon-sj-detail.png") 0 0 no-repeat;
}

/* line 40, ../sass/includes/_sj-icon.scss */
.icon-sj-summary {
  background: transparent url("/static/images/icon-sj-summary.png") 0 0 no-repeat;
}

/* line 41, ../sass/includes/_sj-icon.scss */
.icon-sj-data {
  background: transparent url("/static/images/icon-sj-data.png") 0 0 no-repeat;
}

/* line 42, ../sass/includes/_sj-icon.scss */
.icon-sj-statistics {
  background: transparent url("/static/images/icon-sj-statistics.png") 0 0 no-repeat;
}

/* line 43, ../sass/includes/_sj-icon.scss */
.icon-sj-booking {
  background: transparent url("/static/images/icon-sj-booking.png") 0 0 no-repeat;
}

/* line 44, ../sass/includes/_sj-icon.scss */
.icon-sj-lock {
  background: transparent url("/static/images/icon-sj-lock.png") 0 0 no-repeat;
}

/* line 45, ../sass/includes/_sj-icon.scss */
.icon-sj-zip {
  background: transparent url("/static/images/icon-sj-zip.png") 0 0 no-repeat;
}

/* line 46, ../sass/includes/_sj-icon.scss */
.icon-sj-settle {
  background: transparent url("/static/images/icon-sj-settle.png") 0 0 no-repeat;
}

/* line 47, ../sass/includes/_sj-icon.scss */
.icon-sj-report {
  background: transparent url("/static/images/icon-sj-report.png") 0 0 no-repeat;
}

/* line 48, ../sass/includes/_sj-icon.scss */
.icon-sj-record {
  background: transparent url("/static/images/icon-sj-record.png") 0 0 no-repeat;
}

/* line 49, ../sass/includes/_sj-icon.scss */
.icon-sj-search {
  background: transparent url("/static/images/search.png") 0 0 no-repeat;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 3, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
}
/* line 10, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .form-inline {
  margin-left: 30px;
  margin-bottom: 30px;
}
/* line 14, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .filter-control {
  border: none;
}
/* line 17, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form {
  border-radius: 6px;
  background-color: #fff;
  min-width: 750px;
  width: 750px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -375px;
}
/* line 31, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  position: relative;
}
/* line 36, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-header p {
  margin-left: 20px;
  padding: 0;
}
/* line 41, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-header .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 50%;
  margin-top: -15px;
}
/* line 50, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-body {
  width: 100%;
  height: 450px;
  flex: 1;
  overflow: hidden;
  padding-top: 10px;
}
/* line 58, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-body .first-group .filter-control:before {
  width: 0;
}
/* line 63, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-fooder {
  text-align: center;
  width: 100%;
  height: 100px;
}
/* line 67, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-fooder .tip {
  margin: 15px auto;
}
/* line 70, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-fooder div.btn-sj-blue {
  line-height: 28px;
}
/* line 73, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-fooder button {
  margin: 0 20px;
}
/* line 76, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-popbg-form .sj-fixedCourt-form-fooder .btn-default[disabled]:hover {
  background-color: #0384da;
}
/* line 79, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-list {
  height: 250px;
  overflow-y: scroll;
}
/* line 78, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-list label {
  padding-top: 10px;
}
/* line 82, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-list li {
  margin-bottom: 20px;
}
/* line 84, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-list li a {
  color: #0384da;
}
/* line 88, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-popbg .sj-fixedCourt-list select {
  margin-right: 10px;
}

/* line 93, ../sass/includes/_sj-fixed-court-popbg.scss */
.lan {
  margin-right: 10px;
  color: #bec9d6;
}

/* line 97, ../sass/includes/_sj-fixed-court-popbg.scss */
.sj-fixedCourt-form-margin {
  margin-bottom: 20px;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 4, ../sass/includes/_sj-search-module.scss */
.sj-search-module {
  min-height: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dotted #bec9d6;
  position: relative;
}
/* line 10, ../sass/includes/_sj-search-module.scss */
.sj-search-module .sj-submit-btn-group {
  display: inline-block;
  background-color: #e3e8ed;
}

/* line 19, ../sass/includes/_sj-color.scss */
.color-width {
  color: #fff;
}

/* line 1, ../sass/includes/_sj-comment.scss */
.comment-header {
  padding-bottom: 30px;
  border-bottom: 1px dashed #9ca9b9;
}

/* line 7, ../sass/includes/_sj-comment.scss */
.comment-table .comment-reply-btn {
  width: 90px;
  min-width: 90px;
  margin: 0 auto;
  height: 26px;
  font-size: 13px;
  line-height: 26px;
}
/* line 14, ../sass/includes/_sj-comment.scss */
.comment-table .comment-reply-btn.disable {
  background-color: #8796aa;
}
/* line 19, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div {
  width: 106px;
  height: 17px;
  margin: 0 auto;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 27, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div.star0 {
  background-image: url(/static/images/star0.png);
}
/* line 27, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div.star1 {
  background-image: url(/static/images/star1.png);
}
/* line 26, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div.star2 {
  background-image: url(/static/images/star2.png);
}
/* line 26, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div.star3 {
  background-image: url(/static/images/star3.png);
}
/* line 26, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div.star4 {
  background-image: url(/static/images/star4.png);
}
/* line 26, ../sass/includes/_sj-comment.scss */
.comment-table .comment-star div.star5 {
  background-image: url(/static/images/star5.png);
}
/* line 35, ../sass/includes/_sj-comment.scss */
.comment-table .comment-content {
  width: 390px;
  text-align: left;
  padding: 16px;
}
/* line 38, ../sass/includes/_sj-comment.scss */
.comment-table .comment-img-list {
  margin-top: 20px;
  margin-right: -15px;
}
/* line 26, ../sass/includes/_sj-comment.scss */
.comment-table .comment-img-list li {
  float: left;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-right: 14px;
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 41, ../sass/includes/_sj-comment.scss */
.popbg {
  background: #000;
  display: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1002;
}

/* line 54, ../sass/includes/_sj-comment.scss */
.dialog-layer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  z-index: 1002;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
/* line 69, ../sass/includes/_sj-comment.scss */
.dialog-layer .dialog-close {
  text-align: left;
  padding: 10px 20px;
}
/* line 72, ../sass/includes/_sj-comment.scss */
.dialog-layer .dialog-close img {
  float: right;
  cursor: pointer;
}
/* line 77, ../sass/includes/_sj-comment.scss */
.dialog-layer .dialog-btn {
  font-size: 18px;
}

/* line 83, ../sass/includes/_sj-comment.scss */
.comment-tips .dialog-msg {
  clear: both;
  font-size: 18px;
  margin: 50px 0 50px;
}

/* line 90, ../sass/includes/_sj-comment.scss */
.comment-reply {
  height: auto;
  color: #8796aa;
}
/* line 93, ../sass/includes/_sj-comment.scss */
.comment-reply .reply-content {
  position: relative;
  border: 1px solid #8796aa;
  width: 396px;
  margin: 20px auto 0;
  padding: 10px 15px 30px;
  border-radius: 6px;
}
/* line 100, ../sass/includes/_sj-comment.scss */
.comment-reply .reply-content textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}
/* line 106, ../sass/includes/_sj-comment.scss */
.comment-reply .reply-content .reply-count {
  position: absolute;
  bottom: 8px;
  right: 12px;
}
/* line 112, ../sass/includes/_sj-comment.scss */
.comment-reply .reply-tips {
  margin: 10px 0;
}
/* line 115, ../sass/includes/_sj-comment.scss */
.comment-reply .cancel {
  margin-right: 15px;
}

/* line 119, ../sass/includes/_sj-comment.scss */
.comment-preview {
  width: 800px;
}
/* line 122, ../sass/includes/_sj-comment.scss */
.comment-preview ul {
  width: 695px;
  margin: 15px auto 0;
}
/* line 125, ../sass/includes/_sj-comment.scss */
.comment-preview ul li {
  height: 464px;
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: center center;
}
/* line 132, ../sass/includes/_sj-comment.scss */
.comment-preview ul li.active {
  display: block;
}
/* line 137, ../sass/includes/_sj-comment.scss */
.comment-preview .pagination-container {
  margin-top: 20px;
}
/* line 140, ../sass/includes/_sj-comment.scss */
.comment-preview em {
  color: #000;
  font-size: 13px;
  margin: 0 60px;
}

/* line 14, ../sass/admin-sj.scss */
html,
body,
.main {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background-color: #e3e8ed;
}

/* line 22, ../sass/admin-sj.scss */
.sj-content#page-wrapper {
  height: 100%;
  min-width: 960px;
  padding: 20px;
  background-color: #e3e8ed;
  margin-left: 250px;
  color: #000;
}

/* line 31, ../sass/admin-sj.scss */
.sj-select-lb {
  position: relative;
}
/* line 33, ../sass/admin-sj.scss */
.sj-select-lb i {
  position: absolute;
  right: 10px;
  top: 55%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #8796aa;
}

/* line 42, ../sass/admin-sj.scss */
.sj-select {
  display: inline-block;
  height: 40px;
  padding: 0 40px 0 20px;
  font-size: 16px;
  color: #000;
  text-align: center;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #8796aa;
  cursor: pointer;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
/* line 60, ../sass/admin-sj.scss */
.sj-select option {
  text-align: center;
}
/* line 63, ../sass/admin-sj.scss */
.sj-select:focus {
  border-color: #8796aa;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 68, ../sass/admin-sj.scss */
.sj-select::-ms-expand {
  display: none;
}

/* line 73, ../sass/admin-sj.scss */
.bind-nav a, .bind-nav a:link, .bind-nav a:hover {
  text-decoration: none;
  outline: none;
}

/* line 78, ../sass/admin-sj.scss */
h3 {
  font-size: 14px;
}

/* line 82, ../sass/admin-sj.scss */
.sj-sa-container {
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  font-size: 0;
}
/* line 86, ../sass/admin-sj.scss */
.sj-sa-container li {
  font-size: 16px;
  display: inline-block;
  width: 20%;
  margin: 20px auto;
}
/* line 90, ../sass/admin-sj.scss */
.sj-sa-container li .content {
  margin: 0 auto;
  border-right: 1px solid #bec9d6;
}
/* line 93, ../sass/admin-sj.scss */
.sj-sa-container li .content table {
  margin: 0 auto;
}
/* line 95, ../sass/admin-sj.scss */
.sj-sa-container li .content table td {
  padding: 5px 0;
  color: #000;
}
/* line 103, ../sass/admin-sj.scss */
.sj-sa-container li:first-child:nth-last-child(1) {
  width: 100%;
}
/* line 105, ../sass/admin-sj.scss */
.sj-sa-container li:first-child:nth-last-child(1) .content {
  border: none;
}
/* line 110, ../sass/admin-sj.scss */
.sj-sa-container li:first-child:nth-last-child(2),
.sj-sa-container li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}
/* line 117, ../sass/admin-sj.scss */
.sj-sa-container li:last-child:nth-child(2) .content, .sj-sa-container li:last-child:nth-child(3) .content, .sj-sa-container li:last-child:nth-child(4) .content, .sj-sa-container li:nth-child(5n) .content {
  border: none;
}
/* line 122, ../sass/admin-sj.scss */
.sj-sa-container li:first-child:nth-last-child(3),
.sj-sa-container li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%;
}
/* line 127, ../sass/admin-sj.scss */
.sj-sa-container li:first-child:nth-last-child(4),
.sj-sa-container li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}
/* line 132, ../sass/admin-sj.scss */
.sj-sa-container li:first-child:nth-last-child(5),
.sj-sa-container li:first-child:nth-last-child(5) ~ li {
  width: 20%;
}

/* line 142, ../sass/admin-sj.scss */
.sj-js-table {
  background-color: transparent;
  margin: 20px 0;
}
/* line 145, ../sass/admin-sj.scss */
.sj-js-table tbody {
  background-color: transparent;
}
/* line 148, ../sass/admin-sj.scss */
.sj-js-table thead {
  background-color: transparent;
}
/* line 150, ../sass/admin-sj.scss */
.sj-js-table thead td {
  text-align: center;
}
/* line 154, ../sass/admin-sj.scss */
.sj-js-table td {
  min-width: 120px;
  padding: 5px;
  padding-right: 20px;
}
/* line 158, ../sass/admin-sj.scss */
.sj-js-table td:nth-of-type(odd) {
  font-weight: bold;
  text-align: right;
}

/* line 165, ../sass/admin-sj.scss */
.sj-js-table-1 {
  background-color: transparent;
  margin: 20px 0;
  position: relative;
  margin-right: 40px;
  overflow: inherit;
}
/* line 171, ../sass/admin-sj.scss */
.sj-js-table-1 thead {
  background-color: transparent;
}
/* line 173, ../sass/admin-sj.scss */
.sj-js-table-1 thead td {
  text-align: center;
}
/* line 177, ../sass/admin-sj.scss */
.sj-js-table-1 tbody {
  background-color: transparent;
}
/* line 179, ../sass/admin-sj.scss */
.sj-js-table-1 tbody td {
  text-align: right;
}
/* line 184, ../sass/admin-sj.scss */
.sj-js-table-1 td {
  min-width: 50px;
  padding: 5px;
  padding-right: 20px;
}
/* line 189, ../sass/admin-sj.scss */
.sj-js-table-1 b {
  font-weight: bold;
}
/* line 192, ../sass/admin-sj.scss */
.sj-js-table-1:not(:last-of-type):after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: -20px;
  top: 0;
  background: #5d5d5d;
}

.msgbox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0,0,0,0.5);
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.msgbox .msgbox-inner{
  margin: auto;
  padding: 20px;
  background-color: #fff; 
  position: absolute;
  text-align: center;
  border-radius: 5px;
  width: 320px;
  min-height: 160px;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.msgbox .msgbox-inner .close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 15px;
  height: 15px;
  background: url(/static/shangjia/images/closebtn.jpg) center center no-repeat;
}
.msgbox .msgbox-inner .title{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.msgbox .msgbox-inner .lists{
  margin: 20px auto;
  font-size: 16px;
}
.msgbox .msgbox-inner .btnstyle{
  width: 130px;
  line-height: 40px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: #0384da;
  border-radius: 20px;
  margin: 0px auto;
  cursor: pointer;
}
.pagination-container .pagination a,.pagination-container .pagination span{
  font-size: 12px;
}
