/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../includes/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f5f5f9;
  line-height: 1.375;
}

/* line 17, ../includes/reset.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f5f5f9;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../includes/reset.scss */
input {
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 39, ../includes/reset.scss */
a,
input,
lable,
button,
div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 48, ../includes/reset.scss */
a,
a:hover,
a:visited {
  text-decoration: none;
}

/* line 54, ../includes/reset.scss */
.hide {
  display: none !important;
}

/* line 58, ../includes/reset.scss */
input::-ms-input-placeholder {
  color: #aaa;
}

/* line 62, ../includes/reset.scss */
input::-webkit-input-placeholder {
  color: #aaa;
}

/* line 66, ../includes/reset.scss */
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f9;
  z-index: 99999;
}

/* line 75, ../includes/reset.scss */
.loading-icon {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 124, ../includes/reset.scss */
img {
  width: 100%;
}

/* line 150, ../includes/reset.scss */
.toast {
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* line 159, ../includes/reset.scss */
.toast .toast-alert {
  width: 2.35rem;
  height: 1.3rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.175rem;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 175, ../includes/reset.scss */
.toast .toast-alert .toast-msg {
  padding-top: 0.25rem;
  height: 0.9rem;
  line-height: 1.6;
  color: #fff;
  font-size: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

/* line 3, ../includes/orderCommon.scss */
.header {
  width: 100%;
  height: 0.44rem;
  background-color: #009ff0;
  text-align: center;
  line-height: 0.44rem;
  position: relative;
}
/* line 10, ../includes/orderCommon.scss */
.header .center {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5rem;
  position: relative;
  font-size: 0.18rem;
  color: #fff;
}
/* line 18, ../includes/orderCommon.scss */
.header .left,
.header .right {
  height: 0.44rem;
  position: absolute;
  top: 0;
  z-index: 99;
  font-size: 0;
}
/* line 26, ../includes/orderCommon.scss */
.header .left {
  left: 0;
  width: 0.5rem;
}
/* line 30, ../includes/orderCommon.scss */
.header .right {
  right: 0.15rem;
  font-size: 0.15rem;
  color: #fff;
}
/* line 35, ../includes/orderCommon.scss */
.header .icon-back {
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.075rem;
  margin-top: -0.075rem;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 50, ../includes/orderCommon.scss */
.main {
  text-align: left;
}
/* line 52, ../includes/orderCommon.scss */
.main .common-login {
  display: none;
}
/* line 56, ../includes/orderCommon.scss */
.main.common-noLogin .common-coupon,
.main.common-noLogin .common-tip {
  display: none;
}
/* line 60, ../includes/orderCommon.scss */
.main.common-noLogin .common-login {
  display: block;
}
/* line 63, ../includes/orderCommon.scss */
.main.common-noLogin .common-phone a {
  color: #aaa;
}

/* line 69, ../includes/orderCommon.scss */
.common-menu {
  border-top: 1px solid #f5f5f9;
  border-bottom: 1px solid #f5f5f9;
  padding-left: 0.15rem;
  font-size: 0.14rem;
  background-color: #fff;
}
/* line 75, ../includes/orderCommon.scss */
.common-menu > li {
  padding: 0.12rem 0;
  border-bottom: 1px solid #f5f5f9;
}
/* line 140, ../includes/reset.scss */
.common-menu > li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 79, ../includes/orderCommon.scss */
.common-menu > li:last-of-type {
  border-bottom: none;
}
/* line 83, ../includes/orderCommon.scss */
.common-menu > li > div:nth-of-type(1) {
  float: left;
  width: 5em;
  margin-right: 0.15rem;
  color: #666;
}
/* line 89, ../includes/orderCommon.scss */
.common-menu > li > div:nth-of-type(2) {
  overflow: hidden;
  text-align: right;
  padding-right: 0.15rem;
}
/* line 97, ../includes/orderCommon.scss */
.common-menu .common-link img {
  width: 0.18rem;
  vertical-align: middle;
  margin-left: 0.1rem;
  margin-top: -0.03rem;
}
/* line 104, ../includes/orderCommon.scss */
.common-menu a, .common-menu a:hover, .common-menu a:visited {
  display: block;
  color: #888;
}

/* line 110, ../includes/orderCommon.scss */
.common-money {
  margin-top: 0.2rem;
}
/* line 113, ../includes/orderCommon.scss */
.common-money li #pay_amount {
  color: #222;
}
/* line 119, ../includes/orderCommon.scss */
.common-money .common-coupon div:nth-of-type(1) {
  overflow: hidden;
}
/* line 121, ../includes/orderCommon.scss */
.common-money .common-coupon div:nth-of-type(1) span {
  float: left;
  margin-right: 0.1rem;
  color: #000;
}
/* line 126, ../includes/orderCommon.scss */
.common-money .common-coupon div:nth-of-type(1) p {
  overflow: hidden;
  font-size: 0.12rem;
}
/* line 129, ../includes/orderCommon.scss */
.common-money .common-coupon div:nth-of-type(1) p em {
  display: inline-block;
  border-radius: 3px;
  padding: 0.01rem 0.05rem;
  margin-bottom: 0.05rem;
  margin-right: 0.05rem;
  border: 1px solid #ff850d;
  color: #ff850d;
}
/* line 139, ../includes/orderCommon.scss */
.common-money .common-coupon div:nth-of-type(1) i {
  display: inline-block;
  color: #222;
  font-size: 0.14rem;
  border: 1px solid #f5f5f9;
  padding: 0.02rem 0.05rem;
  border-radius: 0.03rem;
}
/* line 148, ../includes/orderCommon.scss */
.common-money .common-coupon div:nth-of-type(2) {
  width: auto;
  margin-left: 0.1rem;
}
/* line 153, ../includes/orderCommon.scss */
.common-money .common-coupon .co-bill-textStyle1 {
  color: #222;
}
/* line 156, ../includes/orderCommon.scss */
.common-money .common-coupon .co-bill-textStyle2 {
  color: #888;
  line-height: 1.75;
}
/* line 160, ../includes/orderCommon.scss */
.common-money .common-coupon .co-bill-textStyle3 {
  color: #ff850d;
}

/* line 166, ../includes/orderCommon.scss */
.common-login {
  margin-top: 0.2rem;
}
/* line 171, ../includes/orderCommon.scss */
.common-login li > div:nth-of-type(2) input {
  width: 100%;
  font-size: 0.15rem;
}
/* line 176, ../includes/orderCommon.scss */
.common-login li > div:nth-of-type(2) div:nth-of-type(1) {
  float: right;
  color: #00aaee;
  padding-left: 1em;
  margin-left: 0.1rem;
  border-left: 1px solid #f5f5f9;
}
/* line 183, ../includes/orderCommon.scss */
.common-login li > div:nth-of-type(2) div:nth-of-type(2) {
  overflow: hidden;
}

/* line 192, ../includes/orderCommon.scss */
.common-phone {
  margin-top: 0.2rem;
}

/* line 196, ../includes/orderCommon.scss */
.common-tip {
  margin-top: 0.15rem;
  padding-left: 0.15rem;
  padding-bottom: 0.15rem;
  color: #666;
  font-size: 0.12rem;
}
/* line 202, ../includes/orderCommon.scss */
.common-tip img {
  width: 0.15rem;
  vertical-align: text-bottom;
}

/* line 208, ../includes/orderCommon.scss */
.common-footer {
  position: absolute;
  bottom: 0.45rem;
  width: 3.75rem;
  background-color: #fff;
}
/* line 213, ../includes/orderCommon.scss */
.common-footer .common-footer-tip {
  color: #888888;
  font-size: 0.14rem;
  text-align: center;
  padding: 0.1rem 0;
}

/* line 221, ../includes/orderCommon.scss */
.pub_disable {
  color: #888 !important;
}

/* line 225, ../includes/orderCommon.scss */
.coupon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #eaeaed;
}
/* line 232, ../includes/orderCommon.scss */
.coupon-container .coupon-list {
  padding: 0.15rem 0.15rem 0;
}
/* line 234, ../includes/orderCommon.scss */
.coupon-container .coupon-list li {
  margin-bottom: 0.15rem;
  height: 1.33rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100% 100%;
  overflow: hidden;
}
/* line 242, ../includes/orderCommon.scss */
.coupon-container .coupon-list .coupon-list-body {
  text-align: left;
  padding: 0.45rem 0.15rem 0;
}
/* line 245, ../includes/orderCommon.scss */
.coupon-container .coupon-list .coupon-list-body p {
  font-size: 0.12rem;
  line-height: 1;
}
/* line 248, ../includes/orderCommon.scss */
.coupon-container .coupon-list .coupon-list-body p:nth-of-type(1) {
  font-size: 0.25rem;
}
/* line 251, ../includes/orderCommon.scss */
.coupon-container .coupon-list .coupon-list-body p:nth-of-type(2) {
  margin: 0.15rem 0 0.1rem;
}
/* line 258, ../includes/orderCommon.scss */
.coupon-container .coupon-check {
  font-size: 0.15rem;
  text-align: left;
  margin-top: 0.15rem;
  margin-left: 0.15rem;
}
/* line 263, ../includes/orderCommon.scss */
.coupon-container .coupon-check input {
  display: none;
}
/* line 266, ../includes/orderCommon.scss */
.coupon-container .coupon-check em {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.05rem;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-image: url(/themes/koubei/order/images/radio-off.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* line 277, ../includes/orderCommon.scss */
.coupon-container .coupon-check input:checked + em {
  background-image: url(/themes/koubei/order/images/radio-on.png);
}
/* line 281, ../includes/orderCommon.scss */
.coupon-container .coupon-howtouse {
  position: absolute;
  bottom: 0.45rem;
  left: 0;
  width: 100%;
}
/* line 286, ../includes/orderCommon.scss */
.coupon-container .coupon-howtouse a,
.coupon-container .coupon-howtouse a:hover,
.coupon-container .coupon-howtouse a:visited {
  color: #00aaee;
}
/* line 292, ../includes/orderCommon.scss */
.coupon-container .coupon-space {
  height: 0.4rem;
}
/* line 295, ../includes/orderCommon.scss */
.coupon-container .coupon-nothing {
  font-size: 0.15rem;
  color: #888;
}
/* line 298, ../includes/orderCommon.scss */
.coupon-container .coupon-nothing div:nth-of-type(1) {
  margin: 0.35rem 0 0.2rem;
}
/* line 300, ../includes/orderCommon.scss */
.coupon-container .coupon-nothing div:nth-of-type(1) img {
  width: 0.6rem;
}
/* line 304, ../includes/orderCommon.scss */
.coupon-container .coupon-nothing .coupon-nothing-back {
  margin: 0.2rem auto 0;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 0.8rem;
  line-height: 0.25rem;
  border-radius: 0.03rem;
}

/* line 315, ../includes/orderCommon.scss */
.book-noPaySprite {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 327, ../includes/orderCommon.scss */
.book-noPaySprite ul {
  width: 275px;
  position: relative;
  top: 50%;
  margin: 0 auto;
  line-height: 1;
  text-align: left;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* line 341, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(1) {
  padding: 0 15px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
}

/* line 348, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(2) {
  padding: 10px 15px;
  line-height: 1.6;
}

/* line 353, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(1) {
  float: left;
  margin-right: 0;
}

/* line 358, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(2) {
  color: #888;
  display: block;
  overflow: hidden;
  text-align: right;
}

/* line 365, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(2) em {
  display: block;
}

/* line 369, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(3) {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

/* line 374, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(3):after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 383, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(3) div {
  float: left;
  width: 50%;
  line-height: 40px;
}

/* line 389, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(3) #book-Cancel {
  background-image: url(/themes/koubei/order/images/border-r.jpg);
  background-position: right top;
  background-repeat: repeat-y;
}

/* line 395, ../includes/orderCommon.scss */
.book-noPaySprite ul li:nth-of-type(3) div {
  color: #00aaee;
}

/* line 399, ../includes/orderCommon.scss */
.book-noPaySprite a,
.book-noPaySprite a:hover,
.book-noPaySprite a:visited {
  color: #00aaee;
}

/* line 4, ../../../../sass-lib/_common.scss */
.borderBottom1px:after, .borderTop1px:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  -moz-transform: translateY(0.5);
  -ms-transform: translateY(0.5);
  -webkit-transform: translateY(0.5);
  transform: translateY(0.5);
  background-color: #f5f5f9;
  z-index: 99;
}

/* line 15, ../../../../sass-lib/_common.scss */
.borderRight1px:before, .borderLeft1px:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  -moz-transform: translateX(0.5);
  -ms-transform: translateX(0.5);
  -webkit-transform: translateX(0.5);
  transform: translateX(0.5);
  background-color: #f5f5f9;
  z-index: 99;
}

/* line 2, ../../../../sass-lib/_public.scss */
.borderBottom1px:after {
  left: 0;
  bottom: 0;
}

/* line 10, ../../../../sass-lib/_public.scss */
.borderTop1px:before {
  left: 0;
  top: 0;
}

/* line 17, ../../../../sass-lib/_public.scss */
.borderRight1px:before {
  right: 0;
  top: 0;
}

/* line 25, ../../../../sass-lib/_public.scss */
.borderLeft1px:before {
  left: 0;
  top: 0;
}

/* line 32, ../../../../sass-lib/_public.scss */
.icon-right {
  display: block;
  width: 0.06rem;
  height: 0.11rem;
  position: absolute;
  top: 50%;
  right: 0.15rem;
  margin-top: -0.055rem;
}
/* line 40, ../../../../sass-lib/_public.scss */
.icon-right img {
  display: block;
  width: 100%;
}

/* line 4, ../../../../sass-lib/header.scss */
.header {
  width: 100%;
  height: 0.44rem;
  background-color: #009ff0;
  text-align: center;
  line-height: 0.44rem;
  position: relative;
}
/* line 11, ../../../../sass-lib/header.scss */
.header .center {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5rem;
  position: relative;
  font-size: 0.18rem;
  color: #fff;
}
/* line 19, ../../../../sass-lib/header.scss */
.header .left, .header .right {
  width: 0.5rem;
  height: 0.44rem;
  position: absolute;
  top: 0;
  z-index: 99;
  font-size: 0;
}
/* line 27, ../../../../sass-lib/header.scss */
.header .left {
  left: 0;
}
/* line 30, ../../../../sass-lib/header.scss */
.header .right {
  right: 0;
  font-size: 0.15rem;
  color: #fff;
}
/* line 35, ../../../../sass-lib/header.scss */
.header .icon-back {
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.075rem;
  margin-top: -0.075rem;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 4, ../sass/orderconfirm.scss */
.txy-style {
  color: #5b73f2;
}

/* line 7, ../sass/orderconfirm.scss */
.order-header-tips {
  font-size: 0.12rem;
  color: #666;
}

/* line 23, ../sass/orderconfirm.scss */
.common-menu {
  border-top: none;
  border-bottom: none;
}

/* line 28, ../sass/orderconfirm.scss */
.order-header-tips {
  padding: 0.15rem 0 0.1rem 0.15rem;
}

/* line 33, ../sass/orderconfirm.scss */
.order-money, .order-user, .order-total, .order-login {
  margin-top: 0.2rem;
}

/* line 37, ../sass/orderconfirm.scss */
.order-tel {
  padding: 0.15rem 0 0 0.25rem;
  color: #666;
}

/* line 43, ../sass/orderconfirm.scss */
.order-login input {
  width: 100%;
  text-align: right;
  font-size: 0.14rem;
  padding: 0;
}

/* line 51, ../sass/orderconfirm.scss */
.order-submit {
  margin: 0.85rem 0.25rem 0.2rem;
}
/* line 53, ../sass/orderconfirm.scss */
.order-submit .order-button {
  width: 100%;
  line-height: 0.4rem;
  text-align: center;
  background-color: #5b73f2;
  color: #fff;
  margin: 0.12rem auto;
  border-radius: 0.21rem;
}
/* line 62, ../sass/orderconfirm.scss */
.order-submit .order-nosupport {
  color: #666;
}
/* line 64, ../sass/orderconfirm.scss */
.order-submit .order-nosupport img {
  width: 0.15rem;
  margin-right: 0.03rem;
  vertical-align: text-bottom;
}

/* line 74, ../sass/orderconfirm.scss */
.common-coupon div:nth-of-type(2) span {
  color: #666;
}
/* line 78, ../sass/orderconfirm.scss */
.common-coupon i {
  float: left;
  color: #222;
  font-size: 0.14rem;
  text-decoration: underline;
}

/* line 86, ../sass/orderconfirm.scss */
.cop-text {
  line-height: 2.5;
}

/* line 90, ../sass/orderconfirm.scss */
.cop-numContainer {
  float: right;
}

/* line 94, ../sass/orderconfirm.scss */
.quantity-component {
  border: 1px solid #dddddd;
  border-radius: 0.04rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.15rem;
}
/* line 13, ../sass/orderconfirm.scss */
.quantity-component:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 101, ../sass/orderconfirm.scss */
.quantity-component li {
  float: left;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.3rem;
  background-color: #f5f5f5;
  background-size: 100% 100%;
}
/* line 108, ../sass/orderconfirm.scss */
.quantity-component li:nth-of-type(1) {
  background-image: url(/themes/qu205/order/images/sub.png);
}
/* line 110, ../sass/orderconfirm.scss */
.quantity-component li:nth-of-type(1).disable {
  background-image: url(/themes/qu205/order/images/sub-off.png);
}
/* line 114, ../sass/orderconfirm.scss */
.quantity-component li:nth-of-type(2) {
  width: 0.45rem;
  background-color: #fff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
/* line 120, ../sass/orderconfirm.scss */
.quantity-component li:nth-of-type(3) {
  background-image: url(/themes/qu205/order/images/add.png);
}
/* line 122, ../sass/orderconfirm.scss */
.quantity-component li:nth-of-type(3).disable {
  background-image: url(/themes/qu205/order/images/add-off.png);
}

/* line 129, ../sass/orderconfirm.scss */
.book-noPaySprite ul li:nth-of-type(3) #book-Cancel {
  background-image: url(/static/activity/orderConfirm/images/border-r.jpg);
}

/* line 133, ../sass/orderconfirm.scss */
.qu {
  min-height: 100%;
  background-color: #f0efed;
}

/* line 137, ../sass/orderconfirm.scss */
.qu-fe-CT .nothing {
  color: #cccbca;
  padding-top: 180px;
  text-align: center;
}

/* line 138, ../sass/orderconfirm.scss */
.qu-fe-CT .bottombar {
  width: 100%;
  height: 40px;
  position: fixed;
  border-top: 1px solid #cccbca;
  bottom: 0;
  left: 0;
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #74affb;
}

/* line 139, ../sass/orderconfirm.scss */
.qu-fe-CT .bottombar span {
  display: inline-block;
  padding-left: 5px;
}

/* line 140, ../sass/orderconfirm.scss */
.qu-fe-CT .bottombar .icon-add-blue {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent url("../images/icon-add-blue.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: text-bottom;
}

/* line 141, ../sass/orderconfirm.scss */
.qu-fe-CT .bottombar .icon-sm-blue {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent url("../images/icon-sm-blue.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: text-bottom;
}

/* line 142, ../sass/orderconfirm.scss */
.qu-fe-CT .bottombar .bottombar-left {
  color: #74affb;
  display: block;
  width: 50%;
  height: 40px;
  float: left;
  border-right: 1px solid #cccbca;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 143, ../sass/orderconfirm.scss */
.qu-fe-CT .bottombar .bottombar-right {
  color: #74affb;
  display: block;
  width: 50%;
  height: 40px;
  float: left;
}

/* line 145, ../sass/orderconfirm.scss */
.myCoupons-container .nothing {
  text-align: center;
  font-size: 16px;
  color: #666;
  padding-top: 20px;
}
