html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 100px;
    overflow-x: hidden;
    overflow: auto;
    background-color: #f5f5f9;
    line-height: 1.375
}

body {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 750px;
    font-size: 0.24rem;
    text-align: center;
    background-color: #f5f5f9;
    font-size: 0.12rem;
    color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling:touch;
}

input {
    -webkit-box-sizing: border-box
}

a,
input,
lable,
button,
div {
    -webkit-tap-highlight-color: transparent;
    outline: none
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff
}

.hide {
    display: none !important
}

input::-ms-input-placeholder {
    color: #a3cbea
}

input::-webkit-input-placeholder {
    color: #a3cbea
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f9;
    z-index: 99999
}

.loading-icon {
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.3rem;
    margin-left: -0.3rem;
    background: url(../images/loading.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: rotate360 1s linear 0s infinite;
    -moz-animation: rotate360 1s linear 0s infinite;
    animation: rotate360 1s linear 0s infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 99
}

@-moz-keyframes rotate360 {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes rotate360 {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

@-webkit-keyframes rotate360 {
    from {
        -webkit-transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg)
    }
}

img {
    width: 100%
}

.main {
    min-height: 100%;
    background: #fff;
    position: relative
}

.web2 {
    padding-bottom: 0.5rem;
    background: #f5f5f9
}

.web2-header {
    background: #009ff0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%
}

.web2-header .web2-headWrap {
    color: #fff;
    padding: 0.07rem 0.15rem
}

.web2-header .web2-headWrap .web2-headCity {
    float: left;
    font-size: 0.13rem;
    margin-right: 0.15rem;
    margin-top: 0.08rem
}

.web2-header .web2-headWrap .web2-headCity img {
    width: 0.1rem;
    vertical-align: middle;
    margin-left: 0.03rem
}

.web2-header .web2-headWrap .web2-center {
    float: right;
    width: 0.35rem;
    margin-top: 0.08rem;
    margin-left: 0;
    text-align: right
}

.web2-header .web2-headWrap .web2-center img {
    width: 0.2rem;
}

.web2-header .web2-headWrap .web2-headSearch {
    height: 0.16rem;
    line-height: 1;
    padding: 0.1rem 0;
    overflow: hidden;
    font-size: 0.12rem;
    background: #008cd3;
    border-radius: 0.2rem
}

.web2-header .web2-headWrap .web2-headSearch div {
    height: 100%;
    line-height: 1.2;
}

.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-l {
    float: left;
    width: 0.15rem;
    margin-left: 0.1rem;
    background: url(../images/zoom.png) center no-repeat;
    background-size: 80% auto
}

.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-r {
    float: right;
    text-align: center;
    width: 0.6rem;
    color: rgba(255, 255, 255, 0.5);
    border-left: 1px solid #fff
}

.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-c {
    margin-left: 0.3rem;
    margin-right: 0.7rem;
}

.web2-header .web2-headWrap .web2-headSearch .web2-headSearch-c input {
    width: 100%;
    font-size: 0.12rem;
    color: #fff;
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font-family: "Microsoft YaHei";
}

.web2-space44 {
    height: 0.44rem
}

.web2-coverSprite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6)
}

.web2-nav {
    background: #fff;
    border-bottom: 1px solid #e6e6e6
}

.web2-nav ul:nth-of-type(1) {
    padding-top: 15px;
    padding-bottom: 5px
}

.web2-nav ul:nth-of-type(1) li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

.web2-nav ul:nth-of-type(1) li>div {
    float: left;
    width: 25%;
    margin-bottom: 10px
}

.web2-nav ul:nth-of-type(1) li>div div {
    width: 60%;
    margin: 0 auto;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    font-size: 0
}

.web2-nav ul:nth-of-type(1) li>div p {
    color: #444;
    line-height: 2;
    text-align: center
}

.web2-pagenav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    padding: 6px 0
}

.web2-pagenav li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
    background: #d9d9d9
}

.web2-pagenav .show {
    background: #009ff0
}

.web2-banner {
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0
}

.web2-list {
    margin-top: 15px;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6
}

.web2-list .web2-list-title {
    text-align: left;
    padding: 0 15px;
    border-bottom: 1px solid #e6e6e6
}

.web2-list .web2-list-title span {
    display: inline-block;
    font-size: 14px;
    color: #009ff0;
    border-bottom: 2px solid #009ff0;
    line-height: 3.5;
    margin-bottom: -1px
}

.web2-list ul {
    text-align: left;
    padding: 0 15px
}

.web2-list ul li {
    padding: 0.15rem 0
}

.web2-list ul li div:nth-of-type(1) {
    float: left;
    width: 0.96rem;
    height: 0.72rem;
    border-radius: 0.05rem;
    margin-right: 0.13rem;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

.web2-list ul li div:nth-of-type(2) {
    overflow: hidden
}

.web2-list ul li div:nth-of-type(2) img {
    width: 0.13rem;
    margin-right: 0.05rem;
    vertical-align: middle
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(1) {
    font-size: 0.15rem;
    color: #222
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(1) span {
    display: inline-block;
    vertical-align: middle;
    max-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(2) {
    color: #666;
    line-height: 2;
    height: 0.24rem
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(3) {
    color: #aaa;
    line-height: 1.6
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(3) span:nth-of-type(1) {
    color: #ff850d;
    margin-right: 0.05rem
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(3) span:nth-of-type(1) em {
    font-size: 0.15rem
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(3) span:nth-of-type(2) {
    text-decoration: line-through
}

.web2-list ul li div:nth-of-type(2) p:nth-of-type(3) i {
    float: right;
    width: 0.58rem;
    line-height: 1.8;
    border: 1px solid #ff850d;
    color: #ff850d;
    text-align: center;
    border-radius: 0.05rem
}

.web2-list ul li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

.web2-noPlace {
    color: #666;
    padding: 0.3rem
}

.sr-head .web2-headCity img {
    margin-top: -3px;
    margin-right: 3px;
    margin-left: 0
}

.sr-list {
    padding-left: 15px;
    text-align: left
}

.sr-list li {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 15px 20px 0
}

.sr-list li div {
    font-size: 0.12rem;
    line-height: 1
}

.sr-list li div:nth-of-type(1) span {
    font-size: 15px;
    color: #222;
    display: inline-block;
    max-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sr-list li div:nth-of-type(2) {
    color: #666;
    margin: 10px 0;
    height: 0.12rem
}

.sr-list li div:nth-of-type(3) {
    color: #aaa
}

.sr-list li div i {
    display: inline-block;
    background: #bcbcbc;
    color: #fff;
    padding: 0.02rem 0.02rem;
    margin-left: 0.05rem;
    vertical-align: top
}

.sr-noItem {
    margin-top: 100px;
    color: #666;
    font-size: 15px;
    text-align: center
}

.sr-content {
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5f9;
}

#wrapper {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#scroller {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

#scroller ul:after {
    content: "";
    clear: both;
    display: block;
}
