extends layout
block headContent
  link(rel='stylesheet', href='./css/pc/stylesheets/base.css')
  script(src='./js/jquery/jquery-1.8.3.min.js')
block content
  body
    include ./_header
    .main
      .main_about
      
    include ./_footer