$mainColor: #394a5b;

$assistColor: #e5e9ef;
$assistBackground: #e3e8ed;
$assistFont: #000;


$navBackground:#3d4456;
$navActive:#303748;
$navFont:#fff;
$navGrey:#8796aa;
$navLine:#525a70;

$mainBlue:#0285db;
$mainBlueHover:#30a3f3;

$backgroundColor:#f5f8fa;

$netColor:#f19149;
$net_payingColor:#f19149;
$lockColor:#0285db;
$lock_iconColor:#0285db;
$reserveColor:#df4949;
$reserveingColor:#df4949;
$memberColor:#009899;

$bookColor:#df494a;
$bookColorDisabled:rgba(#df494a,0.4);
$bookColorHover:rgba(#df494a,0.8);

.color-width{
  color:#fff;
}