/* line 1, ../sass/includes/_animate.scss */
.loading-animate {
  -webkit-animation: rotate360 2s linear 0s infinite;
  -moz-animation: rotate360 2s linear 0s infinite;
  animation: rotate360 2s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 2, ../sass/includes/_login.scss */
.ui-aw-title {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #2A3F54;
  color: #fff;
  padding-bottom: 10px;
}

/* line 8, ../sass/includes/_login.scss */
.ui-aw-login {
  width: 90%;
  min-width: 280px;
  max-width: 680px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 50px 30px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 17, ../sass/includes/_login.scss */
.ui-aw-login .row .glyphicon {
  right: 10px;
}
/* line 24, ../sass/includes/_login.scss */
.ui-aw-login .ui-aw-icon-repeat {
  width: 20px;
  font-size: 20px;
  margin-left: 20px;
}

/* line 1, ../sass/includes/_flex-box.scss */
.flex-body {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -moz-flex;
  -moz-flex-flow: row wrap;
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}
/* line 14, ../sass/includes/_flex-box.scss */
.flex-body .left {
  padding-left: 30px;
  padding-right: 30px;
}
/* line 19, ../sass/includes/_flex-box.scss */
.flex-body .left-fixed {
  padding-left: 30px;
  width: 200px;
  text-align: right;
}
/* line 25, ../sass/includes/_flex-box.scss */
.flex-body .right {
  padding-left: 30px;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 33, ../sass/includes/_flex-box.scss */
.flex-body .right-padding {
  padding: 0 30px;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 42, ../sass/includes/_flex-box.scss */
.flex1 {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 48, ../sass/includes/_flex-box.scss */
.flex-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

/* line 59, ../sass/includes/_flex-box.scss */
.flex-align-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* line 65, ../sass/includes/_flex-box.scss */
.flex-align-start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

/* line 73, ../sass/includes/_flex-box.scss */
.flex-justify-content-space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/* line 80, ../sass/includes/_flex-box.scss */
.flex-justify-content-flex-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

/* line 4, ../sass/includes/_default.scss */
body.default {
  background-color: #2A3F54;
}
/* line 6, ../sass/includes/_default.scss */
body.default .left {
  color: #fff;
  text-align: center;
}
/* line 10, ../sass/includes/_default.scss */
body.default .ui-aw-nav {
  margin: 30px auto;
}
/* line 13, ../sass/includes/_default.scss */
body.default .ui-aw-content {
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
}

/* line 20, ../sass/includes/_default.scss */
.ui-aw-card {
  width: calc(100% - 24px);
  margin: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background: #f2f2f2;
  position: relative;
}
/* line 28, ../sass/includes/_default.scss */
.ui-aw-card:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* line 31, ../sass/includes/_default.scss */
.ui-aw-card .ui-aw-card-title {
  position: relative;
  padding: 5px 0 5px 10px;
  background: #f2f2f2;
}
/* line 35, ../sass/includes/_default.scss */
.ui-aw-card .ui-aw-card-title:before {
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  display: block;
}
/* line 46, ../sass/includes/_default.scss */
.ui-aw-card .ui-aw-card-content {
  width: calc(100% - 10px);
  min-height: 100px;
  margin: 0 0 0 auto;
  padding: 4px;
  border-right: 4px solid #f2f2f2;
  background-color: #fff;
  border-radius: 5px;
}

/* line 58, ../sass/includes/_default.scss */
.aw-select .text {
  min-width: 30px;
  display: inline-block;
}

/* line 64, ../sass/includes/_default.scss */
.aw-search-input {
  width: 300px;
}

/* line 68, ../sass/includes/_default.scss */
.aw-margin-right-10 {
  margin: 3px 10px 3px 0;
}

/* line 72, ../sass/includes/_default.scss */
.error-msg {
  padding-right: 5px;
}

/* line 76, ../sass/includes/_default.scss */
.aw-ui-output-label {
  padding: 5px 30px 5px 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #337ab7;
  position: relative;
  margin-right: 20px;
}
/* line 83, ../sass/includes/_default.scss */
.aw-ui-output-label .aw-icon-close {
  position: absolute;
  display: block;
  right: 10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 92, ../sass/includes/_default.scss */
.aw-text-success {
  color: #5cb85c;
}

/* line 96, ../sass/includes/_default.scss */
.aw-text-danger {
  color: #d9534f;
}

/* line 100, ../sass/includes/_default.scss */
.aw-text-primary {
  color: #337ab7;
}

/* line 104, ../sass/includes/_default.scss */
.aw-operation-success, .aw-operation-danger, .aw-operation-primary {
  padding-left: 10px;
  cursor: pointer;
}

/* line 109, ../sass/includes/_default.scss */
.aw-operation-success {
  color: #5cb85c;
}

/* line 115, ../sass/includes/_default.scss */
.aw-operation-danger {
  color: #d9534f;
}

/* line 121, ../sass/includes/_default.scss */
.aw-operation-primary {
  color: #5cb85c;
}

/* line 127, ../sass/includes/_default.scss */
.btn-info:focus {
  background-color: #fff;
}

/* line 131, ../sass/includes/_default.scss */
.btn-info.btn-outline {
  color: #5bc0de !important;
}

/* line 1, ../sass/includes/_user-msg.scss */
.userAvatar {
  width: 90px;
  height: 90px;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: pink;
}
/* line 8, ../sass/includes/_user-msg.scss */
.userAvatar img {
  width: 100%;
}

/* line 2, ../sass/includes/_table.scss */
table.table td, table.table th {
  min-width: 20px;
  max-width: 1200px;
  word-break: break-all;
}

/* line 9, ../sass/includes/_table.scss */
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
  white-space: nowrap;
}

/* line 1, ../sass/includes/_demok.scss */
body {
  background-color: #fff !important;
}

/* line 4, ../sass/includes/_demok.scss */
.wx-container {
  margin-top: 20px;
  width: 990px;
  border: 1px solid #e7e7eb;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 10, ../sass/includes/_demok.scss */
.wx-margin {
  margin: 0 30px;
}

/* line 12, ../sass/includes/_demok.scss */
input {
  box-shadow: none;
  outline: none;
}

/* line 16, ../sass/includes/_demok.scss */
input:focus {
  box-shadow: none;
  outline: none;
}

/* line 20, ../sass/includes/_demok.scss */
.wxpopedit-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 30, ../sass/includes/_demok.scss */
.navbar-brand img {
  vertical-align: middle;
  font-size: 100%;
}

.ui-aw-login{
  max-width:900px;
  width:750px;
  padding:0;
  margin-top:220px;
  font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.ui-aw-left{
  float: left;
  width:340px;
  height:212px;
  margin-right:120px;
}
.ui-aw-login form{
  width:280px;
  overflow: hidden;
  margin-top: -40px;
}
.ui-form-title{
  width:180px;
  height:44px;
  padding-left:64px;
  background: url(/static/shangjia/images/hand.png) left center no-repeat;
  margin:0 auto 30px;
  color:#3d4456;
}
.ui-form-title p{
  margin-bottom: 0;
}
.ui-form-title .text1{
  font-weight:bold;
  font-size:18px;
}
.ui-form-title .text2{
  font-size:14px;
}

.ui-aw-login h4{
  float: left;
  color:#8796aa;
  width:3em;
  margin-top:0;
  margin-bottom:0;
  margin-right:20px;
  font-size:16px;
}
.form-wrap{
  padding:18px 0 10px;
  line-height:1;
  border-bottom:1px solid #8796aa;
}
.form-wrap:after{
  content: "";
  clear:both;
  display: block;
}
.form-wrap>div{
  color:#3d4456;
  font-size:0;
}
.form-wrap label{
  height:0;
}
.form-wrap input{
  width:100%;
  color:#3d4456;
  font-size:16px;
  padding:0;
  line-height: 1.3;
  outline: none;
  border:none;
}
.ui-aw-login h4+div{
  overflow: hidden;
}
.ui-aw-login h5{
  clear:both;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ui-aw-login h5:empty{
  margin-top: 0;
  margin-bottom: 0;
}
.form-wrap .ui-aw-check-code{
  width:70px;
  height:40px;
  margin-left: 5px;
  margin-right: 14px;
  vertical-align: middle;
  border:1px solid #8796aa;
  border-radius:3px;
}
.ui-aw-check-code+img{
  width:30px;
}
.ui-aw-login button{
  display: block;
  width:130px;
  line-height:40px;
  background-color:#0384da;
  font-size:16px;
  color:#fff;
  text-align:center;
  outline: none;
  border:none;
  border-radius: 3em;
  margin:30px auto 0;
}
.form-wrap:last-of-type{
  padding:5px 0 5px;
}
.form-wrap:last-of-type h4{
    margin-top:15px;
}
.form-wrap:last-of-type input{
    height: 40px;
    position: relative;
    top:3px;
}

.aw-login-checkCode .ui-aw-codeInput{
  float: left;
  width:80px;
  margin
}
.aw-login-checkCode .ui-aw-code{
  overflow: hidden;
}

.ui-aw-login .ui-aw-icon-repeat{
  top:0;
  vertical-align: middle;
}
.alert-warning{
  color: #8796aa;
  font-size:15px;
}
