/* line 2, ../sass/DIYselecter.scss */
.DIY-selecter {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  margin-right: 32px;
  cursor: pointer;
}
/* line 12, ../sass/DIYselecter.scss */
.DIY-selecter .button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1px;
  right: -30px;
  display: block;
  background: transparent url("../images/down.png") center center no-repeat;
  background-color: #0a0614;
  z-index: 99;
}
/* line 23, ../sass/DIYselecter.scss */
.DIY-selecter .button[show] {
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 27, ../sass/DIYselecter.scss */
.DIY-selecter ul, .DIY-selecter li {
  text-indent: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
}
/* line 34, ../sass/DIYselecter.scss */
.DIY-selecter ul {
  padding: 0;
  margin: 0 -1px;
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 28px;
  display: none;
  max-height: 300px;
  _height: 300px;
  overflow-y: scroll;
  _overflow: scroll;
}
/* line 49, ../sass/DIYselecter.scss */
.DIY-selecter ul.show {
  display: block;
}
/* line 53, ../sass/DIYselecter.scss */
.DIY-selecter li {
  text-indent: 10px;
  border-bottom: 1px solid #d0d0d0;
  line-height: 30px;
  padding-right: 39px;
  white-space: nowrap;
  position: relative;
}
/* line 60, ../sass/DIYselecter.scss */
.DIY-selecter li:hover {
  background-color: #aaa;
}
/* line 63, ../sass/DIYselecter.scss */
.DIY-selecter li[disabled] {
  color: #eee;
}
/* line 65, ../sass/DIYselecter.scss */
.DIY-selecter li[disabled]:hover {
  background-color: inherit;
  cursor: not-allowed;
}
/* line 71, ../sass/DIYselecter.scss */
.DIY-selecter li[selected]:after {
  content: '\2713';
  position: absolute;
  right: 0;
  top: 0;
}
