<link rel="stylesheet" href="/static/shangjia/css/bindcourt.css" type="text/css">
<!-- 搜索模块 start -->
<form action="">
    <div class="bbs-header" style="margin-bottom:30px;">
        <div class="filter-control">
            <!-- 日期选择插件 -->
            <div class="filter-time"><span id="timeStart" class="btn-bdru"><?php echo $startDate;?>
                <i class="glyphicon glyphicon-chevron-down"></i></span><em>至</em><span id="timeEnd" class="btn-bdru"><?php echo $endDate; ?>
                <i class="glyphicon glyphicon-chevron-down"></i></span><input id="reservation" type="text" readonly value="<?php echo $startDate .' - '. $endDate; ?>">
            </div>
            <script>
                $(document).ready(function () {
                    $('#reservation').daterangepicker({
                       // maxDate: new Date(),
                        locale: {
                            applyLabel: '确认',
                            cancelLabel: '取消',
                            fromLabel: '从',
                            toLabel: '到',
                            weekLabel: 'W',
                            customRangeLabel: 'Custom Range',
                            daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                            monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                        }
                    }, function (start, end, label) {
                        var t1 = new Date(start.toString());
                        var t2 = new Date(end.toString());
                        var txt1 = t1.format('yyyy-MM-dd');
                        var txt2 = t2.format('yyyy-MM-dd');
                        $("#timeStart").html(txt1 + '<i class="glyphicon glyphicon-chevron-down"></i>');
                        $("#timeEnd").html(txt2 + '<i class="glyphicon glyphicon-chevron-down"></i>');
                        $('#startDate').val(txt1);
                        $('#endDate').val(txt2);
                    });
					// 给导出结算记录按钮绑定事件
					$("#export_member_csonsume_btn").click(function(){
						var href = $(this).attr("data-href") + "?export=1&startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val();
						href += "&member_code=" + $("#member_code").val() + "&card_type=" + $("#card_type").val();
						$(this).attr("href", href);
						setTimeout(function(){
							$("#export_member_csonsume_btn").attr('href','javascript:void(0);');
						},0)
					});
                });
            </script>
        </div>
        <input type="text" hidden id="startDate" name="startDate" value="<?php echo $startDate;?>">
        <input type="text" hidden id="endDate" name="endDate" value="<?php echo $endDate;?>">
        <!-- 日期选择插件 end -->
        <div class="filter-control">
            <div class='filter-input'>
                <label for="">会员姓名 | 卡号</label>
                <input type="text" name="member_code" id="member_code"  value="<?=$member_code?>">
            </div>
        </div>
        <div class="filter-control form-inline">
           <div class="filter-check">
                <label for="">会员类型：</label>
                <select name="card_type" id="card_type" class='form-control'>
                    <option value="">全部</option>
                    <?php
                    foreach($card_list as $key=>$value){
                    ?>
                    <option value="<?=$key?>" <?php if ($key==$card_type) {?>selected="selected" <?php }?>><?=$value['name']?></option>
                    <?php
                    }
                    
                    ?>

                </select>
            </div>
        </div>
        <div class="filter-control">
            <div class="btn-sj-blue search-btn btn-bdru btn" onclick="$('form').submit();"><span>查询</span></div>
            <a href="javascript:void(0);" data-href="/MemberStat/countCardConsume" class="search-btn btn-sj-blue btn-bdru btn btn-default" id="export_member_csonsume_btn" >导出</a> 
        </div>
    </div>
</form>
<!-- 搜索模块 end -->

<div class="bind-header">
    <div class="bind-nav">
        <a href="/Memberstat/storedCardConsume"><span>储值卡消费统计</span></a>
        <span class="active">场次卡消费统计</span>
    </div>
</div>

<div class="body-table stage-table" style="margin-top:20px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>会员类型</th>
                <th>次卡项目</th>
                <th>会员名称</th>
                <th>次卡卡号</th>
                <th>充值次数</th>
                <th>消费次数</th>
                <th>退回次数</th>
                <th>充值金额</th>
            </tr>
        </thead>
        <tbody>
        <?php
        foreach($list as $value){
        ?>
            <tr>
                <td><?php echo isset($card_list[$value['card_type']]) && isset($card_list[$value['card_type']]['name'])  ? $card_list[$value['card_type']]['name'] : '' ;?></td>         
                <td><?php echo isset($card_list[$value['card_type']]) && isset($card_list[$value['card_type']]['sport_catalog']) && isset($cat_list[$card_list[$value['card_type']]['sport_catalog']]) ? $cat_list[$card_list[$value['card_type']]['sport_catalog']] : '' ;?></td>
                <td><?=$value['card_name']?></td>
                <td><?=$value['card_no']?></td>
                <td><?=$value['total_recharge_count']?></td>
                <td><?=$value['total_apay_count']?></td>
                <td><?=$value['total_return_apay_count']?></td>
                <td><?=$value['total_recharge_amount']?></td>
            </tr>
         <?php
         }?> 
        </tbody>
    </table>
     <!-- 分页插件 -->
		<?php if ($page['totalPage'] > 1) { ?>
		<div id="pagination" data-page="<?= $page['totalPage']; ?>" data-current="<?= $page['currentPage']; ?>" class="pagination-container">
			<div class="pagination"></div>
			<div class="pagination-go">
				<span class="totalPage">共<?= $page['totalPage']; ?>页</span>
				<span class="btn-bdru"><i>第</i>
				<input class="page" type='text'/><i>页</i></span>
				<span class="go">GO</span>
			</div>
		</div>
		<script type='text/javascript'>
			$(function(){
				 var calFn1 = function (p) {
					window.location.href = "<?= $page['url']; ?>" + p;
				};
				createPageFn($("#pagination"), calFn1);
			});
			</script>
		<?php } ?>
</div>
