
        <link rel="stylesheet" href="/static/shangjia/css/admin.css?v=1.8">
        <link rel="stylesheet" href="/static/shangjia/css/jquery.cluetip.css" type="text/css">
        <link rel="stylesheet" href="/static/shangjia/css/shangjia.css" type="text/css">

        <!-- <div class="sj-title sj-margin"><span><?=$title?></span></div> -->
        <div class="form-inline">
        <div class="sj-title sj-margin" style="text-align: center;">
          <span style="border-bottom: none;"><?=$message?>   </span>
          </div>
          <div  class="ordervalid2 btnstyle sj-lock" onclick="history.back()" style="margin:0 auto">返回上一页</div>
         
        </div>    
        <link href="/static/shangjia/css/default.css" rel="stylesheet" type="text/css">
       