/* line 5, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../../../sass-lib/_loading.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 100px;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.375;
}

/* line 10, ../../../../../sass-lib/_loading.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
  background-color: #fff;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../../../../../sass-lib/_loading.scss */
input {
  -webkit-box-sizing: border-box;
}

/* line 23, ../../../../../sass-lib/_loading.scss */
a, input, lable, button, div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 26, ../../../../../sass-lib/_loading.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 30, ../../../../../sass-lib/_loading.scss */
.hide {
  display: none !important;
}

/* line 33, ../../../../../sass-lib/_loading.scss */
.opacity0 {
  opacity: 0 !important;
}

/* line 36, ../../../../../sass-lib/_loading.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
}

/* line 45, ../../../../../sass-lib/_loading.scss */
.loading-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url(/static/images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 93, ../../../../../sass-lib/_loading.scss */
img {
  max-width: 100%;
}

/* line 8, ../sass/h5.scss */
html {
  background-color: #e6e6e6;
}

/* line 11, ../sass/h5.scss */
body {
  background-color: #fff;
  text-align: left;
}

/* line 16, ../sass/h5.scss */
.page {
  position: relative;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
/* line 19, ../sass/h5.scss */
.page .step {
  font-size: 0.15rem;
  margin-top: 0.24rem;
  color: #382980;
  text-indent: 0.25rem;
}
/* line 24, ../sass/h5.scss */
.page .step i {
  font-size: 0.18rem;
  margin-right: 1em;
  font-style: italic;
}

/* line 32, ../sass/h5.scss */
.page-head {
  width: 100%;
  height: 3.7rem;
  margin-bottom: 0;
  background: transparent url("/static/appwebview/app2.2/h5/images/back.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 38, ../sass/h5.scss */
.page-head .dm {
  width: 100%;
  height: 1.75rem;
  padding-top: 0.4rem;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0.12rem;
}
/* line 45, ../sass/h5.scss */
.page-head .dm ul {
  margin-bottom: 0.3rem;
  display: table;
  text-indent: 2em;
  text-align: left;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 54, ../sass/h5.scss */
.page-head .dm li {
  text-indent: 0;
  display: inline-block;
  display: table-cell;
  padding: 0.08rem 0.12rem;
  background-color: #fff;
  white-space: nowrap;
  margin-right: 0.7rem;
  border-radius: 5px;
  box-shadow: -0.01rem 0.025rem 0px 0.01rem #7f6aa9;
  position: relative;
}
/* line 65, ../sass/h5.scss */
.page-head .dm li.br {
  background-color: inherit;
  box-shadow: none;
  padding-left: 0.7rem;
}
/* line 69, ../sass/h5.scss */
.page-head .dm li.br:after, .page-head .dm li.br:before {
  display: none;
}
/* line 73, ../sass/h5.scss */
.page-head .dm li i.emoji-1 {
  display: inline-block;
  width: 0.21rem;
  height: 0;
  position: relative;
  margin-left: 0.05rem;
}
/* line 79, ../sass/h5.scss */
.page-head .dm li i.emoji-1:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.21rem;
  background: transparent url("/static/appwebview/app2.2/h5/images/emoji.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.15rem;
}
/* line 92, ../sass/h5.scss */
.page-head .dm li i.emoji-2 {
  display: inline-block;
  width: 0.22rem;
  height: 0;
  position: relative;
  margin-left: 0.05rem;
}
/* line 98, ../sass/h5.scss */
.page-head .dm li i.emoji-2:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.19rem;
  background: transparent url("/static/appwebview/app2.2/h5/images/emoji1.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.14rem;
}
/* line 111, ../sass/h5.scss */
.page-head .dm li.sp {
  background-color: #2db497;
  box-shadow: -0.01rem 0.025rem 0px 0.01rem #37647b;
  color: #fff;
}
/* line 115, ../sass/h5.scss */
.page-head .dm li.sp:after {
  border-right: 0.06rem solid #2db497;
}
/* line 118, ../sass/h5.scss */
.page-head .dm li.sp:before {
  border-right: 0.09rem solid #37647b;
}
/* line 122, ../sass/h5.scss */
.page-head .dm li:after {
  content: "";
  display: block;
  position: absolute;
  border-right: 0.06rem solid #fff;
  border-top: 0.05rem solid transparent;
  border-bottom: 0.05rem solid transparent;
  top: 50%;
  margin-top: -0.05rem;
  left: -0.06rem;
  z-index: 99;
}
/* line 134, ../sass/h5.scss */
.page-head .dm li:before {
  content: "";
  display: block;
  position: absolute;
  border-right: 0.09rem solid #7f6aa9;
  border-top: 0.075rem solid transparent;
  border-bottom: 0.075rem solid transparent;
  top: 50%;
  margin-top: -0.05rem;
  left: -0.09rem;
  z-index: 9;
}
/* line 148, ../sass/h5.scss */
.page-head .body {
  width: 1.19rem;
  height: 1.135rem;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  background: transparent url("/static/appwebview/app2.2/h5/images/body.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 156, ../sass/h5.scss */
.page-head .body .head {
  width: 1.02rem;
  height: 1.095rem;
  background: transparent url("/static/appwebview/app2.2/h5/images/head.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: -0.8rem;
  left: 50%;
  margin-left: -0.51rem;
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
}
/* line 168, ../sass/h5.scss */
.page-head .cloud {
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: transparent url("/static/appwebview/app2.2/h5/images/white.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 9999;
}

/* line 180, ../sass/h5.scss */
.page-step1 .title {
  width: 3.135rem;
  height: 0.39rem;
  margin: 0 auto;
  margin-bottom: 0.4rem;
  background: transparent url("/static/appwebview/app2.2/h5/images/title1.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 188, ../sass/h5.scss */
.page-step1 .pic {
  width: 3.455rem;
  height: 1.41rem;
  margin: 0 auto;
  background: transparent url("/static/appwebview/app2.2/h5/images/page1.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 197, ../sass/h5.scss */
.page-step2 .pic {
  width: 3.455rem;
  height: 1.16rem;
  margin: 0 auto;
  background: transparent url("/static/appwebview/app2.2/h5/images/page2.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 207, ../sass/h5.scss */
.page-step3 .pic {
  width: 3.455rem;
  height: 1.16rem;
  margin: 0 auto;
  background: transparent url("/static/appwebview/app2.2/h5/images/page3.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 217, ../sass/h5.scss */
.page-step4 .pic {
  width: 3.455rem;
  height: 1.32rem;
  margin: 0 auto;
  background: transparent url("/static/appwebview/app2.2/h5/images/page4.png") left top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 226, ../sass/h5.scss */
.page-foot {
  width: 100%;
  height: 0.7rem;
  background-color: #fff;
  margin-top: 0.5rem;
  background-color: #e6e6e6;
  text-align: center;
  margin-bottom: 0;
}
/* line 234, ../sass/h5.scss */
.page-foot a.btn {
  text-align: center;
  color: #fff;
  padding: 0.12rem 0.6rem;
  display: inline;
  background-color: #472a84;
  font-size: 0.18rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  border-radius: 3em;
}

/* line 250, ../sass/h5.scss */
.animation-1 {
  -moz-animation: dm 10s linear 0s infinite;
  -webkit-animation: dm 10s linear 0s infinite;
  animation: dm 10s linear 0s infinite;
}

@-webkit-keyframes dm {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* line 264, ../sass/h5.scss */
.animation-2 {
  -moz-animation: head 2s linear 0s infinite;
  -webkit-animation: head 2s linear 0s infinite;
  animation: head 2s linear 0s infinite;
}

@-webkit-keyframes head {
  0% {
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  12% {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  24% {
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  36% {
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  48% {
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  60% {
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  72% {
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}
