<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>使用说明</title>
    <style>
    .markdown-body{
      width: 960px;
      margin: 0 auto;
      padding-top: 100px;
    }
    .markdown-body img{
      max-width: 960px;
    }
    .markdown-body h2,.markdown-body h3{
      font-size: 30px;
      margin:5px 0;
      padding:30px 0;
    }
    .markdown-body p{
      margin:20px 0;
      padding:5px;
    }
  </style>
  </head>
  <body>
    <div class="markdown-body">
    <h3 id="1场地锁定" data-source-line="29"><a class="markdownIt-Anchor" href="#1场地锁定"></a>1.场地锁定</h3>
    <p data-source-line="30">*案例：散客“张三”电话预订周一12点~14点的6号场</p>
    <p data-source-line="32"><img src="http://img1.qydimg.com/shangjia/image7.png" ></p>
    <p data-source-line="34"><img src="http://img1.qydimg.com/shangjia/image8.png" ></p>
    <p data-source-line="36"><img src="http://img1.qydimg.com/shangjia/image9.png" ></p>
    <h3 id="2换场操作" data-source-line="38"><a class="markdownIt-Anchor" href="#2换场操作"></a>2.换场操作</h3>
    <p data-source-line="39">*案例：原本“张三”预订的6号场13~15点场地，现在需要更换成16~18点  的场地，只需要把“张三”的订单拉到对应的格子即可完成换场。</p>
    <p data-source-line="41"><img src="http://img1.qydimg.com/shangjia/image10.jpeg" ></p>
    <h3 id="3半点锁场" data-source-line="43"><a class="markdownIt-Anchor" href="#3半点锁场"></a>3.半点锁场</h3>
    <p data-source-line="44">*案例：客人“张三”希望预订6号场12：30~13：30的场地</p>
    <p data-source-line="46"><img src="http://img1.qydimg.com/shangjia/image11.png" ></p>
    <p data-source-line="48"><img src="http://img1.qydimg.com/shangjia/image12.png" ></p>
    <p data-source-line="50"><img src="http://img1.qydimg.com/shangjia/image13.png" ></p>
    <h3 id="4场地取消" data-source-line="51"><a class="markdownIt-Anchor" href="#4场地取消"></a>4.场地取消</h3>
    <p data-source-line="52">*案例：客人“赵五”需要取消场地</p>
    <p data-source-line="54"><img src="http://img1.qydimg.com/shangjia/image14.jpeg" ></p>
    <h3 id="5固定场设置" data-source-line="16"><a class="markdownIt-Anchor" href="#5固定场设置"></a>5.固定场设置</h3>
    <p data-source-line="17">*案例：客人“张三”需要固定每周一9点~11点的固定场
    <p><img src="http://img1.qydimg.com/shangjia/image3.png" ></p>
    <p><img src="http://img1.qydimg.com/shangjia/image4.png" ></p>
    <p data-source-line="21">*因本周场地已经在后台和APP生成</p>
    <p data-source-line="23">所以本周设置的固定场，下周才会开始自动锁定</p>
    <p data-source-line="25">如果客人是本周开始使用固定场，需进行手动锁定</p>
    <p data-source-line="27"><img src="http://img1.qydimg.com/shangjia/image6.png" ></p>
    <h3 id="6场地拆分显示" data-source-line="56"><a class="markdownIt-Anchor" href="#6场地拆分显示"></a>6.场地拆分显示</h3>
    <p data-source-line="57">*案例：客人“赵五”原本订了7、8、9号场的16～18点，现在需要将7号场换到14～16点</p>
    <p data-source-line="59"><img src="http://img1.qydimg.com/shangjia/image15.jpeg" ></p>
    <p data-source-line="61"><img src="http://img1.qydimg.com/shangjia/image16.jpeg" ></p>
    <h3 id="7分拆退场" data-source-line="63"><a class="markdownIt-Anchor" href="#7分拆退场"></a>7.分拆退场</h3>
    <p data-source-line="64">*案例：客人“赵五”原本预订了7、8、9号场，现在需要把7号场取消
    <img src="http://img1.qydimg.com/shangjia/image15.jpeg" ></p>
    <p data-source-line="67"><img src="http://img1.qydimg.com/shangjia/image14.jpeg" ></p>
    <h3 id="8场地延长" data-source-line="69"><a class="markdownIt-Anchor" href="#8场地延长"></a>8.场地延长</h3>
    <p data-source-line="70">*案例：客人“李八”原本预订了13~14点的场地，现在需要再打半小时
    <img src="http://img1.qydimg.com/shangjia/image17.jpeg" ></p><p>
    <img src="http://img1.qydimg.com/shangjia/image18.jpeg" ></p>
    <h3 id="9短信发送" data-source-line="74"><a class="markdownIt-Anchor" href="#9短信发送"></a>9.短信发送</h3>
    <p data-source-line="75"><img src="http://img1.qydimg.com/shangjia/image19.jpeg" ></p>
    <p><img src="http://img1.qydimg.com/shangjia/image20.jpeg" ></p>
    </div>
  </body>
</html>



