/* line 3, ../sass/main.ie.scss */
.page1 .title1 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page1-word.png',sizingMethod='scale');
}
/* line 7, ../sass/main.ie.scss */
.page1 .field {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/banner_0114.png',sizingMethod='scale');
}

/* line 13, ../sass/main.ie.scss */
.page2 .title1 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-1.png',sizingMethod='scale');
}
/* line 17, ../sass/main.ie.scss */
.page2 .title2 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-2.png',sizingMethod='scale');
}
/* line 25, ../sass/main.ie.scss */
.page2 .connect ul li.icon-1 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-3.png',sizingMethod='scale');
}
/* line 31, ../sass/main.ie.scss */
.page2 .connect ul li.icon-2 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-4.png',sizingMethod='scale');
}
/* line 37, ../sass/main.ie.scss */
.page2 .connect ul li.icon-3 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-5.png',sizingMethod='scale');
}
/* line 43, ../sass/main.ie.scss */
.page2 .connect ul li.icon-4 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-6.png',sizingMethod='scale');
}
/* line 49, ../sass/main.ie.scss */
.page2 .connect ul li.fg i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page2-7.png',sizingMethod='scale');
}

/* line 59, ../sass/main.ie.scss */
.page3 .title1 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page3-1.png',sizingMethod='scale');
}
/* line 63, ../sass/main.ie.scss */
.page3 .title2 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page3-2.png',sizingMethod='scale');
}
/* line 67, ../sass/main.ie.scss */
.page3 .word {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page3-3.png',sizingMethod='scale');
}
/* line 71, ../sass/main.ie.scss */
.page3 .mobile {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page3-4.png',sizingMethod='scale');
}

/* line 77, ../sass/main.ie.scss */
.page4 .title1 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page4-1.png',sizingMethod='scale');
}
/* line 81, ../sass/main.ie.scss */
.page4 .title2 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page4-2.png',sizingMethod='scale');
}
/* line 85, ../sass/main.ie.scss */
.page4 .title3 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page4-3.png',sizingMethod='scale');
}
/* line 89, ../sass/main.ie.scss */
.page4 .pic {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page4.jpg',sizingMethod='scale');
}

/* line 95, ../sass/main.ie.scss */
.page5 .title {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page5-1.png',sizingMethod='scale');
}
/* line 99, ../sass/main.ie.scss */
.page5 .word {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page5-2.png',sizingMethod='scale');
}

/* line 105, ../sass/main.ie.scss */
.page6 .title1 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page6-1.png',sizingMethod='scale');
}
/* line 109, ../sass/main.ie.scss */
.page6 .title2 {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page6-2.png',sizingMethod='scale');
}
/* line 119, ../sass/main.ie.scss */
.page6 .list ul li.list-1 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page6-3.png',sizingMethod='scale');
}
/* line 125, ../sass/main.ie.scss */
.page6 .list ul li.list-2 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page6-4.png',sizingMethod='scale');
}
/* line 131, ../sass/main.ie.scss */
.page6 .list ul li.list-3 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page6-5.png',sizingMethod='scale');
}
/* line 137, ../sass/main.ie.scss */
.page6 .list ul li.list-4 i {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page6-6.png',sizingMethod='scale');
}

/* line 146, ../sass/main.ie.scss */
.page7 {
  background: #F4F4F2;
}
/* line 148, ../sass/main.ie.scss */
.page7 .title {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page7-1.png',sizingMethod='scale');
}
/* line 152, ../sass/main.ie.scss */
.page7 .word {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page7-2.png',sizingMethod='scale');
}
/* line 156, ../sass/main.ie.scss */
.page7 .mobile {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page7-3.gif',sizingMethod='scale');
}

/* line 163, ../sass/main.ie.scss */
.footer .t .title {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page8-1.png',sizingMethod='scale');
}
/* line 167, ../sass/main.ie.scss */
.footer .t .erweima {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/erweima.jpg',sizingMethod='scale');
}
/* line 171, ../sass/main.ie.scss */
.footer .t .link {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pc/page8-2.png',sizingMethod='scale');
}
